[2019-10-03 13:27] ericwbailey commented on #844
Howdy, @b3u! I think that's a great observation. Is that something you'd like to try to fix?

[2019-10-03 14:16] b3u commented on #844
Sure!

[2019-10-03 14:37] b3u commented on #844
I'm overthinking it. I went for the gray with a white border and background. Let me know if that's good.

[2019-10-03 14:47] alexroseb commented on #846
@PhilipKrook, does that fix look good?

[2019-10-03 14:51] alexroseb commented on #831
@ljgoslin Unfortunately, I'm going to have to close this issue. Again, we ask you adhere to the contributing guidelines and to use the issue template when submitting events. While we're happy to help promote community events, the time it takes to format them to work with our site adds up.

[2019-10-03 14:58] ljgoslin commented on #831
Hi Alex,

Apologies, I don't follow. What guidelines am I not following when I submit?

Laura

On Thu, Oct 3, 2019 at 10:51 AM Alex Brenon <notifications@github.com>
wrote:

--

Laura Goslin | Event Manager & Marketing Analyst | 989-600-5826

Deque Systems - Accessibility for Good

deque.com

[2019-10-03 15:03] alexroseb commented on #831
Hi Laura!
In our [contributing guidelines](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events), we note that you need to submit event issues either by using the [event issue template](https://github.com/a11yproject/a11yproject.com/issues/new?template=request-to-add-an-event.md) or directly editing [events.yml](https://github.com/a11yproject/a11yproject.com/blob/gh-

[2019-10-03 16:10] #846 closed

[2019-10-06 23:10] ericwbailey commented on #844
Looks great! Thank you so much!

[2019-10-06 23:11] ericwbailey commented on #844
Closed via https://github.com/a11yproject/a11yproject.com/pull/848.

[2019-10-06 23:11] #844 closed

[2019-10-17 11:16] Martin-Pitt opened #850 "Inaccuracy: "A primer to vestibular disorders""
## Summary

I'm concerned about the article telling people to remove all animations entirely when this goes against what I have known as best practices/guidance from the origin of the `prefers-reduced-motion`, namely guidance Apple/WebKit on how to use the media query: https://webkit.org/blog/7551/responsive-design-for-motion/

Specifically this section:

The article also includes useful informati

[2019-10-17 11:36] scottaohara commented on #850
Hi @Martin-Pitt

Thank you for the feedback on this.  You wouldnt happen to be interested in helping to update the article would you?

[2019-10-17 11:39] ericwbailey commented on #850
I would also like to add that while more subtle animations are less of a vestibular concern, they have been known to be triggers for ADHD.

Policies that remove all animation can be extreme, but I view them as a safer bet for addressing a large, unknown audience. The exception to this being animation which helps facilitate education, where removing it would render the concept impossible to learn.

[2019-10-17 12:11] Martin-Pitt commented on #850
@scottaohara Hmmm, I didn't want to step on toes but I could give it a shot. I think it would only need an amend of the "What should you consider?" section.

@ericwbailey I'd still want to leave that policy as a choice to the reader based on their organisation/in-house knowledge.

I would prefer to make people think about their choice of whether to modify or remove an animation over applying a bla

[2019-10-20 13:47] #831 closed

[2019-10-21 00:21] #808 closed

[2019-10-24 16:00] tomlroach opened #853 "Inaccuracy: Incorrect number of ARIA roles"
## Summary
On this page:
https://a11yproject.com/posts/getting-started-aria/

The Aria roles section says:

![image](https://user-images.githubusercontent.com/6569324/67503549-6cd00e80-f64d-11e9-9b55-bc1e310153d9.png)

But then it goes on to list 6 categories of role
![image](https://user-images.githubusercontent.com/6569324/67503580-7a859400-f64d-11e9-8386-a0a31675fe51.png)

### Expected result
I

[2019-10-24 17:28] alexroseb commented on #853
Thanks for the catch, @tomlroach! Please check out #854 and see if that looks good.

[2019-10-24 17:37] #853 closed

[2019-10-26 17:41] jkphl opened #855 "Accessibility Club Summit 2019"
The Accessibility Club Summit 2019 from November 16th-17th in Berlin, Germany, is the Accessibility Club's first ever 2-day community summit for developers, designers & accessibility enthusiasts, jointly run by several a11y meetups from all over Europe. We will have a full-day barcamp on Saturday, November 16th, with 5 pre-assigned international presentations and 10 additional spontaneous sessions

[2019-10-26 18:11] alexroseb commented on #855
@jkphl Thanks for the event submission! Would you mind adding a comment formatting the information as follows please:

## Title

### Description

### URL

### Date

### Type

### Address (if Regional)

### Map (optional)

### Hashtag (optional)

[2019-10-26 18:38] jkphl commented on #855
@alexroseb Sure! We'll have 2 days and 4 locations, hope this works for you. Thanks!

## Title
Accessibility Club Summit 2019

### Description
This is the Accessibility Club's first ever 2-day community summit for developers, designers & accessibility enthusiasts, jointly run by several a11y meetups from all over Europe. We will have a full-day barcamp on Saturday, November 16th, with 5 pre-assign

[2019-10-26 18:45] #855 closed

[2019-11-08 17:42] ljgoslin opened #856 "Webinar: How does the recent SCOTUS decision impact the accessibility legal landscape?"
## Title

### Description

The Supreme Court of the United States (SCOTUS) recently refused to hear the appeal of a major US restaurant. Listen in as Preety and Eve discuss:

A brief history of accessibility and compliance
A breakdown of the recent SCOTUS decision
What to legal compliance activity to expect in the near future
Advice on next steps

### URL

### Date

### Type

[2019-11-08 17:46] ljgoslin opened #857 "IAAP & Deque Webinar: Digital Compliance in the Healthcare Industry"
## Title

### Description

### URL

### Date

### Type

[2019-11-08 17:49] ljgoslin opened #858 "Smashing and Deque: Translating Design Wireframes Into Accessible HTML/CSS"
## Title

### Description

### URL

### Date

### Type

[2019-11-08 18:45] #856 closed

[2019-11-08 18:46] #857 closed

[2019-11-08 18:46] alexroseb commented on #858
Thanks for the event updates!

[2019-11-08 18:46] #858 closed

[2019-11-12 06:15] erinoerin opened #859 "Article Update: Safari keyboard navigation"
Proposal for 3 Updates:

1. Rename article. This article covers keyboard navigation for all browsers on MacOS, not just Safari. Suggested name: Browser Keyboard Navigation in MacOSX. (Alternatively: make a new article for each browser)
2. Screenshots are now out of date. As of Catalina, there is only one option: "Use keyboard navigation to move focus between controls". Suggestions: Either replace

[2019-11-12 20:23] ericwbailey commented on #859
Hi @erinoerin! We would love it if you could submit a PR to that article to update it. I've been personally holding off on Catalina, so I didn't realize the changes were so, uh, pervasive.

[2019-11-19 18:25] ljgoslin opened #862 "Webinar: What to look for in an accessibility audit"
## Title

### Description

### URL

### Date

### Type

[2019-11-20 21:24] ctrimm commented on #738
Since #793 was closed out, this could probably be closed out as well.

[2019-11-21 00:00] ericwbailey commented on #738
We're going to keep this open as a reminder. We're using a different a different site generator, so we'll need to update our redirect logic.

[2019-11-21 00:20] #859 closed

[2019-11-21 00:35] ericwbailey commented on #862
Closed via https://github.com/a11yproject/a11yproject.com/commit/62911d77dc678277006bb5658f58f86c897c6bbe.

[2019-11-21 00:35] #862 closed

[2019-11-21 15:25] gkirk16 opened #864 "Free Webinar on Accessible Edtech: How Clever made accessibility changes that impact millions of K-12 students"
[Clever](https://clever.com/), the most widely used SSO platform for K-12 education, undertook accessibility changes that impacted millions of students, teachers and administrators country-wide. Hear from their Director of design, James Reffell, and Software Engineer, Anthony Fumagalli, on how they approached accessibility for their site, which has a far-reaching impact in US education.

Link to S

[2019-11-21 16:56] danburzo commented on #859
Hi everyone, saw the article update in my RSS reader. I wanted to chip in with this [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1587962) that tracks Firefox's macOS Catalina behavior. Seems it will be fixed in either FF 71, or 72, so manually altering `about:config` should not be needed in the (near) future.

[2019-11-21 17:12] erinoerin commented on #859
Nice! It looks like tab behavior is working in Firefox Developer Edition 71.0b11, so that’s promising.

[2019-11-23 17:25] ericwbailey commented on #864
Hi @gkirk16. Thank you for submitting this event. Please reformat it to use [the event issue template](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/.github/ISSUE_TEMPLATE/request-to-add-an-event.md), as outlined in our [contributing documentation](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events).

[2019-11-23 17:26] ericwbailey commented on #859
Confirmed on my end. @erinoerin, could I trouble you to update the article when it hits stable? I think it'd be good to include the current Firefox workaround in the update, just in case.

[2019-11-25 15:12] gkirk16 commented on #864
Hi @ericwbailey, my apologies (first time submitting!). Resubmitting in proper template.

[2019-11-25 15:12] #864 closed

[2019-11-25 15:15] gkirk16 opened #865 "Webinar: Accessible Edtech: How Clever made accessibility changes that impact millions of K-12 students"
## Title

### Description

### URL

### Date

### Type

[2019-11-25 22:59] ericwbailey commented on #865
Closed via https://github.com/a11yproject/a11yproject.com/commit/9fe603f50469a296245498d42a719fabe21cb63a. Thank you!

[2019-11-25 22:59] #865 closed

[2019-11-26 00:56] erinoerin commented on #859
@ericwbailey sure thing!

[2019-12-16 16:25] mndrsn opened #871 "Inaccuracy: JAWS is an acronym; HTML is an initialism"
## Summary
We have an opportunity to be a bit more specific when discussing acronyms versus initialisms on the article [Quick Tip: a11y and a brief numeronyms primer](https://a11yproject.com/posts/a11y-and-other-numeronyms/).

### Expected result

### Actual result

### Additional Information
While the term acronym is commonly used to refer to both types of abbreviations, I feel like we have the o

[2019-12-16 20:58] ericwbailey commented on #871
Thanks for the further clarification, @mndrsn! I agree, the more specific we can be about the issue, the better. I also agree about the sentence length concerns—would you be comfortable drafting a PR so we could work on the issue together?

[2019-12-16 21:06] alexroseb commented on #871
What about:

[2019-12-16 21:12] mndrsn commented on #871
I like what @alexroseb has recommended above in terms of a light restructuring. I can get a PR drafted with this content stubbed in as a starting point, or potential conclusion.

[2019-12-16 21:13] ericwbailey commented on #871
That's great! Thank you!

[2019-12-17 20:09] mndrsn commented on #871
@ericwbailey I've forked gh-pages and have submitted a PR for the change. Is there anything left for me to do on my end? Thanks in advance for your patience, it's been some time since I've submitted a PR to an external repo.

[2019-12-17 23:28] ericwbailey commented on #871
Hm, I'm not seeing it. Did you push the PR up to your repo, or ours?

[2019-12-18 00:05] mndrsn commented on #871
I pushed it up to mine.

[2019-12-18 16:13] ericwbailey commented on #871
Ok, that would do it. Would you mind pushing it to this repo instead? That way we can merge your changes in.

[2019-12-23 20:49] mndrsn commented on #871
@ericwbailey I'm getting the following error (see screenshot). It appears that I do not have privs to push to origin. I did all of the log out, log back in, etc. Also set up SSH on my machine. Not quite sure what's going on.
![Screen Shot 2019-12-23 at 2 46 05 PM](https://user-images.githubusercontent.com/13057402/71380056-75808a80-2593-11ea-8f39-6848b14871a6.png)

[2019-12-31 19:53] Pythonidaer commented on #663
This is a very cool idea! I am new to the game but if I can ever help I will let you all know.

I was wondering: would comprehensiveness of the a11y project (checklists and whatnot) increase if videos were uploaded to the website? If so, then would those videos summarizing pages in more "plain-speak" (less jargon) be a useful guideline for what topics should be covered in videos?

Just a thought.

[2020-01-10 18:55] ljgoslin opened #872 "Build vs. Buy: Automated Accessibility Tools"
## Title
Build vs. Buy: Automated Accessibility Tools

### Description

- The time, resources, and effort it takes to support and maintain a “built” solution

- How a “bought” solution can put you at a better starting point to address accessibility

- Features in “bought” solutions such as HTML reporting, dashboards, supported out of the box bindings, and custom rules.

### URL

### Date

### Type

[2020-01-13 01:57] ericwbailey commented on #872
Closed via https://github.com/a11yproject/a11yproject.com/commit/0abd31fa520f37d2066041d3ea01ccf5f390af59. Thank you!

[2020-01-13 01:57] #872 closed

[2020-01-15 14:47] ljgoslin opened #873 "React and Accessibility Webinar"
## Title

### Description

However, React has also developed a stigma within the accessibility community that web applications created in React are not accessible. The fact is though that React does, in fact, have a lot of accessibility that is built into the framework, and that it also has a large community of accessible add-ons that can help you achieve accessible components.

In this webinar, M

[2020-01-19 20:44] ericwbailey commented on #873
Closed via https://github.com/a11yproject/a11yproject.com/commit/f781b7ba814171164b9d6f0dfa082635539765e2. Thank you!

[2020-01-19 20:44] #873 closed

[2020-01-20 15:01] scottaohara opened #874 "article redirect not working"
The Safari keyboard article had the URL of https://a11yproject.com/posts/safari-keyboard-navigation/

It was updated in Nov. 2019 and the URL was changed to https://a11yproject.com/posts/macos-browser-keyboard-navigation/

There is a redirect noted in the markdown file, but the old URL goes to a 404 page rather than the new article.

[2020-01-22 20:15] ljgoslin opened #875 "Webinar: Customer Service for People with Disabilities"
## Title

### Description

- Identify etiquette principles for respectful interactions.
- Recognize appropriate language to use.
- Effectively and respectfully respond when you are approached by customers with different types of disabilities.
- Develop strategies for providing equal access to customers with disabilities.
- Identify strategies and auxiliary aids for effective communication.

### UR

[2020-01-23 02:13] #875 closed

[2020-01-23 19:23] ericwbailey commented on #737
[GoatCounter](https://www.goatcounter.com/) also looks promising.

[2020-02-12 18:24] EricaBraverman opened #879 "John Slatin AccessU"
Hello, I would like to add the following conference to your events list please:

[John Slatin AccessU](https://knowbility.org/programs/accessu/2020/)
May 11-14 2020
Austin, Texas, United States
Both in-person and online sessions
Organizer: [Knowbility](https://knowbility.org/)

AccessU is the only three-day, hands-on conference that provides tools that can immediately be put to use by designers, d

[2020-02-13 01:24] ericwbailey commented on #879
Closed via https://github.com/a11yproject/a11yproject.com/commit/e38d77bb9079a8c082421fa47431e20680f1cdbd. Thank you!

[2020-02-13 01:24] #879 closed

[2020-02-13 16:57] EricaBraverman commented on #879
Hi Eric, thank you so much for posting our conference!

I am so sorry, I should have clarified this - the La Posada address is our office but the conference itself will take place at:

St. Edward's University
3001 South Congress Avenue
Austin, TX 78704

Can you please change the event address to this?
Thank you so much,
Erica

[2020-02-14 21:52] ericwbailey commented on #879
All set!

[2020-02-23 01:37] bistaastha commented on #674
@scottaohara Hi! Can I work on this?

[2020-02-23 18:27] scottaohara commented on #674
Go for it!

[2020-02-24 16:57] teleject opened #880 "AccessU Online 2020"
Knowbility brings together some of the Web's most notable experts in digital accessibility for an all-new, full-day online conference, the AccessU Online! Bring the experts to your desktop May 14, 2020 from 9AM to 4:30PM (CT).

https://knowbility.org/programs/accessu/2020/accessu-online/

[2020-02-24 20:18] SMotaal opened #881 "Article: Accessibility Lanes!"
## Description

As someone who could once overcome difficulties in their world through the use of computers, in more recent years, this all started falling apart.

Sure, people have all kinds of differences, but there is a big problem when the world keeps introducing "fast lanes" for the mainstream of folks, each adhering or not to any given subset of the accessibility requirements. The problem no

[2020-02-24 21:44] ericwbailey commented on #880
Hi Christopher! Closed via https://github.com/a11yproject/a11yproject.com/commit/43e0c00226ab0a6a7654c8efceb9a0f0ff929992, best of luck with the webinar!

[2020-02-24 21:44] #880 closed

[2020-02-25 21:32] JAWS-test opened #882 "Inaccuracy: High Contrast Mode"
Section "High Contrast Mode" in Article "Operating System and Browser Accessibility Display Modes": https://a11yproject.com/posts/operating-system-and-browser-accessibility-display-modes/#high-contrast-mode

That's not true. The HCM overwrites the colours, but it is also possible to select specific colours that have little contrast, e.g. if someone is sensitive to glare

That's not true. Only in a

[2020-02-27 03:54] teleject opened #883 "Authoring Accessible Content Workshop"
March 26, 2020

Learn how semantic HTML is the foundation for websites and an integral part of digital accessibility. By following semantic HTML and organizing content, your web presence will gain more users, allow for easier to maintain code, and support current accessibility requirements.

https://knowbility.org/services/training/authoring-accessible-content/

[2020-02-28 14:55] ericwbailey commented on #883
Closed via https://github.com/a11yproject/a11yproject.com/commit/2aab881fbf9560894220f46dde12bac23a7810ad. Thank you!

[2020-02-28 14:55] #883 closed

[2020-03-03 01:38] teleject opened #884 "Hands on Training Accessibility Testing Workshop Webinar"
April 2, 2020

Ensuring accessibility into our sites and apps should be seen as a challenge rather than a chore. By working on real life sites, as well as some code snippets, this workshop will demonstrate an accessibility testing workflow, which can be integrated into your own coding workflow. Also, we will include a review of automated testing, and hands-on manual testing using a variety of tool

[2020-03-03 21:32] ericwbailey commented on #884
Hey @teleject, mind updating this to use the event issue template?

[2020-03-03 22:25] teleject commented on #884
@ericwbailey , don't mind. I didn't know there was one!

[2020-03-03 22:27] teleject opened #886 "Hands on Training Accessibility Testing Workshop"
Please provide the following information to streamline adding your event to the site! Delete this boilerplate or any other information that doesn't apply to your event.

Please review our Contributing guidelines:
https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events

## Title
Hands on Training Accessibility Testing Workshop

### Description
Ensuring accessibility into

[2020-03-03 22:27] #884 closed

[2020-03-04 16:19] ericwbailey commented on #886
Closed via https://github.com/a11yproject/a11yproject.com/commit/4f670f658b7cba1db58305d7d91e5bf6c4622b2d. Thank you!

[2020-03-04 16:19] #886 closed

[2020-03-04 16:50] #674 closed

[2020-03-10 15:23] ljgoslin opened #887 "2019 Accessibility Trends"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:04] ljgoslin opened #888 "Agile Accessibility for Good"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:06] ljgoslin opened #889 "What's new in axe"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:08] ljgoslin opened #890 "Meet axe Pro"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:10] ljgoslin opened #891 "The ROI of Accessibility"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:11] ljgoslin opened #892 "Creating Sustainable Mobile Accessibility Programs"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:23] ljgoslin opened #893 "Accessibility Monitoring and Benchmarking"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:25] ljgoslin opened #894 "Using Automation to Test UI Components for Accessibility"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:28] ljgoslin opened #895 "Inclusive & Universal: 2 Sides of the Same Design Coin?"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:29] ljgoslin opened #896 "Metrics Reporting for Accessibility Programs"
## Title

### Description

accessibility testing efforts. To hold weight, these metrics need to be both; actionable and
relevant. In this virtual session, Greg Williams will break down a collection of appropriate accessibility metrics for IT management, central accessibility function/teams (if you have one), senior management and execs.

### URL

### Date

### Type

[2020-03-10 20:32] ljgoslin opened #897 "The Power and Perils of Empathy/Accessibility Labs"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:34] ljgoslin opened #898 "A Practical Enterprise Accessibility Program"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:35] ljgoslin opened #899 "Developer Testing for Accessibility"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:36] ljgoslin opened #900 "Automated Testing for the 21st Century Government"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:42] ljgoslin opened #901 "A11y Policy and Governance: Building a Control Structure"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:45] ljgoslin opened #902 "14 Seconds from Failure: What Apollo 11 Can Teach Us"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:47] ljgoslin opened #903 "Accessibility Overlays: The Fix Before A11y Transformation"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:48] ljgoslin opened #904 "Axe Clean? Expand Your Accessibility with Page Insights"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 20:50] ljgoslin opened #905 "Using Axe to Optimize Trusted Tester V5"
## Title

### Description

### URL

### Date

### Type

[2020-03-10 23:54] ericwbailey commented on #905
@ljgoslin We currently don't support time of day for an event. What do you think about combining this and the other events for one for general announcement about your CSUN streaming event into one more general announcement?

[2020-03-11 14:18] ljgoslin commented on #905
Hi Eric!

Thanks for the update, one general announcement sounds fine to me!

Laura

On Tue, Mar 10, 2020 at 7:55 PM Eric Bailey <notifications@github.com>
wrote:

--

Laura Goslin | Event Manager & Marketing Analyst | 989-600-5826

Deque Systems - Accessibility for Good

deque.com

[2020-03-12 20:52] ericwbailey commented on #905
Thanks for being flexible with this, I really appreciate it. Could I trouble you to submit a new issue with the content I should use?

[2020-03-14 17:32] kameronahler opened #906 "Inaccuracy: duplicate `id` in getting started with aria `code` example"
## Summary
I believe the [Getting Started with ARIA article](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_posts/2014-05-15-getting-started-aria.md#L99) has a duplicate `id` in the "Role, state, and property together in a Tab control" section's code example.

## Expected
[code]

## Actual
[code]

[2020-03-14 22:17] #906 closed

[2020-03-18 00:00] erinoerin opened #908 "Article Update: Browser Keyboard Navigation in macOS"
Update article to reflect Firefox respects macOS keyboard settings. A follow up to Issue #680.

[2020-03-18 20:30] ericwbailey commented on #882
Thank you for your feedback, @JAWS-test. Some replies:

I'm speaking more towards intent and less towards mechanism. Additionally, while possible, I would consider selecting specific colors an antipattern as you want to be relying on color keywords because HCM themes can be customized.

I am familiar with UAAG . An application can be WCAG compliant, but still not have sufficient contrast needs for

[2020-03-25 10:00] JAWS-test commented on #882
@ericwbailey

Intent of the HCM or the users who use HCM? The intent of the users can be to use lower contrasts or simply to exchange light and dark (i.e. foreground and backround, without improving the contrast)

This is not an antipattern, but exactly the big advantage of HCM in opposition to other tools that only adjust the contrast (like Chrome). And it is exactly what the UAAG demands. Users

[2020-03-25 19:41] JAWS-test commented on #882
I suggest that this paragraph be removed or thoroughly revised. Removal would be preferable:
* Internet Explorer is an outdated and rarely used browser
* The paragraph is difficult to understand
* The paragraph is wrong

If the paragraph is revised, please note that -ms-high-contrast and the Windows system colors have nothing to do with each other.

* -ms-high-contrast is used to determine whether

[2020-03-26 07:14] JAWS-test commented on #882
This is also not true. Chromium Edge fully support -ms-high-contrast.

forced-colors media query
* is not supported by IE 11, Chrome and Firefox.
* is supported by Chromium Edge

prefers-color-scheme
* is supported by Chome for HCM and Dark Mode
* is supported by Firefox only for Dark Mode
* is supported by Chromium Edge only for HCM

[2020-03-26 18:34] ljgoslin opened #910 "How to Act and Understand Accessibility Right Now"
## Title

### Description

In this live webinar, Deque's experts will cover what it takes to make essential business functionality accessible to all and what it takes to make a difference right now.

### URL

### Date

### Type

[2020-03-26 20:58] ericwbailey commented on #882
The advice is for _devlopers_ to not pick exact colors, so as to facilitate _users_ being able to achieve this.

If there is not perfect support then I do not feel comfortable recommending it for use, as it will have inconsistent behavior. And I say this as a loyal Firefox user.

I will remove this, but re-enter the advice when Chrome is compliant. I will also try to update your subsequent comment

[2020-03-27 06:15] JAWS-test commented on #882
No, I don't understand that. Do you think that no colors should be defined at all to comply with WCAG 1.4.8? This is not necessary with HCM, because the colors are automatically overwritten, whether they are explicitly defined by the developer or not.

CSS2 color keywords are overwritten by HCM just like all other colors (except inside SVG). See https://codepen.io/jaws-test/pen/abOQNOP

[2020-03-27 15:31] ericwbailey commented on #910
Closed via https://github.com/a11yproject/a11yproject.com/commit/1d648bc42c759bfcfe60c23a099cbf65b918f0da. Thank you!

[2020-03-27 15:31] #910 closed

[2020-03-27 15:38] ericwbailey commented on #882
Color is user defined in selecting a HCM theme. The color will default to the OS' HCM mechanism's default theme, unless another HCM theme is chosen, or a user specifies a custom HCM theme.

[2020-03-28 08:38] anevins12 opened #911 "Article: Learning common screen reader shortcuts"
## Description
There is already a wealth of information on keyboard shortcuts for screen readers, but the reading format of that information never really changes. It's always either linearly in a list or in a table. It's text-heavy and the shortcuts are not easy to remember. Especially when remembering them for multiple assistive technologies.

The point of this article is to help people digest th

[2020-04-06 20:42] anevins12 opened #913 "Article: What is required for WCAG 2.1"
## Description
With the era of automated testing there's a greater need to decipher testing results into genuine issues from false positives. Automated testing tools often report issues that are not necessarily failures of WCAG 2.1. Without being an accessibility expert, it seems there is no clear way to filter genuine conformance problems.

The main idea of the article is teaching everyone how th

[2020-04-08 13:30] ljgoslin opened #914 "Digital Accessibility Legal Update"
## Title

### Description

Kristina Launey is a Counselor, Trainer, and Litigator who partners with businesses to develop best practices and ensure compliance with federal and state employment and anti-discrimination laws, including the Americans with Disabilities Act, California's Unruh and Disabled Persons Act, and other state and federal laws.

She has extensive experience assisting clients wit

[2020-04-09 13:36] ljgoslin opened #915 "Intro to Accessible Online Learning"
## Title

### Description

Ensuring that Learning Management Systems (LMS) and teaching methodologies are accessible is critical for students with disabilities. In this introductory webinar, attendees will learn:

- An Intro to Accessibility in EDU
- An Intro to accessible online learning
- Etiquette and overlooked best practices for accessible learning
- Accessibility best practices for major lea

[2020-04-09 16:31] ericwbailey commented on #915
Closed via https://github.com/a11yproject/a11yproject.com/commit/863dbf128c941aba57fc6f713bc2182f885ba232. Thank you!

[2020-04-09 16:31] ericwbailey commented on #914
Closed via https://github.com/a11yproject/a11yproject.com/commit/863dbf128c941aba57fc6f713bc2182f885ba232. Thank you!

[2020-04-09 16:31] #914 closed

[2020-04-09 16:32] #915 closed

[2020-04-10 20:48] ericwbailey commented on #882
Closed via https://github.com/a11yproject/a11yproject.com/commit/dd5263eac78d1bd7018e14e6e8ed264a83e221c3.

@JAWS-test This exchange was not pleasant for me as a site maintainer. You did not provide resources when asked, conflated opinion with fact, and misrepresented a lot of information, forcing us to re-research material referenced to write this article. In addition, your tone made this dialog

[2020-04-10 20:48] #882 closed

[2020-04-14 20:10] ljgoslin opened #916 "The Basics of Remediating an Inaccessible PDF"
## Title

### Description

This webinar is designed for those who are new to PDF accessibility remediation or those who want a refresher. It will cover such subjects as:

Changing existing tags
Creating new tags
Working with simple lists and tables
Tagging content as an artifact.

### URL

### Date

### Type

[2020-04-15 21:28] ericwbailey commented on #916
Closed via https://github.com/a11yproject/a11yproject.com/commit/3cb8b8b83c647211569b60117bf5ab22c4c101df. Thank you!

[2020-04-15 21:28] #916 closed

[2020-04-22 00:57] ericwbailey commented on #737
[Plausible](https://plausible.io/), as well

[2020-04-28 14:38] ljgoslin opened #917 "Accessible Images When It Matters Most"
## Title

### Description

- The different types of images - decorative vs informative (plus actionable, emotional, simple, and complex)
- Accessibility of informational images created during the COVID-19 pandemic
- Which image elements we need to incorporate in our designs to make our images more inclusive to all.

### URL

### Date

### Type

[2020-04-29 18:59] ljgoslin opened #918 "GAAD 2020: Virtual Panel - Teleworking for People with Disabilities"
## Title

### Description

.

### URL

### Date

### Type

[2020-04-29 19:01] ljgoslin opened #919 "GAAD 2020: Basic Accessibility Fundamentals Bootcamp"
## Title

### Description

### URL

### Date

### Type

[2020-04-29 19:03] ljgoslin opened #920 "GAAD 2020: Intro to Agile Accessibility"
## Title

### Description

### URL

### Date

### Type

[2020-05-06 05:36] #908 closed

[2020-05-06 19:36] ljgoslin opened #921 "GAAD 2020: Digital Accessibility Legal Update"
## Title

### Description

### URL

### Date

### Type

[2020-05-07 03:56] erinoerin opened #922 "Article: A primer to accessibility principles"
## Description
A short explanation of the POUR principles.

## Would you like to write the article or request that it be written?
I'll write it.

[2020-05-07 03:57] ericwbailey commented on #922
Heck yes!

[2020-05-07 04:08] xirclebox commented on #922
I would. POUR is one of my conference talks.

[2020-05-09 19:30] ericwbailey commented on #921
Closed via https://github.com/a11yproject/a11yproject.com/commit/1e998bcb4191e253b7dbb345a07157d7841f7926.

[2020-05-09 19:30] #921 closed

[2020-05-09 19:30] ericwbailey commented on #920
https://github.com/a11yproject/a11yproject.com/commit/1e998bcb4191e253b7dbb345a07157d7841f7926

[2020-05-09 19:30] #920 closed

[2020-05-09 19:31] ericwbailey commented on #919
Closed via https://github.com/a11yproject/a11yproject.com/commit/1e998bcb4191e253b7dbb345a07157d7841f7926.

[2020-05-09 19:31] #919 closed

[2020-05-09 19:31] ericwbailey commented on #918
Closed via https://github.com/a11yproject/a11yproject.com/commit/1e998bcb4191e253b7dbb345a07157d7841f7926.

[2020-05-09 19:31] #918 closed

[2020-05-09 19:31] ericwbailey commented on #917
Closed via https://github.com/a11yproject/a11yproject.com/commit/1e998bcb4191e253b7dbb345a07157d7841f7926.

[2020-05-09 19:31] #917 closed

[2020-05-10 13:45] Mshaffar opened #923 "Article: [Your title]"
Delete this boilerplate or any other information that doesn't apply to your article.
Please review our [contributing guidelines](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#submitting-content).

## Description

## Would you like to write the article or request that it be written?

[2020-05-11 18:51] stevepera opened #924 "Error on Checklist"
On the very first item under the first category: Content, Use plain language.  The success criteria should be "3.1.5 Reading Level".  The current criteria "3.1.2 Language of Parts" does not address using plain language.

[2020-05-11 20:17] stevepera opened #925 "Error on Checklist"
Under "Content,  Use left-aligned text for left-to-right languages...", the criteria should be "1.4.8 Visual Presentation" , not "1.3.1 Info and Relationships".

[2020-05-13 18:06] #924 closed

[2020-05-13 18:07] ericwbailey commented on #925
Ah, great call, thank you. Closed via https://github.com/a11yproject/a11yproject.com/commit/843e9bd346b3a9548ab90630c7459a9f591c90a0. Also see https://github.com/a11yproject/a11yproject.com/issues/924.

[2020-05-13 18:07] #925 closed

[2020-05-13 18:08] ericwbailey commented on #924
All set! Closed via https://github.com/a11yproject/a11yproject.com/commit/843e9bd346b3a9548ab90630c7459a9f591c90a0. Also see https://github.com/a11yproject/a11yproject.com/issues/925.

[2020-05-15 15:01] AutoSponge opened #927 "Advisory Technique as Success Criteria (G201)"
ref: https://a11yproject.com/checklist/#identify-links-that-open-in-a-new-window

From the Introduction

This section only references the advisory technique G201. It's not required for conformance (although I wish it were) so something may need to change to make it clear that this is (for now) a best practice.

[2020-05-16 01:37] ericwbailey commented on #927
Oh hm, you're right. How does this sound to you?

[2020-05-17 14:17] AutoSponge commented on #927
LGTM 👍

[2020-05-17 22:35] ericwbailey commented on #927
Closed via https://github.com/a11yproject/a11yproject.com/commit/2d63ee5c02b6445937fa7bed013f2cf3613e3ef5. Thank you!

[2020-05-17 22:35] #927 closed

[2020-05-24 01:33] nainardev commented on #923
better close this issue

[2020-05-24 14:04] #923 closed

[2020-05-27 13:34] duncanjimbo commented on #874
We can close this as the fix has been resolved

[2020-05-27 13:36] ericwbailey commented on #874
Thanks for the head's up, and for the fix. Closing now.

[2020-05-27 13:36] #874 closed

[2020-06-26 19:46] ljgoslin opened #931 "Intro to Word Document Accessibility Webinar"
## Title

### Description

Headings, fonts, color contrast, and appearance
Tables, Charts, Graphs
Image alt text and long descriptions
Using the Accessibility Checker
Exporting to other formats (HTML, PDF, EPUB)

### URL

### Date

### Type

[2020-06-29 22:03] ericwbailey commented on #931
Closed via https://github.com/a11yproject/a11yproject.com/commit/db4b34682127ac9a8c25ca82f81f67ee092724b7. Thank you!

[2020-06-29 22:03] #931 closed

[2020-07-05 18:03] ericwbailey opened #932 "Ensure each Project card has a corresponding GitHub issue"
This will help people involved with the project better understand the mid-and longer-term things that we'll be working on, as well as help with discovery.

[2020-07-12 15:28] ericwbailey opened #933 "Audit redesign font sizes and turn them into variables"
The redesign uses a lot of repetitive measurement declarations for font sizing (`1rem`, `1.25rem`, `1.5rem`, etc.). We should:

- [x] Search through all font size declarations,
- [x] See what declarations are commonly repeated and turn them into a set of Sass variables
- [x] Generate companion utility classes
- [x] Identify outliers and see if they can be normalized
- [x] Apply utility font sizes

[2020-07-12 15:31] ericwbailey opened #934 "Audit redesign spacing sizes and turn them into variables"
The redesign uses a lot of repetitive measurement declarations for distance sizing (1rem, 1.5rem, 2rem, etc.). We should:

- [ ] Search through all `margin` and `padding` declarations,
- [ ] See what declarations are commonly repeated and turn them into a set of Sass variables
- [ ] Incorporate them into existing spacing utility classes
- [ ] Identify outliers and see if they can be normalized

[2020-07-12 15:34] ericwbailey opened #935 "Remove unused CSS"
Currently, the process we use for delivering CSS is to manually determine if it's used in the site. This approach is okay for now, but will be unsustainable as the site continues to grow and more people work on it independently.

We should augment our existing Gulp CSS-related tasks with one that determines if CSS is being used or not before being deployed. Something along the lines of [purgecss](

[2020-07-12 15:37] ericwbailey opened #936 "Use semantic versioning for cache busting"
We are now using [semantic versioning](https://semver.org/) for the site. This provides us with an excellent opportunity to tie the site's versioning to situations where the number can be used for things like cachebusting our CSS.

Currently, the site uses a manual `yyyymmdd` format to accomplish this. It would be great if we could expose the semver number as a variable and use that instead. This

[2020-07-12 15:41] ericwbailey commented on #717
Closing this issue as each page has been captured and will be published with the redesign's launch.

The goal of this issue was to facilitate the creation of these pages. Now that they're made, I consider this issue resolved. I figure we can have more targeted and effective per-page conversations on a per-issue/PR-basis, should the need arise.

[2020-07-12 15:41] #717 closed

[2020-07-12 15:46] ericwbailey opened #937 "Set up environment variables"
Adding environment variables will allow us to differentiate between local development and the live, published site. This is great for things like ensuring our analytics are accurate, as well as better CI/CD integration (not to mention clever things like creating favicons to indicate if the site is live or not when working on it).

Here's a good starting point on setting this up in Eleventy: https:

[2020-07-12 15:53] ericwbailey opened #938 "Add author's posts to their profiles"
Currently, the author's profile cards only list their name, website, and bio information. We should also link to each of their posts, so someone can more quickly understand all their writing contributions.

[2020-07-12 15:58] ericwbailey opened #939 "Add dark mode support"
[Dark mode](https://a11yproject.com/posts/operating-system-and-browser-accessibility-display-modes/#dark-mode) is a nice way for some users to use a website without triggering things like migraines or nausea.

It would be nice to include dark mode support for this site. We would want:

- [ ] An accessible, semantic toggle for the control
- [ ] Styling that integrates into our existing Sass setup,

[2020-07-12 16:55] ericwbailey opened #940 "Add functionality to expand/collapse sections of the checklist, or the entire checklist page"
Each section of the [Checklist](https://a11yproject.com/checklist/) (Content, Keyboard, Controls, etc.) should have the ability to mass-toggle each `details` element in it open or closed. Additionally, it would be great to have a toggle that could do this for the entire Checklist page.

The global toggle should override expanded/collapsed state for each section, as it is the "parent" control. The

[2020-07-12 16:59] ericwbailey opened #941 "details/summary support for Internet Explorer 11"
## Summary

Clicking or keyboard activation does not work for the details/summary elements on the site in Internet Explorer 11.

Example:
1. Open Internet Explorer 11 and go to https://a11yproject.com/checklist/
1. Attempt to activate a checklist `details` element to toggle it open

### Expected result

The `details` element should expand open.

### Actual result

The `details` element does not ex

[2020-07-12 17:02] ericwbailey opened #942 "Add checkboxes to checklist items"
Currently the site has no mechanism to let a user check off something in the checklist to mark it as reviewed.

We should add the ability for someone to check each item on [the Checklist page](https://a11yproject.com/checklist/) off to indicate completion.

- [ ] Incorporate a checkbox pattern
- [ ] Make sure it does not have nested interactive control issues, especially with screen readers/voice

[2020-07-12 17:26] SaptakS commented on #940
If no one is looking into this, I would love to work on this.

[2020-07-12 17:27] SaptakS commented on #942
If no one is looking into this, I would love to work on this.

[2020-07-12 17:39] ericwbailey commented on #940
@SaptakS That would be great! Mind waiting until Wednesday the 15th to start? We've got some, um, pretty big breaking changes that are going to get deployed 😁

[2020-07-12 17:40] ericwbailey commented on #942
@SaptakS Yeah! Same deal as #940?

[2020-07-12 18:58] SaptakS commented on #940
Sure! Sounds good!

[2020-07-12 18:58] SaptakS commented on #942
Works!

[2020-07-15 18:12] aniketkudale commented on #935
PurgeCSS looks perfect choice for this, I would like to work on this.

[2020-07-15 18:38] ericwbailey commented on #935
Heck yes, thank you!

[2020-07-15 18:39] ericwbailey opened #948 "Refactor profile photos"
We use a circular photo treatment for photos of team members, authors, and industry spotlights. The underlying Sass is tied to the component the photo is placed on, and not the photo treatment itself.

This signals an opportunity to break the photo treatment out into its own component.

[2020-07-15 18:46] ericwbailey opened #949 "Double-check gulp JavaScript concatination"
JavaScript is supposed to be concatenated from individual script files placed in the `js` folder via gulp. I'm skeptical.

[2020-07-15 18:48] ericwbailey opened #950 "Safari CSS issues"
Our CSS needs a little love when it comes to Safari. Currently there are layout bugs for:

- [x] The `details`/`summary` elements for the Table of Contents component.
- [x] Focus state on sponsors
- [x] Layout of homepage cards on mobile

More added here as they're discovered.

[2020-07-15 18:53] ericwbailey commented on #513
Updating the thread to say that with the redesign we've deprecated the patterns page. It requires non-trivial effort to keep current, and there hasn't been a lot of movement to do this.

I'm also concerned about the issues with developers missing context, so I think a better way is to handle patterns on a per-post basis. This aligns with the redesign's goals of focusing on posts, as well as helpin

[2020-07-15 18:54] ericwbailey commented on #647
Updating to say we've added a bunch of [Help Wanted](https://github.com/a11yproject/a11yproject.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22) tags!

[2020-07-15 18:55] ericwbailey commented on #700
Closing for inactivity. @motchie, feel free to re-open if there's progress.

[2020-07-15 18:55] #700 closed

[2020-07-15 18:56] ericwbailey commented on #707
We have deprecated who to follow. There's an orphan page to not break existing links that links to Joe's list.

[2020-07-15 18:56] #707 closed

[2020-07-15 18:56] ericwbailey commented on #721
Patterns have been deprecated.

[2020-07-15 18:56] #721 closed

[2020-07-15 18:57] ericwbailey commented on #763
Closing for inactivity.

[2020-07-15 18:57] #763 closed

[2020-07-15 18:59] ericwbailey commented on #871
@mndrsn Sorry for the extremely late reply. Long and short, 2020 happened. We've replatformed, so there might need to be some work on updating the PR to match our new CMS. Is this something you're still interested in working on?

[2020-07-15 19:00] ericwbailey commented on #887
Hi @ljgoslin. We have deprecated events with the redesign, so I will be closing this and the other open event issues you've submitted. Thank you for working with us for past events, I really appreciated your flexibility with our process.

[2020-07-15 19:00] #887 closed

[2020-07-15 19:00] #888 closed

[2020-07-15 19:00] #889 closed

[2020-07-15 19:00] #890 closed

[2020-07-15 19:00] #891 closed

[2020-07-15 19:00] #892 closed

[2020-07-15 19:00] #893 closed

[2020-07-15 19:01] #894 closed

[2020-07-15 19:01] #895 closed

[2020-07-15 19:01] #896 closed

[2020-07-15 19:01] #897 closed

[2020-07-15 19:01] #898 closed

[2020-07-15 19:01] #899 closed

[2020-07-15 19:01] #900 closed

[2020-07-15 19:01] #901 closed

[2020-07-15 19:01] #902 closed

[2020-07-15 19:01] #903 closed

[2020-07-15 19:02] #904 closed

[2020-07-15 19:02] #905 closed

[2020-07-15 19:02] ericwbailey commented on #942
See also: https://github.com/a11yproject/a11yproject.com/issues/788

[2020-07-15 19:02] ericwbailey commented on #788
See also: https://github.com/a11yproject/a11yproject.com/issues/942

[2020-07-15 19:09] mndrsn commented on #871
@ericwbailey I may lean on you guys to carry this over the finish line. My git muscle memory is a little rusty as it shows, and considering that we appear to have landed on a direction, I'm fine with someone else taking this. Happy to have helped identify a resolution for this, though.

[2020-07-15 19:11] ericwbailey commented on #871
Thank you, that's totally good.

It's really my fault for dropping the ball so hard. I'll make sure you're properly attributed.

[2020-07-15 19:59] ericwbailey opened #953 "Add CI/CD checks for accessibility"
These would be a great resource to have to help maintain the quality of the site's code. I'm thinking either axe or Lighthouse (yes, I know Lighthouse is a modified version of axe under the hood).

[2020-07-16 00:40] dennisgaebel commented on #939
@ericwbailey Can I have at this one? Sounds like a super fun challenge I'd be into. I've only briefly done LocalStorage stuff, but i'd like to give it a go. I gotta get the new site running, and once that's done I can start on this if that's ok 🍻

[2020-07-16 00:40] dennisgaebel commented on #939
ok cool! just hit you up on Slack so I'm gonna assign myself

[2020-07-16 00:57] dennisgaebel opened #955 "Table of Contents / Make Sticky on Scroll"
The Table of Contents like example shown below could use some love. The resources listed are extremely long so having some sort of sticky nav effect for the TOC would be great. Would also help avoid long scrolls back to the TOC again to find another item.

![Screen Shot 2020-07-15 at 8 53 42 PM](https://user-images.githubusercontent.com/13485205/87614259-85052380-c6dd-11ea-9271-ac6f8ecf68f3.png)

[2020-07-16 15:19] ActiveB1t opened #960 "Bug: Errors picked up by automated WAVE check - text contrast and empty link"
## Summary

Running the WAVE plugin shows not all text has sufficient contrast, and an empty link is present, these are minor issues and potentially false positives, as the site may serve as an example for others it would be great if at least all errors from automated tests are resolved.

### Expected result

Running a tool such as the WAVE plugin on Chrome shows no errors.

### Actual result

The

[2020-07-16 15:26] ActiveB1t opened #961 "Bug: Author links on the Posts overview page are incorrect"
## Summary

Links are incorrect on author names on the page https://www.a11yproject.com/posts/.

### Expected result

Author names on the page https://www.a11yproject.com/posts/ link to their respective card on the page https://www.a11yproject.com/authors/

### Actual result

All links on author names are "authors/#{{ post.data.author | slugify }}"

[2020-07-16 15:56] danielmatthew opened #962 "Meta: Cannot sponsor the a11yproject"
Per the [contributing guidelines](https://www.a11yproject.com/contributing-guidelines/#reporting-issues) I didn't think that this was worthy of being titled as a 'Bug', but I hit 'Sponsor' and see the following error screen:

<img width="469" alt="Github's Sponsor modal showing the project is not enrolled" src="https://user-images.githubusercontent.com/111794/87693240-a40ac080-c784-11ea-969e-76370

[2020-07-16 16:09] aardrian commented on #941
Polyfill and page on which to test IE11:
https://codepen.io/aardrian/pen/bMxMoW

[2020-07-16 16:10] jfhector opened #963 "Incorrect link destination for "Featured resource:"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

1. Go to https://www.a11yproject.com/resources/
2. In the side bar navigation, under "FEATURED RESOURCE", click on the link called 'Inclusive Design Pattern'

### Expected result

Arrive on a page about Inclusive Design Pattern

### Actual result

Arrive on this page, which is not about Inclusi

[2020-07-16 16:12] dennisgaebel opened #964 "Tone down colors on portions of site"
Some parts of the site are harsh on the eyes in terms of color. We'll need to list other spots on site that need addressing and pick accessible values that meet contrast guidelines.

This part in particular is one example of a color choice that's not ideal on the eyes.
![Screen Shot 2020-07-16 at 12 07 26 PM](https://user-images.githubusercontent.com/13485205/87695122-1a93c800-c75d-11ea-88ad-83632

[2020-07-16 16:13] dennisgaebel commented on #964
Title bars of these cards get lost with white bg and could use some love to help differentiate them

![Screen Shot 2020-07-16 at 12 12 53 PM](https://user-images.githubusercontent.com/13485205/87695618-b1f91b00-c75d-11ea-90c4-f8f1dba34b49.png)

[2020-07-16 16:14] michaelspellacy opened #965 "Bug: 404 Errors"
Ran a link scan on your site and noted that humans.txt is throwing a lot of 404's when you have pages loading from within a sub-directory. Adding a forward slash should globally clear that one right up.

**Before:** `<link rel="author" href="humans.txt">`

**After:** `<link rel="author" href="/humans.txt">`

Also spotted a few other 404's:

**Page:** https://www.a11yproject.com/announcements/2020-

[2020-07-16 16:17] aardrian opened #966 "Numeronym definition obscures nav"
## Summary

On short viewports the box that defines the numeronym obscures the navigation, covering it completely in some cases.

Found when browser in landscape mode in Firefox Preview on Android, confirmed in a short ChromiEdge window.

### Expected result

Navigation would never be obscured.

### Actual result

![Screenshot_20200716-115739](https://user-images.githubusercontent.com/1376607/8769

[2020-07-16 18:00] jina opened #969 "Jerry Jones's website links incorrectly to Eric Bailey's website"
1. Go to [https://www.a11yproject.com/team/](https://www.a11yproject.com/team/)
2. Scroll down to Jerry Jones and click "website"

### Expected result

Expected link to Jerry's website.

### Actual result

Was taken to Eric Bailey's website.

I don't know Jerry's actual website URL, otherwise I would have submitted a pull request.

[2020-07-16 18:35] danielmatthew opened #971 "Bug: Contributing Guidelines reference missing `gh-pages` branch"
The [Contributing Guidelines](https://www.a11yproject.com/contributing-guidelines/#important-branches) reference the `gh-pages` branch, which [does not appear to be available](https://github.com/a11yproject/a11yproject.com/branches/all). This could be a hold-over from the Jekyll-version of the site, or I have failed with my Git-foo.

[2020-07-16 20:35] danielmatthew commented on #936
Hi @ericwbailey

I whipped up a little proof-of-concept in #973 , but I wasn't totally clear - or able to hunt it down in the repo - where and how the previous approach was being used.

[2020-07-16 20:39] ericwbailey commented on #936
Amazing, thank you!

I've seen some of your stuff come in during the day, but have been busy on client work. I'll review it tonight, but in the meantime we're using the incredibly fancy (not fancy) technique of manually updating the date on this string: https://github.com/a11yproject/a11yproject.com/blob/main/src/_includes/layouts/base.njk#L10

[2020-07-16 20:54] danielmatthew commented on #936
@ericwbailey No worries – I've just noticed that the deploy preview is broken.

However, we might be able to save ourselves some work: there is a [Netlify build plugin](https://github.com/munter/netlify-plugin-hashfiles#readme) which will do the job for us at the end of build.

[2020-07-16 22:28] ericwbailey opened #974 "CSS Grid breaks text wrapping for small viewports"
Issue reported on Twitter:

- https://twitter.com/Aaron_Powell/status/1283808690211033089
- https://twitter.com/jouni_kantola/status/1283894103483318272
- https://twitter.com/michaelfink/status/1283908720246677505

The CSS Grid on the homepage card layouts causes the text to not wrap on smaller screens or zoomed text size. This is an oversight from previous work to remove grid at small sizes.

[2020-07-16 23:27] ericwbailey opened #975 "Photos overlap some text on Team/Authors/Spotlight pages"
[Issue reported on Twitter](https://twitter.com/wpeditorial/status/1283830085380911110).

At small screen sizes the photo can overlap the person's name if it is long enough. We'll need to:

- [ ] Add a `tiny` photo size to the `$_person-photo` Sass map.
- [ ] Tweak the incorporating breakpoint declarations to incorporate it.
- [ ] Verify using a smartphone.

Also see: https://github.com/a11yprojec

[2020-07-16 23:34] ericwbailey opened #976 "Explore less thin secondary font options"
[Issue reported on Twitter](https://twitter.com/KelpiePellegrin/status/1283850829418594305).

Our secondary font, [Anaheim](https://fonts.google.com/specimen/Anaheim), may be too thin for people with low-vision. We should investigate fonts that have similar characteristics, but have heavier weights.

[2020-07-17 06:59] shuhei opened #977 "Inaccuracy: checklist "tables" section has duplicated content"
## Summary

1. Visit https://www.a11yproject.com/checklist/#tables on a phone
2. Open the third item of the tables section

### Expected result

The third item (`caption`) of the tables section explains about `caption`.

### Actual result

The third item has a description from the second item (`scope`).

![Screenshot_20200717-084837](https://user-images.githubusercontent.com/498635/87757825-9ba998

[2020-07-17 07:53] eric-bednarz-dev commented on #949
Just looking at the gulp file, only files in **sub**directories of the `js` directory are supposed to be concatenated and build to a file that takes the subdirectory name as base name.

E.g. `src/js/foobar/*.js` => `dist/js/foobar.js`

[2020-07-17 15:47] danielmatthew commented on #977
`wcag`, `url`, and `description` fields in `checklist.json` are duplicates of the previous entry. #978 updates those fields.

[2020-07-17 16:09] ericwbailey commented on #962
Oh yikes, that's not great. Thanks for the head's up.

[2020-07-17 16:10] ericwbailey commented on #963
Hi, Jean-Francois! Thank you for reporting this, we'll get right on it.

[2020-07-17 16:11] ericwbailey commented on #965
Hi Michael! And thanks for doing this, we'll get on it shortly.

[2020-07-17 16:13] #969 closed

[2020-07-17 16:14] ericwbailey commented on #969
Hi Jina! Thanks for submitting this. Closed in https://github.com/a11yproject/a11yproject.com/pull/970, thank you to @danielmatthew for the fix.

[2020-07-17 16:17] #971 closed

[2020-07-17 16:18] ericwbailey commented on #971
Closed via https://github.com/a11yproject/a11yproject.com/pull/972. Thank you for reporting and fixing the issue 🎉

[2020-07-17 17:33] jendowns commented on #974
Hello @ericwbailey I noticed this as well & I believe the fix is related to a margin value on `.c-homepage-card--spotlight` elements:

current|`margin-right` removed
--|--
<img width="797" alt="Screen Shot 2020-07-17 at 12 29 01 PM" src="https://user-images.githubusercontent.com/9057921/87814452-64e27b00-c829-11ea-855f-0f6dc3cce48e.png">|<img width="875" alt="Screen Shot 2020-07-17 at 12 32 16 PM"

[2020-07-17 17:41] jendowns opened #980 "Links on project readme do not work?"
Hello, I was trying to access contributor documentation, code of conduct, etc links on the project's `README.md`, but all of them are 404ing: https://github.com/a11yproject/a11yproject.com/blob/main/README.md

The link paths themselves are things like `coc` but actually lead to locations like `https://github.com/a11yproject/a11yproject.com/blob/main/coc`, which are locations that do not exist. Are

[2020-07-17 21:18] thebencourt commented on #965
Fixed most of them in that PR, the only two I couldn't find were:

**Page:** https://www.a11yproject.com/checklist/
**Dead Link:** modes such as Windows High Contrast or Inverted Colors (https://www.a11yproject.com/checklist/posts/operating-system-and-browser-accessibility-display-modes/)

**Page:** https://www.a11yproject.com/posts/2013-01-11-navigate-using-just-your-keyboard/
**Dead Link:** Quic

[2020-07-17 21:50] jendowns opened #987 "Resources page has 2 headings with the same id ("animation")"
## Summary

The [Resources page](https://www.a11yproject.com/resources) currently has two headings with the same ID -- the "Animation" and "Media" headings both have `id="animation"`.

As a result, the generated Table of Contents also links "Animation" to the "Media" heading/section, instead of the "Animation" section.

### Expected result

- All elements should have unique ids & ids should not be

[2020-07-17 21:56] #987 closed

[2020-07-17 21:58] missmatsuko commented on #871
This is confusing to me... aren't these all abbreviations (including numeronyms)? And aren't FYI and PC also initialisms?

[2020-07-17 22:07] missmatsuko commented on #976
<img width="827" alt="that a11y isn't just a hash tag, nor is it a hip way to spell ally. Rather a11y is" src="https://user-images.githubusercontent.com/17884198/87834338-ff998480-c83e-11ea-99c5-12da2536d8a0.png">

I don't know if it's worth looking at, but the digit `1` and the lowercase letter `l` in Noto Serif look very similar. I found it hard to read this text saying `a11y` isn't `ally`.

[2020-07-17 22:22] scottaohara commented on #871
agree with @missmatsuko, it is sort of burying the lede here.

from: wikipedia's entry on acronym

if this is really something that needs to be called out, then would much rather revise to:

[2020-07-17 23:26] missmatsuko commented on #871
I think it's still confusing because all of those are abbreviations, just through different methods.

Not all numeronyms are abbreviations, but "a11y" is a numeronym that is also an abbreviation for "accessibility".

FYI, PC, HTML, and JAWS are also all abbreviations - most of them are initialisms except for JAWS which is an acronym (if you want to differentiate between acronyms and initialisms).

[2020-07-18 00:07] ronsman commented on #871
The rules I follow as an editor are that an abbreviation is a shortened word (eg pro for professional), an initalism is where the initials of more than one word are pronounced as initials (eg FYI, PC, HTML), an acronym is a set of initals pronounced as a word (eg JAWS) and a numeronym is a shortened version of a word transposing a numeral for the number of letters between the first and last letter

[2020-07-18 00:11] missmatsuko commented on #871
Yeah those are all abbreviations but not all numeronyms are abbreviations. For example the `520` example from the Wikipedia for numeronyms is a numeronym for `我爱你` but it's the same number of characters.

[2020-07-18 00:31] scottaohara commented on #871
i like your approach @missmatsuko. the point of this article is to educate people on numeronyms and a11y specifically.  if people want to go down the rabbit hole of splintering this up into other sub-categories, fine. but that was never the point of this article, so let's move away from the content

would you mind taking a stab at rewording this?  i tried again, but I felt like it could still be c

[2020-07-18 15:13] #935 closed

[2020-07-18 15:14] #980 closed

[2020-07-18 15:18] #961 closed

[2020-07-18 15:28] #963 closed

[2020-07-18 15:39] ericwbailey commented on #949
@eric-bednarz-dev Thanks for this. It was kind of overlooked in the push to release, but this will help us keep our future JS work nice and modular.

[2020-07-18 15:39] #949 closed

[2020-07-18 15:41] ericwbailey commented on #936
Oh, interesting. I haven't messed around with Netlify build plugins that much, but that looks promising. I know you've done some work in https://github.com/a11yproject/a11yproject.com/pull/973. I think I'd prefer this approach because A) you've already done the work and B) this makes our code less dependent on 3rd party services in the longterm.

[2020-07-18 15:45] ericwbailey commented on #955
We're actually specifically avoiding sticky elements. During testing our sticky elements—especially larger ones—greatly impeded the ability for low vision users to navigate the site.

Long story short: it obscures significant portions of the page and crowds out main content. This is in keeping with reports of sticky content treatments with other websites.

[2020-07-18 15:54] ericwbailey commented on #964
Chiming in here to say that I've received some reports via personal email and DMs about areas where the more bright colors vibrate to the point of discomfort. Notably, white on bright pink is causing Chromostereopsis-style effects.

We should investigate toning down the vibrating effect and determine if we can lessen these effects without moving too far away from Tatiana's vision.

In the spirit o

[2020-07-18 15:58] ericwbailey commented on #976
Thanks for this, I agree.

I'm also not enjoying the faux italic treatment for Anaheim, but I'm also cautious about [the number of fonts](https://github.com/a11yproject/a11yproject.com/tree/main/src/fonts) we're already importing.

[2020-07-18 16:20] maxboeck commented on #964
@ericwbailey sure - love the work you all are doing with a11yproject!
I did a quick write up of how the theme switcher is put together here:

https://mxb.dev/blog/color-theme-switcher/

It's basically just a list of buttons, so a lot of the keyboard support just comes naturally with that.
I'm also using the focus-visible polyfill and have some styling for the active theme, and a bit of JS to manag

[2020-07-18 16:24] ericwbailey commented on #964
Amazing, thank you!

[2020-07-18 16:44] ericwbailey commented on #976
Note for later: apparently we can apparently [disallow this with `font-synthesis`](https://css-tricks.com/how-to-italicize-text/#comment-1760269), but of course Chrome hasn't supported it yet.

[2020-07-18 18:15] ericwbailey opened #989 "Remove Gulp as a dependency"
I love Gulp, but I love less external dependencies more. I initially used it for the redesign to get things up and running quickly.

The tasks we're using Gulp for are relatively straightforward, namely asset minification, concatenation, post-processing, and Browsersync. Because of this, there is an opportunity to do a lot of this via node scripts. Big-picture, I'd also like to lean more on Eleven

[2020-07-18 18:16] ericwbailey commented on #989
@esjay You had mentioned wanting to tackle this previously. How does this sound to you?

[2020-07-18 18:17] esjay commented on #989
@ericwbailey put me in coach!

[2020-07-18 18:19] ericwbailey commented on #989
Woo!

[2020-07-18 18:43] ericwbailey commented on #965
@thebencourt I think I got them: https://github.com/a11yproject/a11yproject.com/pull/990

@michaelspellacy I believe this captures all your reported broken links. Could I trouble you to verify? You may need to do a hard refresh of the site, as it deploys a service worker.

[2020-07-18 19:01] thebencourt commented on #965
@ericwbailey https://www.a11yproject.com/posts/2020-01-23-operating-system-and-browser-accessibility-display-modes/ is returning a 404

[2020-07-18 19:28] ericwbailey commented on #962
Strange. I thought we were in the sponsor program, but there's apparently some nuance behind applying versus actually qualifying. Regardless, it's been addressed in https://github.com/a11yproject/a11yproject.com/pull/991.

[2020-07-18 19:28] #962 closed

[2020-07-18 20:20] ericwbailey commented on #965
@thebencourt Figured out why that's still 404ing, the post somehow got lost in the merge. I'm re-creating it now.

[2020-07-18 22:14] ericwbailey commented on #965
Alright. Should be good as of https://github.com/a11yproject/a11yproject.com/pull/993. That'll teach me to use git 😅

[2020-07-19 08:01] eric-bednarz-dev commented on #953
Did you have a look at the axe linter GitHub app yet?

https://github.com/apps/axe-linter

(not entirely sure what “personal” entails)

[2020-07-19 16:35] beckkramer commented on #975
I can help with this one! Is the goal to make the image just smaller in its current position, or move it out of position where any overlap could happen (maybe centered on the top border?)

![Screenshot_7](https://user-images.githubusercontent.com/2972688/87880022-f7168a80-c9b3-11ea-85df-43a195c3e9d4.png)

[2020-07-19 16:38] ericwbailey commented on #975
Ooh, I like the centered treatment at a small size. Let's go with that, thank you!

[2020-07-19 17:00] beckkramer commented on #975
Awesome, will do!

[2020-07-19 17:56] ericwbailey commented on #953
Yup, on my radar. I'm unsure if we qualify as we're an org. If so, we'll have to see if we can budget it.

[2020-07-19 20:31] ericwbailey commented on #974
@jendowns Thank you for that, it was a great starting point. I just pushed up a potential fix, could I trouble you to verify on your end of things? You might have to hard refresh the browser to clear the page cached by the service worker we use.

[2020-07-19 20:37] ericwbailey opened #997 "Replace Netlify's 404 with our 404"
Ours is nicer.

[2020-07-19 21:13] eric-bednarz-dev commented on #936
and C) in most cases you don't want cache invalidation of all assets whenever a typo is fixed. ;-)

[2020-07-20 01:57] ericwbailey commented on #953
Looks like we qualify 🎉

Thanks for bringing this to my attention!

[2020-07-20 01:57] #953 closed

[2020-07-20 14:24] dennisgaebel commented on #964
@ericwbailey If y’all want a muted colors theme option then I suggest making this feature 1 issue (Color Theme Switcher). Seems like making a way to control color schemes is what's desired, and since that’s the case it would be more efficient, and easier to understand the goals by having this feature as 1 single issue with the desires listed out, and removing the [dark mode](https://github.com/a11

[2020-07-20 17:11] jendowns commented on #974
Hey @ericwbailey, unfortunately I'm still seeing this issue. I also went ahead and ran the updates locally to confirm that the issue still exists at ~375px viewport width (for iPhone 6, 7, 8).

I wanted to revisit the `margin-right` value I mentioned in my previous https://github.com/a11yproject/a11yproject.com/issues/974#issuecomment-660244221, specifically as a way to examine the computed width

[2020-07-20 19:04] hidde opened #1000 "Bug: How to hide returns 404"
## Summary

1. Search for 'visually hidden class' on a search engine (yeah… 😄 )
2. One of the first results may be https://a11yproject.com/posts/how-to-hide-content/
3. This page returns a 404, but is available on https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/

### Expected result

There is redirect from old to new

### Actual result

Looks like there's no redirect, so there's a

[2020-07-20 19:05] hidde commented on #1000
I'd be happy to submit something for this, will need to figure out if there's anything for redirects.

[2020-07-20 19:20] thurab40 commented on #933
There are about 74 font-size declarations on the site

- The lowest font size is 0.75rem
- The highest is 3.5rem

So I was thinking to have this scale base on the 16px/1rem font size declaration on the body

`css
$font-size-body-tiny: 0.75rem; // 12px
$font-size-body-small: 0.875rem; // 14px
$font-size-body: 1rem; // 16px
$font-size-body-medium: 1.25rem; // 20px
$font-size-body-large: 1.5rem; // 2

[2020-07-20 20:55] ericwbailey commented on #964
Sounds good to me! Do you want to consolidate the issues, or shall I?

[2020-07-20 21:12] ericwbailey commented on #1000
Oh shoot, thanks for reporting this. I think this is something I can only do on Netlify's end of things, but I'll happily set up redirects for anything you find.

[2020-07-20 21:14] dennisgaebel commented on #964
@ericwbailey Go for it! All you. I'll jump in where needed, but I think it's a good idea® to list our your requirements so we can make next steps for whatever needs to be tackled. 👍

[2020-07-20 21:25] ericwbailey commented on #933
@thurab40 Thanks for auditing this! I really like the naming scheme you came up with, as well.

As for [the `ex` unit](https://developer.mozilla.org/en-US/docs/Web/CSS/length#ex), that's intentional. I could definitely see a case for refactoring it if we have more codified font size variables to use.

Is this something you'd be interesting in working on as a PR?

[2020-07-20 21:39] ericwbailey commented on #974
Ah, I see! Thank you for the detailed screenshots, and I agree with your call of `c-homepage-card--spotlight` being the culprit. I'll see what I can do 🙏

[2020-07-21 04:10] ericwbailey commented on #1000
@hidde I added some Netlify redirects in https://github.com/a11yproject/a11yproject.com/pull/1002. Can you confirm on your end?

[2020-07-21 07:09] thurab40 commented on #933
Sure, I am interested. How do I go about it?

[2020-07-21 07:12] thurab40 commented on #933
Thanks for the link. I never know "ex unit" first time. appreciate it

[2020-07-21 14:53] michaelspellacy commented on #965
@ericwbailey I can verify later today if you like.

[2020-07-21 14:54] ericwbailey commented on #965
That would be great, thank you.

[2020-07-21 15:15] #975 closed

[2020-07-21 17:06] ericwbailey opened #1004 "Meetup groups aren't displaying a location"
As per the conversation in this PR: https://github.com/a11yproject/a11yproject.com/pull/1003

[2020-07-21 17:22] ericwbailey commented on #737
I have enabled [Netlify Analytics](https://www.netlify.com/products/analytics/), as we're already using them for deployment. Working on a PR to update the site now.

[2020-07-21 17:22] #737 closed

[2020-07-21 18:18] ericwbailey opened #1008 "Add a color theme switcher"
This issue is a combination of https://github.com/a11yproject/a11yproject.com/issues/964 and https://github.com/a11yproject/a11yproject.com/issues/939. We're proposing introducing a color theme switcher component to deal with their concerns.

## Current issues

- Some color combinations have been reported to be too harsh
    - Notably, white on bright pink is causing Chromostereopsis-style effect

[2020-07-21 18:19] ericwbailey commented on #939
Closing via https://github.com/a11yproject/a11yproject.com/issues/1008, as discussed in [this comment](https://github.com/a11yproject/a11yproject.com/issues/964#issuecomment-661336876).

[2020-07-21 18:19] #939 closed

[2020-07-21 18:20] ericwbailey commented on #964
Closing via https://github.com/a11yproject/a11yproject.com/issues/1008, as discussed in [this comment](https://github.com/a11yproject/a11yproject.com/issues/964#issuecomment-661336876).

@StommePoes, acknowledging your comment before closing. We'll make sure this is addressed.

[2020-07-21 18:20] #964 closed

[2020-07-21 18:23] thurab40 commented on #933
@ericwbailey I figured out what to do on the contribute doc. I will take it from there thanks

[2020-07-21 18:25] ericwbailey commented on #933
@thurab40 That's great to hear, thank you. Definitely feel free to mention me here if you need more detail about anything.

[2020-07-21 18:38] hidde commented on #1000
Thanks for the super quick response, Eric! This looks good to me, but does not seem to redirect https://a11yproject.com/posts/how-to-hide-content/. I'm not sure why, I do see it is in the toml, so would expect it to work?

[2020-07-21 18:42] hidde commented on #1000
Oh, I think the issue may be that Netlify expects the `netlify.toml` in the project root rather than in `src`?

[2020-07-21 18:43] ericwbailey commented on #1004
Closed via https://github.com/a11yproject/a11yproject.com/pull/1009.

[2020-07-21 18:43] #1004 closed

[2020-07-21 18:53] ericwbailey commented on #997
Closed via #1011.

[2020-07-21 18:53] #997 closed

[2020-07-21 19:17] ericwbailey commented on #1000
Closed via https://github.com/a11yproject/a11yproject.com/pull/1010.

[2020-07-21 19:17] #1000 closed

[2020-07-21 20:42] jendowns commented on #974
@ericwbailey No problem! Btw since your updates, I am no longer seeing that text wrapping issue. 🎉 I checked on my iPhone 8 and also checked with Firefox devtools to simulate the ~375px iPhone 6/7/8 screen width. Looks good!

[2020-07-21 22:16] ericwbailey commented on #974
Awesome! Thank you for the thorough checks 🎉

[2020-07-21 22:16] #974 closed

[2020-07-21 22:59] dennisgaebel commented on #1008
@ericwbailey Woot! I'm thinking it would be best to have Tatiana whip up some comps with colors to use if that's at all possible? LMK 🤝

Here's a list adding on to yours above I think we need comps for in terms of color variants. Any of these color schemes should pass [WCAG standards](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#contrast-minimum) of course.

**Color Schemes**
1. Default (c

[2020-07-21 23:14] dennisgaebel commented on #955
@ericwbailey So to make sure I'm clear on this essentially making the TOC stick on scroll is causing issues yeah? If that's the case feel free to close this, but if there's a way to make that kind of interaction happen without hurting low vision users that would be swell. I like having access to the TOC for navigational purposes, and also also helps to avoid scrolling back up each time. Maybe a lo

[2020-07-21 23:51] michaelspellacy commented on #965
@ericwbailey  Ran another scan! You are all good!  Closing!

Thanks @thebencourt!

[2020-07-21 23:51] #965 closed

[2020-07-22 01:43] ericwbailey commented on #960
Thanks for reporting this. We do have [documentation around known issues and false positives](https://github.com/a11yproject/a11yproject.com/wiki#false-positives), I'll continue to add to it as issues are uncovered.

While I agree with the sentiment of having no errors in a checker. I'm not sure we'd ever be able to get ahead of it—some checkers will flag workarounds that others report. Some check

[2020-07-22 04:19] jendowns commented on #966
Hey there, I confirmed this as well & I believe I have a suggested fix. I can propose a PR shortly. 👍

[2020-07-22 04:32] ericwbailey commented on #941
Just implemented this locally and it worked perfectly, thank you. A PR should be up soon.

[2020-07-22 11:01] andrewborstein opened #1013 "Feature: Add direct permalinks for each checklist item"
## Background
I often link to https://www.a11yproject.com/checklist when I want to share concise and easily digestable documentation about accessibility with my teammates. But I would love if there were a way to easily share a link directly to a specific checklist item, instead of the entire list or a [section of the list](https://www.a11yproject.com/checklist/#headings).

Currently my workaround

[2020-07-23 01:27] ericwbailey commented on #1013
Hey! I think this would be a great idea, thank you for suggesting it.

I also agree that it would have to live outside of the `<summary>`, both for the reason you suggested and for features suggested in https://github.com/a11yproject/a11yproject.com/issues/942.

I think Eleventy also provides the ability to do this kind of thing outside of Markdown files, but I'd have to double-check the documenta

[2020-07-23 02:34] ericwbailey commented on #955
Yeah. The other issue would be ToCs where the height is taller than the viewport. I've seen some implementations where portions stick (I think GitHub has some nice examples), but it'd be hard to chop something like the Resources ToC up.

Let me noodle on this some, and leave it open in case others want to chime in.

[2020-07-24 09:13] StommePoes commented on #955
Some thoughts and ideas:

I tell people who are hot on stickies to check viewport heights with CSS-- people with huge fancy monitors and good eyes would have a calculated viewport height high enough to have sticky crap, while the rest of us would have the content scroll.

Another solution is a control to slide the ToC to a narrow state, so they steal less room from the main page content. Lots of d

[2020-07-24 09:19] StommePoes commented on #1008
I mean, imagine if the insufficient-contrast hot pink were adjusted to #cd005a, which also gives 5.6:1 contrast ratio.

I'm not against having a buttload of themes, but I would be disappointed that the main/default theme on an accessibility site has contrast under 3:1 for text and indications of things. (Technically, offering a theme with sufficient contrast passes WCAG so this isn't a WCAG compla

[2020-07-24 09:20] holdenmad opened #1017 "Feature: Search bar"
I'm a bit new to this, so please tell me if I'm not following the contributing guidelines well enough.

It would be great to have a search bar on the website, since there is a lot of fantastic content. At the moment, there's no way to search all of the content, which I think is a shame since there are so many blog posts, articles, checklists, etc. which people could find more easily with this feat

[2020-07-24 12:52] aardrian opened #1018 "Bug: Missing Redirects"
## Summary

I have a link on my site that points to the following URL:
https://www.a11yproject.com/posts/operating-system-and-browser-accessibility-display-modes/

When I visit I get a 404 page. My automated 404 checker tells me this has been broken for 4 days.

### Expected result

I should be redirected (ideally with a 301) to the new address of the page:
https://www.a11yproject.com/posts/2020-0

[2020-07-24 12:56] ericwbailey commented on #1018
A fix for this and other post redirect issues is actually underway! The long and short of it is Netlify differs from GitHub pages with how it handles redirects. Thank you for reporting it.

[2020-07-24 12:59] aardrian commented on #1018
Awesome; what's your ETA?

[2020-07-24 13:01] ericwbailey commented on #1018
Around noon EDT, if the winds are favorable.

[2020-07-24 13:11] aardrian commented on #1018
May the winds ever blow at your backside.

[2020-07-24 13:59] ericwbailey commented on #955
The ToC sckip link is an interesting idea. We originally had something similar, but it was voiced that the extra skipnav prompt was clutter. The details/summary was the compromise, but we need to persist collapsed/expanded state across pages for it to be really effective.

[2020-07-24 15:45] ericwbailey commented on #1017
Totally appropriate 🙂

We initially had the idea of search for the redesign, but had to put it on hold because it turns out [its not exactly the easiest thing to do on a statically generated website](https://www.belter.io/eleventy-search/).

Is this something you would be interested in working on? How and where would you envision the search functionality being incorporated? I'm asking to help shap

[2020-07-24 15:53] ericwbailey commented on #1018
I believe I've solved the issue via https://github.com/a11yproject/a11yproject.com/pull/1019. Could I trouble you to verify on your end? I'm assuming there's a little bit of server nonsense that happens, so you may want to give it a bit.

[2020-07-24 15:54] ericwbailey commented on #941
@aardrian I believe I've addressed this via https://github.com/a11yproject/a11yproject.com/pull/1019. Can I trouble you to verify it on your end?

[2020-07-24 16:29] aardrian commented on #1018
Through a different network than this morning, and then with a VPN, still no luck:

![image](https://user-images.githubusercontent.com/1376607/88413496-47715c00-cda9-11ea-90d0-b767ef5fb03b.png)

Caching is my guess.

[2020-07-24 16:32] ericwbailey commented on #1018
Ugh. I'll try a VPN as well in a bit. Looks like the copy email address buttons broke as well, fun times.

[2020-07-24 16:43] aardrian commented on #941
Works (in a spot test, not every one)!

Be aware the extra arrows in the visual:

![image](https://user-images.githubusercontent.com/1376607/88414451-dfbc1080-cdaa-11ea-93ae-ec34c5a85512.png)

[2020-07-24 16:58] #911 closed

[2020-07-24 17:23] dennisgaebel commented on #1008
@StommePoes

I agree that the current site should meet standards. Right now it's more of a "do as i say not as  I do" message to people IMHO. Currently the site contains 20 color variations listed below:

![Screenshot 2020-07-21 23 38 21](https://user-images.githubusercontent.com/13485205/88414859-89030680-cdab-11ea-832f-2918132a20f7.png)

I still feel strongly that the current color scheme should

[2020-07-24 17:36] dennisgaebel commented on #955
Maybe at the end of each section you make a "back to toc" link? A simple href id link FTW

[2020-07-24 18:43] ericwbailey commented on #941
Thanks for that. I'm calling this issue closed, as the double dropdown, while  potentially confusing, isn't a barrier to triggering the expand/collapse behavior. We can revisit the visuals as a followup PR.

[2020-07-24 18:43] #941 closed

[2020-07-24 19:31] emilane commented on #976
I'm looking at [Recursive](https://fonts.google.com/specimen/Recursive) as my first choice. It has a similar look and feel to Anaheim, but is thicker and wider overall. I specifically compared a11y and ally and I'm satisfied with the treatment of the number 1.
<img width="297" alt="Screen Shot 2020-07-24 at 3 30 57 PM" src="https://user-images.githubusercontent.com/9734623/88428352-b4452000-cdc2-1

[2020-07-24 22:13] ericwbailey opened #1021 "Replace mailto links with a contact form"
`hello@a11yproject.com` isn't working anymore, for reasons unknown. Netlify offers the ability to use contact forms. Let's audit it for accessibility issues and create a dedicated Contact page.

[2020-07-24 22:17] ericwbailey commented on #976
Ooh, that's nice.

[2020-07-24 22:29] ericwbailey commented on #1018
Think I got it via https://github.com/a11yproject/a11yproject.com/pull/1022 🤞

[2020-07-24 23:29] anevins12 opened #1023 "There are two Andrew Nevins in the authors listing"
## Summary

It looks like I added my name in authors json at the end in error, and now there are 2 of me: https://www.a11yproject.com/authors/

### Expected result

There should only be 1 of me and I assume near the top for alphabetical order.

### Actual result

My name "Andrew Nevins" appears twice in the list

### Additional Information

Note anything else you think would be important to know t

[2020-07-24 23:39] #1023 closed

[2020-07-25 07:16] StommePoes commented on #955
^ that would avoid the problems one gets with "floating" sticky back-to-tops, and could integrate into the design more.

The ToC might have to be visually labelled "ToC" though so non-biblionerds know what that is.

[2020-07-25 11:27] anevins12 commented on #913
Background:

* Pursuing long term accessibility investment can be an exhausting effort. While effort is inevidetable, prioritising our efforts can make the most of our resources and prevent us from becoming burnt-out.
* A starting point to accessibility can be checking whether a website or app meets the WCAG 2.1 level AA criteria. At this stage there are many automated tools available to you. Whil

[2020-07-25 19:14] #936 closed

[2020-07-25 19:14] ericwbailey commented on #936
Closed via https://github.com/a11yproject/a11yproject.com/pull/973.

[2020-07-26 00:03] anevins12 commented on #913
@ericwbailey may I ask if you're okay with this article?

[2020-07-26 14:14] aardrian commented on #1018
404. Using a different VPN, different connection, different browser.

[2020-07-27 14:19] hidde opened #1026 "“Creating valid and accessible links” returns 404"
## Summary

1. Search for ‘accessible link cards’ on a search engine
2. One of the first results may be https://a11yproject.com/posts/creating-valid-and-accessible-links/
3. This page returns a 404. I'm not sure if this post still exists on the new website

### Expected result

There is redirect from old to new

### Actual result

Looks like there's no redirect, so there's a 404 returned.

### Add

[2020-07-27 17:53] ericwbailey commented on #913
Sounds good at a high level. Question back to you: do you think it could be done as shorter articles about common WCAG interpretation pitfalls?

[2020-07-27 18:18] ericwbailey commented on #1018
I think I found the culprit, an accidental redirect to `/posts/posts/`. I'll sneak a fix into the PR for https://github.com/a11yproject/a11yproject.com/issues/1026.

[2020-07-27 18:36] anevins12 commented on #913
Absolutely @ericwbailey thank you for the direction!

[2020-07-27 19:45] ericwbailey commented on #1026
I believe https://github.com/a11yproject/a11yproject.com/pull/1028 restores this post and sets up applicable redirects. @hidde, can I trouble you to verify on your end?

[2020-07-27 19:47] ericwbailey commented on #1018
Seems to be working on my end of things now. Does it now redirect properly for you, @aardrian?

[2020-07-27 19:59] aardrian commented on #1018
All good!

[2020-07-27 20:00] ericwbailey commented on #1018
PHEW

[2020-07-28 07:23] thurab40 commented on #934
@ericwbailey, I can also work on this if you don't mind. Thanks

[2020-07-28 08:23] hidde commented on #1026
@ericwbailey Hi Eric, the post was restored, but it did not yet redirect, have addresses this in https://github.com/a11yproject/a11yproject.com/pull/1030, would that work?

[2020-07-29 00:21] andrewborstein commented on #1013
Hey @ericwbailey glad to hear you would find it useful, too! I'd love to take the lead.

Would it make sense for me to solicit more input on different approaches or just take a shot at one of them and submit a PR? I wanna for aim for whatever creates the least overhead/hassle for the maintainers. I could also connect with [Saptak](https://github.com/SaptakS) just in case he's already working in a

[2020-07-29 01:14] andrewborstein commented on #950
Does `claimed` mean someone has already claimed responsibility for submitting PRs to solve the above issues, like perhaps @jendowns? If it's still available I'd be happy to open a PR for the Safari focus state bug.

[2020-07-29 02:20] ericwbailey commented on #933
Closed via https://github.com/a11yproject/a11yproject.com/pull/1027.

[2020-07-29 02:22] ericwbailey commented on #934
That would be amazing.

[2020-07-29 02:30] #1026 closed

[2020-07-29 02:32] ericwbailey commented on #1026
Wonderfully so. Thank you.

[2020-07-29 02:35] ericwbailey commented on #1013
I think the latter. I trust ya 🙂

[2020-07-29 02:37] ericwbailey commented on #950
@andrewborstein Yep. We're using `Claimed` to indicate the issue has someone working on it for sorting/filtering purposes. That being said, I was going to be the one who tackled the focus state bug. Would you like to do it instead?

[2020-07-29 13:17] andrewborstein commented on #950
Yeah, I already have a good lead on how to fix it, so happy to take it!

[2020-07-30 13:13] duncanjimbo opened #1031 "Article: Basic ARIA Roles"
## Description

Derived from the list of post ideas (https://github.com/a11yproject/a11yproject.com/issues/12), this article would be a dive into ARIA roles, looking at the different categories of roles and then detailing some of the more commonly used ARIA roles, including code examples.

## Would you like to write the article or request that it be written?

I would like to write the article.

[2020-07-30 14:49] ericwbailey commented on #1031
Thanks for volunteering, we'd love that!

[2020-08-01 19:37] ericwbailey commented on #950
Closing this, as all issues have been addressed. Thank you @jendowns and @andrewborstein 🙏

[2020-08-01 19:37] #950 closed

[2020-08-03 12:28] faraixyz commented on #1017
As a short term thing, you could add a search form which points to a search engine with site:a11yproject.com in the search input with name q (or as a hidden parameter). It’s how I did it on [my website](https://agckb.xyz) and what [11ty’s documentation search](https://www.11ty.dev/docs/search/) does

I remember trying to do something similar to the post @ericwbailey linked, but building a JSON ind

[2020-08-03 21:44] ericwbailey commented on #966
@aardrian Could you verify this is fixed?

[2020-08-03 22:15] aardrian commented on #966
LGTM

[2020-08-03 22:15] #966 closed

[2020-08-03 22:34] missmatsuko opened #1037 "Definition list (dl/dt/dd) styling"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary
I suggest adding more styling to definition lists (dl/dt/dd elements) since it currently doesn't clearly look like a list of definitions or list at all:
<img width="287" alt="Screenshot of list of numeronyms and their definitions." src="https://user-images.githubusercontent.com/17884198/89233198

[2020-08-04 00:07] ericwbailey commented on #966
Wonderful. Thank you for reporting and confirming.

[2020-08-04 02:44] ericwbailey commented on #1037
So, a funny thing happened: the styling for this and some other inline content accidentally got blown away by https://github.com/a11yproject/a11yproject.com/pull/968, then fixed just now in https://github.com/a11yproject/a11yproject.com/pull/1039 😅

How does the updated version look to you? You might have to force refresh to clear the cached version.

[2020-08-04 03:05] missmatsuko commented on #1037
Ooh, looks much better! Thanks! 😊

[2020-08-04 03:05] #1037 closed

[2020-08-04 03:49] ericwbailey commented on #1037
Thanks for reporting it 🙂

[2020-08-04 23:57] holdenmad commented on #1017
@ericwbailey In theory I'm interested in working on this, but I think it's unfortunately out of my capabilities. I have to improve my skills before I can help. If this is still an issue in several months, then I'd like to come back to it.

[2020-08-05 00:11] ericwbailey commented on #1017
No problem, thanks for letting me know 🙂

One good starting point might be [reviewing how Self-Defined may do it](https://github.com/selfdefined/web-app/pull/213).

[2020-08-05 00:52] #1013 closed

[2020-08-05 18:47] beckkramer commented on #948
I'd be interested in helping with this if this.

[2020-08-05 20:19] ericwbailey commented on #948
That would be wonderful, thank you!

[2020-08-05 23:30] ericwbailey opened #1046 "Create color utility classes"
Color utility classes will help us consolidate some layout styles by decoupling color from layout logic. For starters, we'll need to create:

- [ ] Text color classes
- [ ] Background color classes
- [ ] Fill color classes

Colors should utilize [our color variables](https://github.com/a11yproject/a11yproject.com/blob/main/src/css/brand/_colors.scss).

[2020-08-06 12:33] danielmatthew commented on #1046
@ericwbailey May I take this?

[2020-08-06 14:10] ericwbailey commented on #1046
@danielmatthew That'd be great, thank you!

[2020-08-06 20:33] beep opened #1049 "Bug: old link to “Quick tip: ARIA Landmark roles” no longer works"
## Summary

I recently released a course that links to [Erik Runyon’s excellent “Quick Tip: ARIA Landmark roles and HTML5 implicit mapping”](https://www.a11yproject.com/posts/2013-01-14-aria-landmark-roles/). However, a student emailed to let me know that the URL was 404ing: it looks like it might have been changed in the redesign.

Steps to reproduce:

1. Navigate to https://www.a11yproject.com/p

[2020-08-06 20:41] ericwbailey commented on #1049
Oh shoot, that's another link that broke when we moved off GitHub pages. I'll get on adding a redirect ASAP.

[2020-08-06 20:43] beep commented on #1049
Oh thank you, Eric!

[2020-08-06 21:09] ericwbailey commented on #1049
I believe this should now be fixed via https://github.com/a11yproject/a11yproject.com/pull/1050. Could I trouble you to confirm? You might have to force refresh/wait 5min for Netlify to do its thing.

[2020-08-06 22:52] beep commented on #1049
@ericwbailey Hey! I’m still seeing a 404 error here, sadly—hm, actually, I might be seeing a _new_ one? Specifically, this URL:

[code]
https://www.a11yproject.com/posts/posts/2013-01-14-aria-landmark-roles/```

(That is, there’s an extra `posts` in there.)

I don’t know from Netlify, mind, but is it possible there’s a leading slash missing in https://github.com/a11yproject/a11yproject.com/pull/10

[2020-08-07 00:26] ericwbailey commented on #1049
Yup, nailed it in one with the trailing slash. Sorry about that.

Can you re-verify?

[2020-08-07 02:31] beep commented on #1049
Verified! Works a treat now. Thanks again, Eric! Really, really appreciate it.

[2020-08-07 02:31] #1049 closed

[2020-08-07 03:52] ericwbailey commented on #1049
Thanks for reporting the issue!

[2020-08-08 21:38] ericwbailey commented on #1021
For future reference: https://www.stackbit.com/blog/complete-guide-netlify-forms/

[2020-08-09 23:57] #942 closed

[2020-08-12 14:15] ericwbailey commented on #1021
Closed via https://github.com/a11yproject/a11yproject.com/pull/1056.

[2020-08-12 14:15] #1021 closed

[2020-08-12 14:26] ericwbailey opened #1057 "Add better form validation for our newsletter and contact pages"
Currently, we rely on the `required` attribute for our [newsletter signup](https://www.a11yproject.com/newsletter/) and [contact page](https://www.a11yproject.com/contact/) forms. While this does provide basic validation for user input, it is a less than ideal experience.

The public email address we were using was failing to deliver email, so we prioritized speed in getting a replacement up and r

[2020-08-12 14:26] ericwbailey commented on #1057
@jendowns is this something you'd be interested in helping out with?

[2020-08-12 14:29] jendowns commented on #1057
Hey @ericwbailey! Yes I'd love to work on this.

[2020-08-12 14:30] ericwbailey opened #1058 "Add a custom contact form successful submission page"
We use Netlify forms to power our contact page. Currently, it redirects to a Netlify-branded page on successful submission. We can update it to point to a custom page, which will help make the experience feel more natural and consistent with other contact forms we use on the site.

[2020-08-12 14:31] ericwbailey commented on #1057
Heck yes! Let me know if there's anything I can help you out with 😀

[2020-08-14 00:38] ericwbailey opened #1062 "Refactor 404 layout and component classes"
We used to use `l-404` and `c-404` for our 404 page, but its design has been repurposed to be used for our contact and newsletter signup pages. We should update the class names to be reflective of its new purpose.

[2020-08-14 00:41] ericwbailey commented on #1058
Closed via https://github.com/a11yproject/a11yproject.com/pull/1061.

[2020-08-14 00:41] #1058 closed

[2020-08-16 05:07] #1046 closed

[2020-08-16 19:22] jendowns commented on #1057
Hey @ericwbailey! I had a quick question about link / error message styling & messaging --

Here's an in-progress screenshot, showing the top of the Contact page form with errors:

<img width="515"  alt="Screenshot of error messages for a contact form saying 'There was a problem with the form. Please provide your name. Please provide your email. Please provide your message." src="https://user-imag

[2020-08-16 23:12] ericwbailey opened #1064 "Create an offline page"
Explore creating a page that displays a list of all available offline pages. Inspired by [this post by Ada Rose Cannon](https://medium.com/samsung-internet-dev/making-a-useful-offline-page-for-your-web-app-f319423a2c29).

[2020-08-16 23:21] ericwbailey commented on #1057
I think both your idea for an approach for link styling and for copy sound good to me 🎉

[2020-08-17 02:21] ericwbailey commented on #1062
Closed via https://github.com/a11yproject/a11yproject.com/pull/1067.

[2020-08-17 02:21] #1062 closed

[2020-08-17 05:19] ericwbailey commented on #933
Closed via https://github.com/a11yproject/a11yproject.com/pull/1027 and https://github.com/a11yproject/a11yproject.com/pull/1068.

[2020-08-17 05:19] #933 closed

[2020-08-17 15:12] duncanjimbo commented on #1031
PR opened: https://github.com/a11yproject/a11yproject.com/pull/1070

[2020-08-19 05:01] ericwbailey opened #1075 "Load CSS asynchronously"
Our current CSS payload weighs in at 60kb, which is above the size of a single roundtrip HTTP request.

That being said, our site is fast. Let's experiment with [Filament Group's async CSS loading technique](https://www.filamentgroup.com/lab/load-css-simpler/) to see if it improves things.

[2020-08-19 09:03] SaptakS commented on #1075
The only thing we will probably need to test is whether it causes Flash Of Unstyled Content (FOUC). I think we might need to separate critical CSS from the rest to avoid some nasty FOUC

[2020-08-20 13:08] ericwbailey commented on #1075
@SaptakS Agreed. I'm in the process of shifting some of our component declarations over to utility styles, which should (hopefully) help with this. Trouble is our layout is kind of finicky :\

[2020-08-20 17:57] CherylLouise808 opened #1077 "Article: Looking Back at the W3C Web Accessibility Initiative"
"The W3C Web Accessibility Initiative (WAI) develops standards and support materials to help you understand and implement accessibility."

In a five hundred word piece, I want describe the background and history of the Web Accessibility Initiative,  its focus, and what the WAI offers users today, specifically content writers.

Access to digital information is key in today's modern technological wo

[2020-08-20 18:15] youriwims commented on #12
Hi there 👋🏽 I've done a [few videos on Firefox + A11Y](https://www.youtube.com/c/MozillaDeveloper/search?query=youriwims) with the Mozilla Developer YouTube channel. Is it okay to re-share them or would it be best to re-shoot them? Also, would I be responsible for the editing or does the A11Y Project provide support?

[2020-08-20 19:57] joe-watkins commented on #12
@youriwims Those are **so** well done! I love the tone, pace, and how approachable they are!! Awesome work :) You are a great teacher.

[2020-08-24 18:38] youriwims commented on #12
Thank you so much @joe-watkins + @ericwbailey! @ericwbailey I can definitely put up a PR for them—will do soon, thanks!

[2020-08-25 14:59] aardrian commented on #1018
This URL from a thing I found:
https://www.a11yproject.com/posts/never-use-maximum-scale/

Should probably point to:
https://www.a11yproject.com/posts/2013-01-14-never-use-maximum-scale/

Perhaps some mappings were missed.

[2020-08-25 20:14] ericwbailey opened #1089 "Native chexboxes are peeking out on mobile"
Reported on iOS. We'll need to tweak its positioning to get it fully hidden.

![A native checkbox element peeking out from behind the Checklist's custom checkbox. Screenshot.](https://user-images.githubusercontent.com/634191/91222951-e4e3e680-e6ed-11ea-9a50-f4bd1e2046da.jpg)

[2020-08-26 00:04] ericwbailey commented on #1018
That's generous of you 😬

I just merged https://github.com/a11yproject/a11yproject.com/pull/1090. Can you verify?

[2020-08-26 00:11] aardrian commented on #1018
That did it.

Are you adding these one-by-one or do you have some automagic mapping?

[2020-08-26 00:11] #1018 closed

[2020-08-26 00:17] ericwbailey commented on #1018
It's manual as they're caught, unfortunately. The previous version hosted on Jekyll and GitHub pages had a tangled ball of Markdown metadata-level redirects that couldn't be moved forward to Eleventy cleanly.

[2020-08-26 00:21] aardrian commented on #1018
In that case, I look forward to re-opening this issue.

If you are running some form of analytics, the 404 view can be handy. If you aren't, setting up a script to phone home with URL whenever the 404 page is draw could be handy.

I _know_ you do not need my feedback, but as a dude on the internets I cannot stop myself from offering advice you do not need. I mostly want to avoid pestering you ever

[2020-08-26 00:26] ericwbailey commented on #1018
The pestering is appreciated. I check Netlify's analytics daily to see top not found resources, but it's not all not found resources. Getting a outage/404 reporter solution is on my mental checklist, but it's honestly been lower priority dealing with some other issues.

More to the point, thank you for taking the time and effort to let me know what you uncover.

[2020-08-26 04:41] jendowns commented on #1064
Hey @ericwbailey! I'd like to work on this one, if that's cool.

Which pages do you think should be available offline? 🤔 Perhaps the Checklist page? Adding and caching an RSS feed of posts would also be useful.

[2020-08-27 04:30] #1057 closed

[2020-08-27 13:05] zwiastunsw opened #1092 "the local copy won't start"
## Summary

After installation, I receive a Cannot GET /
(Env: Windows 10, 64bit)

[2020-08-28 00:01] ericwbailey commented on #1092
I am unable to reproduce this issue on my machine (macOS 10.15.6). Can you verify you're using the right version of node? Minimum version is 12.13.1.

[2020-08-29 01:02] zwiastunsw commented on #1092
thx, I reinstalled node and it's OK

[2020-08-29 21:45] #1092 closed

[2020-08-29 23:35] ericwbailey commented on #1089
Closed via https://github.com/a11yproject/a11yproject.com/pull/1091.

[2020-08-29 23:35] #1089 closed

[2020-08-31 15:13] ericwbailey opened #1096 "Post collections"
Some posts benefit from being read in sequence. For example, our ARIA [roles](https://www.a11yproject.com/posts/2020-08-20-an-indepth-guide-to-aria-roles/), [states](https://www.a11yproject.com/posts/2018-07-30-aria-states/), and [properties](https://www.a11yproject.com/posts/2018-07-30-aria-properties/) posts.

I'm thinking a collection is a lot like a learning track, where it can tie together co

[2020-08-31 15:14] ericwbailey commented on #1064
@jendowns Awesome! I was thinking just a list of what the user had previously viewed and cached, but I'm open to suggestions if you have a better idea.

[2020-09-02 13:08] #1031 closed

[2020-09-09 15:31] ericwbailey opened #1100 "Checklist header area does not have sufficient contrast"
Reported via a private Slack.

Currently, the blue background image that reads "Checklist" placed over the green background color has a contrast ratio of `2.3:1`. We'll need to update it to be WCAG compliant.

[2020-09-10 02:25] ericwbailey commented on #1100
Closed via https://github.com/a11yproject/a11yproject.com/pull/1102.

[2020-09-10 02:25] #1100 closed

[2020-09-10 04:07] ericwbailey commented on #1075
I am closing this based on [this very lovely tweet](https://twitter.com/eleven_ty/status/1302948833626918912).

I think utility styles will continue to help improve on performance, and I am now a little more comfortable with the CSS weight given that we seem to be, er, performing pretty well!

[2020-09-10 04:07] #1075 closed

[2020-09-10 08:56] danielmatthew commented on #937
@ericwbailey May I get involved with this one?

[2020-09-10 14:20] ericwbailey commented on #937
That'd be amazing!

[2020-09-10 15:10] ericwbailey opened #1105 "Articles wanted: auditing the accessibiltiy of iOS and Android mobile apps"
A lot of our content skews towards the web, but smartphone apps play a large role in many people's lives. We would love posts on what to look out for when auditing mobile apps for accessibility.

[2020-09-15 01:27] ericwbailey commented on #976
Added Recursive Mono via https://github.com/a11yproject/a11yproject.com/pull/1107. If we go with Recursive for an Anaheim replacement it'll be us only serving two general families.

[2020-09-17 15:46] rileyorr opened #1109 "Understanding vestibular disorders - "Page not found""
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

I navigated to the ["Understanding vestibular disorders"](https://www.a11yproject.com/posts/understanding-vestibular-disorders/) webpage from an outside resource and see a "Page not found" error.

### Expected result

I expected to see a page with content relating to vestibular disorders.

###

[2020-09-18 04:27] #1109 closed

[2020-09-18 04:28] ericwbailey commented on #1109
@rileyorr Thanks for the head's up! I think we've fixed this via https://github.com/a11yproject/a11yproject.com/pull/1110. Please re-open the issue if that's not the case.

[2020-09-20 00:39] damemm56 opened #1111 "مؤسسة الفخامه"
@مؤسسة

- [ ] #الفخامه
 [@[``](url)The](`

`) A11Y Project used to list webinars, regional events, and meetups. We no longer support this feature. If you are interested in finding an accessibility-related group near you, please check our <a href="https://a11yproject.com/resources/#meetups">Meetups section in Resources</a>.

[2020-09-20 15:55] #1111 closed

[2020-09-20 16:31] ericwbailey opened #1112 "Article wanted: CSS that affects the accessibility tree"
This is something that's not commonly known. The post does not have to get too deep into the details, just centralize CSS properties that can affect assistive technology.

[2020-09-21 23:21] CherylLouise808 commented on #1077
Hi Eric Bailey:

Expected deadline over shot. No way I can get this out by 11PM-end of today.

 Am trying to reach out to another early founder of Web
Accessibility Initiative and some of the early institutions that were
involved.

May I obtain an extension until Monday, September 28, 2020 at the risk of
ruining my deadline keeping reputation?

Cheryl

On Fri, Aug 21, 2020 at 10:55 AM Eric Bailey

[2020-09-21 23:34] ericwbailey commented on #1077
Hey Cheryl, thanks for the head's up. That's totally fine by me, I'd rather have something you're happy with than meeting your own self-imposed deadline 🙂

[2020-09-22 05:53] matuzo commented on #1112
I'd love to write that article.

I'm on vacation now for 2 weeks. When I come back, I'll post some ideas, ok?

[2020-09-22 13:46] ericwbailey commented on #1112
Heck yeah, thank you!

[2020-09-25 17:53] SaptakS commented on #1096
I really like this idea. I think landing page would be great to point to the different resources in an orderly fashion. Something similar that immediately comes to my mind is: https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world

[2020-09-27 23:51] CherylLouise808 commented on #1077
Before the Magnifying Glass: A Quite Brief History of the Web
Accessibility Initiative by Cheryl L. Branche

None of the current tools of the web that make the web easier to use
started in a vacuum. Wheels started to turn to make the web more
accessible in 1999.

Before the magnifying glass, many web users had difficulty using the
the webpages. The World Wide Web COnsortium (W3C)'S Daniel
DArdenil

[2020-09-29 01:32] CherylLouise808 commented on #1077
Hi Eric:

Second interview-no response. Getting there. Condensing to word count.

Concerned that two interview absence will yield not per query.

Cheryl

On Mon, Sep 21, 2020 at 7:34 PM Eric Bailey <notifications@github.com>
wrote:

[2020-09-29 02:38] ericwbailey commented on #1077
Thanks for the head's up. I've got a lot of trust for the end article's quality based on the draft and your communication, so please feel free to proceed with what you think is best.

[2020-09-29 03:27] CherylLouise808 commented on #1077
Hi:

Thanks. That's pressure! May I do well.:-)

Cheryl

On Mon, Sep 28, 2020 at 10:38 PM Eric Bailey <notifications@github.com>
wrote:

[2020-10-01 02:05] ericwbailey commented on #738
Reports of broken links have died down for the most part. Closing in favor of individual redirect Issues.

[2020-10-01 02:05] #738 closed

[2020-10-01 15:19] ericwbailey opened #1117 "The A11Y Project is not participating in Hacktoberfest"
Due to [the phenomenon of high volume, low quality PRs being generated from Hacktoberfest](https://blog.domenic.me/hacktoberfest/) in order to get free teeshirts, we will be marking all obvious attempts to game the system as spam and reporting them to [Digital Ocean](https://hacktoberfest.digitalocean.com/).

Attempts include, but are not limited to:

- Creating unnecessary or unwanted files, espe

[2020-10-01 15:36] isatrio commented on #1117
Hi @ericwbailey and @davatron5000 ,

So, it's me Yudhi who contacted you @davatron5000 at Twitter. I'm one of the maintainer a11y-id community (Indonesia-based). So we planned to have resources in our local language, Bahasa Indonesia. I fully understand if a11y-project did not participate on Hacktoberfest, yes I felt this too.

If possible, we're in Indonesia will translate all content inside a11y

[2020-10-01 15:58] isatrio commented on #511
Hmm, I've read this a while ago and the last comment was 2 years ago. @davatron5000 gave me a link about this. That's why I propose to forking this repo and start from there. But seems, it's stuck on something. I saw @motchie also not even start the translation on JP. Do I miss something?

[2020-10-01 16:54] davatron5000 commented on #511
Howdy everyone! Sorry for showing up to a thread two year late but I was recently asked about translations and have put a tiny bit of thought into it this week.

Due to the switch to Eleventy and Netlify, we can workaround some of the limitations we previously had with Jekyll translations. Looking at the documentation for `eleventy-plugin-i18n` we could maybe have the intuitive URL structure for `

[2020-10-01 17:28] pkra commented on #511
:wave: I'm still interested in this (incl. adding more translations).

Let me know if I should update the gist in some way, @davatron5000 ?

[2020-10-01 19:17] davatron5000 commented on #511
@pkra Nope! Should be fine. I'll ping this thread when I have something to look at.

[2020-10-06 05:54] aschrijver opened #1121 "You were added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Inclusion' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By adding this

[2020-10-06 14:13] ericwbailey commented on #1121
Thanks for the head's up!

[2020-10-06 14:13] #1121 closed

[2020-10-06 15:57] ericwbailey commented on #1017
We use Netlify, so [this is also promising](https://github.com/algolia/algoliasearch-netlify/)!

[2020-10-06 16:50] faraixyz commented on #1017
Which approach is preferred? A search as a service like Algolia, or a custom solution which leverages Netlify functions?

[2020-10-07 00:24] ericwbailey commented on #1017
@faraixyz To be honest, this is out of my area of expertise—I'd likely defer to an informed opinion.

[2020-10-14 08:05] hidde opened #1127 "Focused state of highlighted resources card has insufficient contrast"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

When a user tabs to the highlighted card in the resources page, the background turns light, while the text colour stays light. This results in insufficient contrast.

### Expected result

Text colour has plenty of contrast with background colour.

### Actual result

Text colour has little contr

[2020-10-14 23:35] ericwbailey commented on #1127
Ah, great catch, thank you. Closed via https://github.com/a11yproject/a11yproject.com/pull/1128.

[2020-10-14 23:35] #1127 closed

[2020-10-24 16:27] arrowtype opened #1137 "Font rendering on macOS pre-11 has a bug, so it would be worth updating the Recursive font files"
## Summary

Love the site!

However, I’ve noticed that Recursive is rendering with an issue caused by the way overlaps macOS renders static fonts with overlaps, pre macOS 11.

![Font rendering issue on the A11Y project website](https://user-images.githubusercontent.com/45946693/97086930-5cea6200-15f4-11eb-89c4-a7a5046204a2.png)

A fuller explanation for font nerds is here: https://twitter.com/Arro

[2020-10-27 17:32] Z33 opened #1142 "Wrong Link, Cross-Cultural Design book"
Under Resources, the book Cross-Cultural Design has the incorrect link. Is currently linked to Color Accessibility Workflows which is prior to it.

https://www.a11yproject.com/resources/#cross-cultural-design

[2020-10-28 03:09] ericwbailey commented on #1142
Ah, thanks for finding this! Fixed via https://github.com/a11yproject/a11yproject.com/pull/1144.

[2020-10-28 03:09] #1142 closed

[2020-10-28 04:01] ericwbailey commented on #1137
Thanks for the great issue description, @arrowtype. I'm a designer by trade, so this sort of info is really interesting to me! To answer your questions:

Yup, definitely. I'll see what I can do about working with the link you provided. As for conversion, I use fontplop. Any objections to this form of conversion? I'm specifically trying to avoid the variable font to keep the payload size down.

I t

[2020-10-28 12:52] arrowtype commented on #1137
Thanks for the reply, @ericwbailey!

No worries about fontplop (I'm not familiar with it, but Recursive has an OFL license, so you can do almost whatever you want to with it). If it works; sounds good! And yes, the full Recursive VF is definitely too big if you only need a style or two.

Thanks for letting me know about the origin of the statics; that makes sense. Google Fonts is still working to

[2020-10-29 17:13] darekkay commented on #707
Unfortunately, Joe's list isn't updated anymore. The PR from Alex [linked above](https://github.com/a11yproject/a11yproject.com/issues/707#issuecomment-452009099) has been open for almost 2 years now. I've been contributing to [awesome-a11y](https://github.com/brunopulis/awesome-a11y) and there you can find [an updated list of people to follow](https://github.com/brunopulis/awesome-a11y/blob/maste

[2020-10-29 22:17] ericwbailey commented on #707
@darekkay I'd be happy pointing towards a more actively maintained resource. If you want to create and issue and tackle the PR I'd be more than happy to merge it.

[2020-11-05 21:08] #1117 closed

[2020-11-05 22:56] CherylLouise808 commented on #1077
Hi Eric:

I am writing to let you know that the article is coming along. Just taking
time to sift through lots of notes and web references. No interviews have
panned out. It is not working out.

Soooo...in view of a late delivery of far from what I expected I cannot
THINK of sending an invoice, and let alone accepting payment.  We have our
in-house quality guidelines.

Please expect soon.

Cheryl

[2020-11-13 02:40] aardrian opened #1150 "Code blocks in ToC"
## Summary

On mobile, inline code in the table of contents does weird wrapping.

1. Use Firefox or Chrome on Android mobile,
2. Go to https://www.a11yproject.com/posts/2019-02-15-creating-valid-and-accessible-links/,
3. Scroll down to the _Table of Contents_,
4. Admire.

### Expected result

The text flows like normal text.

### Actual result

Items with a piece of code cause wrapping of all text

[2020-11-13 16:28] aardrian commented on #1150
Back on a real computer, saw it affects desktop resolutions, and came back to report that _removing_ the following fixes the issue:
[code]

Then you can change the `margin` on the `<li>` from `0` to something else:
[code]

Whether or not you use it is up to you, but the fix in #1151 retains the flex, which may have other unforeseen consequences and is weird for inline text. It also makes for text

[2020-11-13 16:54] aardrian opened #1152 "Table of Contents is all-caps"
## Summary

The Table of Contents that appears for some posts uses all-caps text.

1. Navigate to https://www.a11yproject.com/posts/2019-02-15-creating-valid-and-accessible-links/#further-reading
2. Scroll until you see the TABLE OF CONTENTS
3. Observe the all-caps

### Expected result

I expect mixed case or title case or sentence case, based on whatever the site's style/writer's guide defines (a

[2020-11-14 07:58] SaptakS commented on #1150
Removing flex would actually change the hover effect. The display is kept flex because of the hover effect itself. So technically I can wrap the text content inside a span or something.

This I didn't notice. Thanks for pointing that. I will look a little more to check what might work best keeping all the things intact.

[2020-11-14 15:15] aardrian commented on #1150
I did not notice the focus effect; my bad.

[2020-11-15 05:47] Taenerys commented on #12
Hi!! I'm new here, would love to take up writing about HOWTO: Use VoiceOver on iOS if no one has claimed this topic yet!

[2020-11-16 01:51] ericwbailey commented on #12
@Taenerys Thanks for volunteering, it's yours! Here's [our contribution guidelines for posts](https://www.a11yproject.com/contributing-guidelines/#posts), as well as [our style guide](https://www.a11yproject.com/content-style-guide/).

[2020-11-16 07:53] SaptakS commented on #1150
https://github.com/a11yproject/a11yproject.com/pull/1151#issuecomment-727803067 should address the issues with indent and baseline for most browsers. @aardrian let me know if that seems good to you.

[2020-11-18 05:41] jendowns commented on #1064
Hey @ericwbailey! Thank you for you patience... these past few months have been super busy for me. 😅 I just wanted to let you know that I'll be able to revisit this again soon, this weekend.

[2020-11-18 20:05] #1137 closed

[2020-11-18 20:09] ericwbailey commented on #976
I've removed Recursive after evaluating it for a bit. It seemed to drift too far into the other direction.

@emilane Would you be open to exploring other options? Also @tatianamac, have you run across anything?

[2020-11-18 20:11] ericwbailey commented on #1137
So, the good news is I was able to fix this issue using static weights from your repo. The less good news is we've moved away from using Recursive.

Thank you for such a detailed issue report, and for all your hard work on the typeface.

[2020-11-18 20:16] emilane commented on #976
@ericwbailey I sure can! Can you highlight specifics that you felt were too thick? Specific letterforms, the overall font, any other issues?

[2020-11-18 20:20] ericwbailey commented on #976
@emilane Amazing, thank you 🙏

I think the character width and weight were a little too much. The counter/aperture space was also more open compared to Anaheim, which I think was throwing me off.

[2020-11-18 21:23] ericwbailey commented on #1064
@jendowns No worries! 2020 is, uh, an experience. Take all the time you need.

[2020-11-19 01:42] aardrian commented on #1150
@SaptakS Sadly I have been tied up on deadlines, so I have been unable to review.

I am assuming since you closed this that the change has been deployed. If so, I am seeing scrollbars on the <code>&lt;code&gt;</code> when using Chrome 86 and Firefox 82 on Windows 10. I did not check on my Mac nor any other device.

Chrome 86:
![2020-11-18 (2)](https://user-images.githubusercontent.com/1376607/9960

[2020-11-19 01:58] ericwbailey commented on #1152
Closed via https://github.com/a11yproject/a11yproject.com/pull/1154. Thanks for reporting this.

[2020-11-19 01:58] #1152 closed

[2020-11-19 09:11] SaptakS commented on #1150
@aardrian I don't see it in my linux machine or mobile. I will try reproducing it in a windows VM

[2020-11-19 13:07] aardrian commented on #1150
macOS 11 / Safari
![image](https://user-images.githubusercontent.com/1376607/99670210-2dd1df80-2a3e-11eb-8e01-04c2fda725b6.png)

[2020-11-19 14:30] SaptakS commented on #1150
@aardrian let me know if the above changes look better.

[2020-11-19 16:43] aardrian commented on #1150
See comment on PR. Only tested in dev tools in one browser based on my understanding of what the Sass is doing to the CSS.

[2020-11-20 10:43] #1150 closed

[2020-11-27 13:03] faraixyz opened #1161 "Add a license for content"
I was wondering if there's a plan to add a clear content license for the post's on the website? The AGPL seems to cover the code and it would be good to have something like a creative commons license to help folk understand how they can use the site's content.

Looks like this issue in #283 was brought up long ago, but hasn't been addressed.

[2020-11-27 13:23] faraixyz opened #1162 "Article: [Why a11y Isn't Ironically Inaccessible]"
## Description

Sometimes people comment on how a11y is ironically inaccessible. That isn't the case since the abbreviation (known as a numeonym) is common (W3C, i18l) and it being like that actually helps curate resources (like this project) and community for those working on web accessibility. I guess this will be a good reference to link to when people point this out and can explain the name.

[2020-11-27 15:06] scottaohara commented on #1162
The a11yproject already has https://www.a11yproject.com/posts/2017-08-26-a11y-and-other-numeronyms/

[2020-11-27 15:25] #1162 closed

[2020-11-28 16:55] ericwbailey commented on #1161
I don't feel comfortable making adjustments to a license of a website that isn't mine. I am cautious about a license that could be misconstrued as letting our content be republished elsewhere, with regards to content scrapers and other for-profit scam sites.

Tapping @davatron5000 for his input.

[2020-12-01 07:16] faraixyz commented on #1161
Oh that makes sense. I guess it'll do fine without an explicit license then.

[2020-12-01 23:29] #1161 closed

[2020-12-04 22:31] rmleg commented on #12
Hi! I have been working on modal accessibility quite a bit lately and I would love to take a stab at the "HOWTO: Make accessible dialogs and modals" article if it hasn't been claimed yet.

[2020-12-04 22:57] ericwbailey commented on #12
Sounds great!

[2020-12-05 00:43] sheribyrne commented on #12
I'm about to post an article on Medium on accessible form construction.  If
that is a topic of interest that hasn't been taken yet, let me know and
I'll look at those guidelines that are in the earlier response

Sheri

On Fri, Dec 4, 2020 at 2:58 PM Eric Bailey <notifications@github.com> wrote:

[2020-12-06 05:11] rmleg opened #1164 "Article: How to make accessible dialogs and modals"
## Description

A guide to creating accessible dialogs and modals as requested in #12.

## Would you like to write the article or request that it be written?

I've been working a lot with modal accessibility lately and I would like to write this article!

[2020-12-08 23:49] #513 closed

[2020-12-08 23:51] ericwbailey commented on #647
Converting to use GitHub's new Discussion feature.

[2020-12-08 23:51] #647 closed

[2020-12-08 23:52] ericwbailey commented on #871
Closed for inactivity. @missmatsuko, feel free to re-open if you have the bandwidth!

[2020-12-08 23:52] #871 closed

[2020-12-08 23:54] ericwbailey commented on #850
Closing for inactivity. @Martin-Pitt, feel free to re-open this if you have the bandwidth!

[2020-12-08 23:54] #850 closed

[2020-12-08 23:54] ericwbailey commented on #663
Converting to use GitHub's new Discussion feature.

[2020-12-08 23:54] #663 closed

[2020-12-08 23:55] ericwbailey commented on #736
Closing for inactivity.

[2020-12-08 23:55] #736 closed

[2020-12-10 12:37] eschafer opened #1166 "Resources page presentation is a little overwhelming"
Hi! Not sure if you're open to feedback like this, but I just wanted to mention that the list of resources is kind of daunting. I wanted to share a link as a place for people to go if they want to learn more about accessibility, but it was hard for me to parse scrolling through it.

I know you just redesigned and it looks great! But maybe at some point things could be split up into smaller chunks

[2020-12-10 23:31] nickperkinslondon opened #1167 "WW2 is not a numeronym ( nor is P2P )"
Your website says that WW2 and P2P are examples of numeronymns -- but they are not.  In WW2 the "2" represents the number "2" ( not 2 missing letters ).  In P2P, the 2 is used because it is a homonym of "to", not because it replaces 2 missing letters.  P2P could only be considered a numeronym by accident.  So the only real precedent for this "numeronym" idea is "i18n" -- that's it.  ( and I always

[2020-12-10 23:36] ericwbailey commented on #1167
Nah.

[2020-12-10 23:37] #1167 closed

[2020-12-11 00:27] ericwbailey commented on #1166
Hey there! This is definitely something on my radar. The design had initially had third tier levels to allow for sub-subcategories, but we never got that off the ground.

I'm a little more confident in my Eleventy abilities these days. Do you think that level of organization would help the overwhelming aspect? The page would still be as long (if not a little longer), and that can be overwhelming t

[2020-12-23 18:17] dbjorge opened #1173 "Table of contents control missing visible focus indicator"
## Summary

The collapsible "Table of contents" element used in the left nav doesn't have a visible focus indicator (required by [WCAG SC 2.4.7 Focus Visible](https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html)). The rest of the table of contents uses a pink line to the right of each entry to indicate focus, but the focused state for the "Table of contents" control itself is not distin

[2020-12-27 09:07] StommePoes commented on #960
ping

I assume the flashing pink is not waiting for a PR but waiting to get past some huge behind-the-scenes fight over what accessible colour could replace the pink?

[2020-12-27 19:38] #1173 closed

[2020-12-27 19:39] ericwbailey commented on #1173
Great catch, thank you! Closed via https://github.com/a11yproject/a11yproject.com/pull/1174.

[2020-12-30 18:50] ericwbailey commented on #960
This is still definitely on my radar. I could take a shot at it, but do you have any opinions on palette modification, @tatianamac?

[2021-01-08 17:36] whitingx opened #1175 "Typographical error on Resources page."
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

On the Resources page (https://www.a11yproject.com/resources/) there is a predominant spelling of the word ‘Accessible’ (96 matches). However, there are 5 uses of the word ‘Accessibile’.

### Expected result

To see a consistent spelling of the word ‘Accessible’.

### Actual result

A mixture o

[2021-01-09 22:53] ericwbailey commented on #1175
Closed via https://github.com/a11yproject/a11yproject.com/pull/1176. Thank you so much for catching and fixing this, @whitingx!

[2021-01-09 22:53] #1175 closed

[2021-01-09 23:21] ericwbailey commented on #937
To reference later: https://css-tricks.com/give-your-eleventy-site-superpowers-with-environment-variables/

@danielmatthew Is this something you're still interested in? No worries if not.

[2021-01-10 17:35] danielmatthew commented on #937
@ericwbailey I am! I'm sorry – extracurricular activities fell by the wayside towards the end of last year.

[2021-01-10 20:31] ericwbailey commented on #937
@danielmatthew No worries, especially considering this year. Just checking in!

[2021-01-13 00:00] Emilsone opened #1177 "Article: [ Getting Started With Github Gists ]"
## Description

Most times we as developers might be applying for a role or so, or maybe you have a bug on your code and you want to create an issue or share your code with others to help figure out, well there is a way to work it out without

## Would you like to write the article or request that it be written?

Yes I would like to write the article

[2021-01-13 00:06] ericwbailey commented on #1177
Hey @Emilsone, thanks for volunteering to write this. While I like your idea, our site is focused on disability and accessibility. Unfortunately, I don't think it's a good fit for the kind of content we publish.

I might suggest [dev.to](https://dev.to/) as a place to publish this.

[2021-01-20 00:47] #1177 closed

[2021-01-22 17:20] JSmurf commented on #12
I'd love to write a few posts. I have an idea for the "?? MYTHBUSTED: Accessibility is just turning off CSS ??" item on the list.

[2021-01-22 21:47] davatron5000 commented on #12
@JSmurf Have at it! Feel free to post a PR. Or if you'd rather, open a new issue with a link to an outline or gist of some kind and we can assist. I'll add your name next to the post to "claim" it.

[2021-01-23 21:56] Cerchie commented on #1105
Hi,
I'd love to research and write on this.
Here are some examples of my technical work:
https://blog.arctype.com/postgres-uuid/
https://www.megethosdigital.com/why-is-sending-paid-traffic-to-your-home-page-a-bad-idea/ (ghost-written, permission given to share)
And here's some of my non-technical stuff: https://darlingmagazine.org/author/lucia-cerchie/
Do you have a content guide?

[2021-01-25 01:08] ericwbailey commented on #1105
@Cerchie Sounds great! Here's our content guide: https://www.a11yproject.com/content-style-guide/

[2021-01-26 21:48] Cerchie commented on #1105
Awesome! I'll put the first draft in my calendar for Thursday afternoon.

[2021-01-28 22:21] Cerchie opened #1183 "Auditing iOS and Android"
## Description

Picking up the proposal from issue #[1105](https://github.com/a11yproject/a11yproject.com/issues/1105)
## Would you like to write the article or request that it be written?

I'm honored to write it!

[2021-01-28 22:27] Cerchie commented on #1105
@ericwbailey A clarification-- was looking at opening up an issue and realized a lot of the particulars have been written already (how to check for color contrast, making larger target sizes, etc.)
Are you looking for more of a 'starter checklist' blogpost for this topic?

[2021-01-29 19:29] ericwbailey commented on #1105
Sort of. Right now we have a lot of content on checking accessibility on the web, but iOS and Android have specific tools and limitations. I think the post could definitely link to existing posts for the things you mention, but I'd also like common pitfalls (lack of landscape support, dynamic text resizing, etc.) to be addressed.

[2021-01-29 19:33] Cerchie commented on #1105
Thanks for giving me more context! I'll write a post on dynamic text
resizing then

On Fri, 29 Jan 2021 at 12:29, Eric Bailey <notifications@github.com> wrote:

[2021-01-29 19:33] Cerchie commented on #1105
Thanks for giving me more context! I'll write a post on dynamic text resizing then

[2021-02-16 03:32] esjay commented on #989
Due to a dependency upon how eleventy processes incremental builds, we can get about 95% of the way towards this, but the build output will suffer due to eleventy's need to [rebuild the entire site](https://github.com/11ty/eleventy/issues/108) whenever a passthrough file copy operation occurs. Currently, this is on [eleventy's Incremental enhancement board/roadmap](https://github.com/orgs/11ty/pro

[2021-02-20 13:31] sandrina-p commented on #1164
Hi @rmleg , how is been your article?
I had this one on my todo list. If you need a reviewer, I'll gladly help you :)

[2021-02-25 19:45] rachel-fischoff commented on #940
Do you still want help on this issue? Looking for a good first issue for contributing!

[2021-02-26 09:02] SaptakS commented on #940
Feel free to go for it!

[2021-03-01 02:50] rmleg commented on #1164
Hey @sandrina-p, I've actually been meaning to reach out! I unfortunately haven't started this yet--I think I've overcommitted myself to too many projects. :( I would still like to write this article though! Would this rough schedule be okay?

- Outline on/around March 8
- First draft on/around March 22
- Edits completed by the end of March

If you need it sooner I totally understand and would be

[2021-03-02 14:06] sandrina-p commented on #1164
@rmleg, your pace is perfectly fine, just ping me whenever you need an extra review :)

[2021-03-09 02:18] rmleg opened #1205 "Bug: Broken footnotes"
## Summary

I noticed that the footnotes haven't been parsed from markdown [in this article](https://www.a11yproject.com/posts/2013-02-09-how-to-use-application-role/). I'm not sure if this is a site-wide problem or only for this article because none of the other articles I checked used footnotes.

### Expected result

`[^focusmode]` and `[^html]` in the article linked above should be links to foo

[2021-03-09 02:48] rmleg commented on #1164
What are your thoughts on separating dialogs and modals into two separate articles?

I wasn't completely sure what distinguished a non-modal dialog from a modal. When I looked into it, I saw that there is a lot of information that could potentially be included in an article and would make a single article quite long. [Here's an article I found as an example of the depth an article focused on non-m

[2021-03-09 03:18] rmleg commented on #1164
I wrote an outline for a modal-focused article ([see my previous comment](https://github.com/a11yproject/a11yproject.com/issues/1164#issuecomment-793295900)) and would appreciate any feedback you have to offer! I can definitely add non-modal dialog content as well if you would still prefer to keep the two as a single article.

Where I reference things that aren't done just with HTML, like adding `

[2021-03-10 00:55] rachel-fischoff commented on #940
Ok! I can tackle this upcoming week! I've been so busy.

[2021-03-11 01:18] ericwbailey commented on #1205
Ah, nice catch, thank you! I think this might have broke when we moved from Jekyll to Eleventy and the Markdown parser changed. I'll take a look at it.

[2021-03-11 01:25] ericwbailey commented on #1164
Nice! This is looking good. To answer your questions:

I definitely would link. If we can do the hard work to make it easy on the reader to link to a quality source it helps both the reader and both sites' reputations.

It might make the post longer, but I think one post that clarifies these two treatments would be helpful. I think a lot of people aren't familiar with the nuance.

Also tapping @sc

[2021-03-11 03:53] rmleg commented on #1164
@ericwbailey Sounds good re a single post! It will take me a bit longer since I am much less familiar with non-modal dialogs. I'll do some reading and aim to post an updated outline by the middle of next week. :)

[2021-03-11 19:33] adampage opened #1206 "Typo in “Should I use an accessibility overlay?” post"
## Steps to reproduce

1. Open any browser.
2. Go to [Should I use an accessibility overlay?](https://www.a11yproject.com/posts/2021-03-08-should-i-use-an-accessibility-overlay/) at a11yproject.com.
3. Navigate to the [ Performance ](https://www.a11yproject.com/posts/2021-03-08-should-i-use-an-accessibility-overlay/#toc_Performance) section.

## Actual result

Observe typo (emphasis mine):
“...may

[2021-03-12 02:11] ericwbailey commented on #1206
Closed via https://github.com/a11yproject/a11yproject.com/pull/1207. Thanks for spotting this!

[2021-03-12 02:11] #1206 closed

[2021-03-12 15:56] kelsS opened #1208 "Inaccessibility: Low contrast .c-card__additional in Featured Resource Card"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary
When you right-click on the featured resource card link the text for the `.c-card__additional` paragraph changes to white over the green background of the card and has very low contrast.

### Expected result
Expect that the text color for `.c-card__additional` does not change to white.

### Actu

[2021-03-12 16:30] aguscha333 opened #1209 "Add the level of the rule directly on the item listed"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary
I think it would be useful to be able to quickly see the level of accessibility (A, AA, or AAA). Ideally, a webpage should be able to check them all off but it is also important to know what to prioritize to make the most impact sooner.

### Expected result

### Actual result

I would like to kn

[2021-03-13 17:03] norfali commented on #934
@camariana @ericwbailey Is this issue still active? I'd be happy to help! :)

[2021-03-13 22:07] ericwbailey commented on #934
I'd defer to @camariana, but I'd love the support, thanks!

[2021-03-14 21:47] ericwbailey commented on #1208
Great catch, @kelsS! I'll get on this right now.

[2021-03-15 14:58] camariana commented on #934
Sure @norfali go ahead

[2021-03-15 16:34] norfali commented on #934
Awesome thanks, @camariana!

@ericwbailey I will make a start sometime this week. :smiley:

[2021-03-16 02:07] ericwbailey commented on #1209
Hey @aguscha333, I think this is a lovely idea! Some of the checklist items represent multiple WCAG success criterion, so this might get a little tricky. Do you think it'd be an average, or the highest applicable level?

As for implementation, [here's where the checklist content is stored](https://github.com/a11yproject/a11yproject.com/blob/main/src/_data/checklists.json). We could add a `wcag` en

[2021-03-16 16:54] aguscha333 commented on #1209
Hmm good question, I was not expecting them to relate to more than one level. I think if we are only showing one level I would show the lowest applicable level since it's the first level that people are going to try to cover so listing the highest one only could lead to the item being dismissed and left to do later. That being said, since there are only 3 levels I think that it could be possible t

[2021-03-17 04:22] ericwbailey commented on #1208
Closed via https://github.com/a11yproject/a11yproject.com/pull/1213. Thank you for reporting this!

[2021-03-17 18:37] kelsS commented on #1208
Awesome! Thanks @ericwbailey :)

[2021-03-17 20:21] maryvillela opened #1214 "Article: Why Learning Experience Designers should champion accessibility"
## Description

## Would you like to write the article or request that it be written? I'd like to write it, but if anyone from your organization feels more qualified to do so, perhaps I can just send my ideas for consideration. I don't code, so I would understand if you'd like to go for that route.

[2021-03-18 01:04] ericwbailey commented on #1214
Hi @maryvillela, sounds like an interesting subject! If you prefer to work in Word, Google Docs or the like, we can work with that. Can you please [send us a message](https://www.a11yproject.com/contact/) so we can figure out how to work together?

[2021-03-18 21:37] resource11 commented on #1209
I can take a crack at this, @ericwbailey

[2021-03-19 00:17] ericwbailey commented on #1209
This makes sense to me!

@resource11: Is this something you'd be comfortable helping out with?

Sounds like a perfectly reasonable starting point to me 🙂

[2021-03-19 00:20] ericwbailey commented on #1208
Reopened via https://github.com/a11yproject/a11yproject.com/pull/1213#issuecomment-801328990.

[2021-03-19 15:32] resource11 commented on #1209
I'm comfortable helping out with this one, @ericwbailey!

[2021-03-20 21:44] ericwbailey commented on #1205
Closed via https://github.com/a11yproject/a11yproject.com/pull/1216. Thank you again for reporting this!

[2021-03-20 21:44] #1205 closed

[2021-03-22 03:31] ericwbailey commented on #881
Closed for inactivity.

[2021-03-22 03:31] #881 closed

[2021-03-22 03:31] ericwbailey commented on #922
Closed for inactivity.

[2021-03-22 03:31] #922 closed

[2021-03-22 03:32] #932 closed

[2021-03-22 03:32] ericwbailey commented on #955
Closed for inactivity.

[2021-03-22 03:32] #955 closed

[2021-03-22 03:33] ericwbailey commented on #913
Closed for inactivity.

[2021-03-22 03:33] #913 closed

[2021-03-22 03:33] ericwbailey commented on #1112
Closed for inactivity.

[2021-03-22 03:33] #1112 closed

[2021-03-22 03:34] ericwbailey commented on #1077
Closed for inactivity.

[2021-03-22 03:34] #1077 closed

[2021-03-22 03:35] ericwbailey commented on #1183
Closed via https://github.com/a11yproject/a11yproject.com/pull/1188.

[2021-03-22 03:35] #1183 closed

[2021-03-22 03:36] ericwbailey commented on #1214
Messaging with @maryvillela to create and edit this article via email/Google Docs. Closing.

[2021-03-22 03:36] #1214 closed

[2021-03-22 14:11] devinjameson opened #1218 "Rendering issue on checklist page on mobile"
## Summary

1. Go to https://www.a11yproject.com/checklist/ on mobile
1. Scroll down to the Animation section

### Expected result

The "prefers reduced motion" section renders like the other sections.

### Actual result

The section renders differently, perhaps because of the long string of characters in "prefers-reduced-motion."

![image](https://user-images.githubusercontent.com/39350030/112002

[2021-03-22 14:17] SaptakS commented on #1218
I am taking a look at this.

[2021-03-23 01:32] ericwbailey opened #1220 "Refactor the preview card component"
The current preview card component does a lot of heavy-lifting on the site. This has made it difficult to maintain, and has created some [difficult-to-corral bugs with styling state](https://github.com/a11yproject/a11yproject.com/issues/1208).

We should refactor the card component into separate preview cards for posts and resources to make maintaining them easier.

[2021-03-26 08:53] #1218 closed

[2021-04-01 19:01] clottman opened #1229 "Inaccurary: readme mentions info about Jekyll instead of Eleventy"
## Summary

The readme mentions that after you run `npm start`, you'll see some output from Jekyll, but it should say you'll see some output from Eleventy.

### Expected result
The readme should say:

### Actual result
The readme currently says:

[2021-04-01 19:30] #1229 closed

[2021-04-01 19:31] ericwbailey commented on #1229
Closed via https://github.com/a11yproject/a11yproject.com/pull/1230, thank you for submitting the fix! We're also always looking to make the setup process as easy as possible, so definitely let us know if you run into any obstacles while setting things up.

[2021-04-01 23:28] #938 closed

[2021-04-01 23:28] ericwbailey commented on #938
Closed via https://github.com/a11yproject/a11yproject.com/pull/1232. Thank you again, @clottman!

[2021-04-02 01:06] nchan0154 opened #1234 "Article Feedback: How to create accessible forms"
I was just catching up on recent commits in my Github feed and found the [how to create accessible forms article](https://www.a11yproject.com/posts/2020-09-19-how-to-write-accessible-forms/) by @HarcourtHamsa (thank you for writing this excellent primer!) I was wondering if it may be a good idea to add a section on [Understanding Success Criterion 1.3.5: Identify Input Purpose](https://www.w3.org/

[2021-04-02 01:13] nchan0154 commented on #1096
I'd like to try tackle this one if that's okay, @ericwbailey!

[2021-04-02 09:45] HarcourtHamsa commented on #1234
Sure I can add a few more sections. But it’ll have to be sometime next
week. Is that ok?
On Fri, 2 Apr 2021 at 02:06, boring-cyborg[bot] ***@***.***>
wrote:

[2021-04-02 18:56] ericwbailey commented on #1096
@nchan0154 Heck yeah!

[2021-04-04 08:54] nchan0154 commented on #1096
I have added an initial draft of the collections!

Each collection should be a file in the `src/collections/` folder. Each collection has a layout of 'collection', title, an optional author, an optional description, and an optional post body, and should be named a slugified version of the title.

[code]

To assign a post to a collection, add the slug and order metadata to a post. I've incremented

[2021-04-04 12:49] SaptakS commented on #1096
The first draft looks great! Thanks for the work!

I agree. There needs to be a page either at `/collections/` and should probably add a link in the navbar as well. As of colors to use, since both /posts/ and /checklist/ page focus styles are primarily blue, and only /resources/ page is green based, I think it's fine to maybe use a green color scheme for `/collections/`? I will leave the final dec

[2021-04-05 01:01] nchan0154 commented on #1096
Thank you for the feedback! One more option for display on the aritcle pages I'd like to present is an example from CSS tricks, where they have a callout box and a list of links:
![Capture](https://user-images.githubusercontent.com/12852862/113526606-47d71d80-95ed-11eb-8ec6-aca5360e9f9a.PNG)

[2021-04-05 05:32] SaptakS commented on #1096
Yes. I like this idea too compared to a more verbose display of all posts in a series/collection.

[2021-04-07 19:08] ericwbailey commented on #1096
I really like the CSS-Tricks approach as well (also I may be biased 😅).

[2021-04-07 22:08] shawnthompson opened #1238 "Checklist data: add headings and information into the JSON"
I would like to add the section headings and paragraph information from the [Checklist](https://www.a11yproject.com/checklist/) page into the [checklists.json](https://github.com/a11yproject/a11yproject.com/blob/main/src/_data/checklists.json).

See if there's a way to pull as much data into with a nunchucks `for`.

[code]

[2021-04-08 01:43] ericwbailey commented on #1238
Sounds great! Go for it!

[2021-04-22 19:23] mxmason commented on #1208
Hey, @ericwbailey, is this still an issue? I tabbed through the cards on all current macOS browsers and couldn't get the contrast issue to appear. I see that #1220 is claimed, but if you don't have time, I'm happy to give it a shot.

[2021-04-25 16:25] ericwbailey commented on #1208
@mxmason Forgot to close this, but good to have it checked by a second person! Closed via https://github.com/a11yproject/a11yproject.com/pull/1239.

[2021-04-25 16:25] ericwbailey commented on #1220
Closed via https://github.com/a11yproject/a11yproject.com/pull/1239.

[2021-04-25 16:25] #1220 closed

[2021-04-27 20:38] mxmason opened #1252 "`npm install` script fails on npm@7"
## Summary
Starting with npm version 7, npm is stricter about peer dependencies. This causes problems in our build scripts.

### Expected result
Running `npm start` in the dev console successfully starts the dev environment for the project.

### Actual result
The script throws an error.
[code]

The [gulp-sass install instructions](https://github.com/dlmanning/gulp-sass#install) specify to install

[2021-04-27 20:41] #1252 closed

[2021-04-27 21:21] SaptakS commented on #1252
I would actually have prefered that we move away from node-sass to dart-sass maybe since the sass team has deprecated the use of node-sass: https://sass-lang.com/blog/libsass-is-deprecated

[2021-04-27 22:49] mxmason opened #1253 "Chore: `sw.js` should be deduplicated"
## Summary

The project contains both `./sw.js` (which is unused) and `./src/sw.js` (which is shipped to users). We should:
1. Decide which file has the correct implementation
2. Ensure that `./src/sw.js` has that implementation
3. Delete `./sw.js`

[2021-04-27 22:55] mxmason opened #1254 "Chiore: `google-workbox` should be updated"
## Summary
`google-workbox` is several major versions out-of-date. We should ensure that we're using [the latest cdn version of workbox](https://developers.google.com/web/tools/workbox/modules/workbox-sw) and make sure we're using [the new API](https://github.com/GoogleChrome/workbox/releases/tag/v5.0.0) (see "Breaking changes")

## Related issues
Blocked by #1253 – sw.js should be deduplicated.

[2021-04-27 23:09] mxmason opened #1256 "Bug: woff2 version of Source Code Pro is missing"
## Summary
In [the import statement for Source Code Pro](https://github.com/a11yproject/a11yproject.com/blob/main/src/css/imports/_fonts.scss#L66), we expect a `woff2` version of the font, but no such file is in the repository. Was it removed by mistake?

### Expected result
https://www.a11yproject.com/ loads with no errors in dev console

### Actual result
The Firefox dev console reports a `downl

[2021-04-28 06:06] mxmason opened #1258 "Bug: npm start script does not reload on save"
## Summary
The `npm start` cli script does not watch for changes and reload the browser as expected.

### Expected result
When `npm start` script is running in the terminal:
- Editing a source file (`.njk`, `.md`, `.js`, `.scss`, etc) triggers a browser reload

### Actual result
When `npm start` script is running in the terminal:
- Editing a source file (`.njk`, `.md`, `.js`, `.scss`, etc) **does

[2021-04-28 09:05] #1258 closed

[2021-04-28 21:40] #1253 closed

[2021-04-28 21:40] #1254 closed

[2021-04-28 21:41] #1256 closed

[2021-04-29 14:15] mxmason commented on #1252
Just saw this, @SaptakS! Thanks for that link; I didn’t know about the deprecation.

I can see about migrating to dart-sass!

[2021-04-29 15:59] kiriann opened #1261 "Article: CSS layouts and its impact on accessibility."
## Description

I'd like to write an article about modern CSS techniques and how they can impact accessibility. There's a lot of flexibility with things like Flexbox and CSS Grid, however this could cause issues for many people as it affects the tabbing order of the website. I'd like to explain common pitfalls, why they are an issue and how to avoid them.

## Would you like to write the article or

[2021-04-29 16:43] mxmason opened #1263 "Chore: Project should migrate to dart-sass"
## Summary
As noted in https://github.com/a11yproject/a11yproject.com/issues/1252#issuecomment-827939332, the node implementation of SASS (exposed by the `node-sass` package), is deprecated. The Dart implementation is exposed by the `sass` package; we should swap to it in our

[2021-04-29 16:44] #1263 closed

[2021-04-29 17:06] mxmason commented on #1261
Hi, @kiriann! This is a great idea! Please feel free to work on this, and let us know if you need any help!

[2021-04-29 18:09] mxmason opened #1264 "Inaccessibility: A11Y Project team member cards violate WCAG 2.5.3: Label in Name"
## Summary
The `Website` links on the A11Y project team page have the visible label `Website`, but their accessible names start with other words. The `./src/_includes/person.njk` template should be updated with expected link text.

1. Navigate to https://www.a11yproject.com/team/
2. Start VoiceOver (or NVDA, or similar)
3. Navigate to Scott Vinkle's card
4. Read the card contents with the screen r

[2021-05-02 01:59] nchan0154 commented on #1096
Thanks for your patience! I've added the tweaks requested by @SaptakS and @ericwbailey  as well as created a new page for all collections.

The collection display within posts is now condensed down to a format more like the CSS-Tricks screenshot above.
[Screenshot of collection display within a post](https://user-images.githubusercontent.com/12852862/116799345-2b1a0100-ab2b-11eb-9c18-11825b3d8469.

[2021-05-04 00:05] ericwbailey commented on #1096
Love, love, love it 😍

[2021-05-04 01:12] ericwbailey commented on #1264
I accidentally pushed to `main` (sorry!), but I believe I have this addressed via https://github.com/a11yproject/a11yproject.com/commit/9b5889eea5076fb81651ba50ed00be50da25e5bf, https://github.com/a11yproject/a11yproject.com/commit/c6a761f8ad80bf002fddd03fc173f5fe7f17b2ed, and https://github.com/a11yproject/a11yproject.com/commit/4f09b46d8ca6c0061eef1836eef6c8d75d260149. I'm going to trigger a bui

[2021-05-04 15:16] mxmason commented on #1264
Ooh, thanks, @ericwbailey

1. Issue seems closed to me.
2. There's no ✨ rule ✨ about showing possession with names ending in `s`, and we can leave the placement of the apostrophe up to our own stylistic preferences. I prefer to place the apostrophe after a noun only when the noun is plural (`My sisters' bookstore`), but I am happy to adopt whatever style guide you prefer.

[2021-05-04 16:16] ericwbailey opened #1267 "Bug: Table of Contents is generated when no headings are present"
Example: https://www.a11yproject.com/announcements/2021-04-04-ten-dollars-for-ten-k/

Currently, the Table of Contents heading is listed, even if there are no headings in the post content. We need to update this to not be shown, as there is no content present to navigate to using this component.

[2021-05-04 22:55] ericwbailey commented on #1264
Agree with you on the apostrophe placement. Closing.

[2021-05-04 22:55] #1264 closed

[2021-05-09 13:06] aguscha333 commented on #1209
Hey @resource11 did you get a chance to work on this? if not maybe I could take a look?

[2021-05-09 19:59] mxmason commented on #1267
I'd like to claim this, if that's alright. I realized recently that we could (and, IMO, should) generate the table of contents during build, rather than on the client. I have ideas about how we can do this, but it may take some work

[2021-05-09 20:09] mxmason opened #1271 "Feature: Generate table of contents during build"
## Summary

We should generate the table of contents at build time, rather than relying on the client device to generate it. This will allow users to benefit from the TOC without requiring JavaScript, and will lessen the payload of the a11y project overall.

Luckily, there's prior art for this by way of [eleventy-plugin-toc](https://github.com/jdsteinbach/eleventy-plugin-toc)

[2021-05-09 23:05] ericwbailey commented on #1267
Go for it, I'd love to do this on build and spare the client the work.

[2021-05-10 00:03] mxmason commented on #1238
Hey, @shawnthompson! I think we had similar ideas right around the same time! If I understand correctly, my work in #1268 implements the changes you're describing here. We now generate the heading and preface for each part of the checklist by reading `checklist.json`!

[2021-05-10 07:10] D-Antonelli opened #1274 "Bug: When "table" tab is clicked on table of contents, it navigates to "content" section."
### Expected result

### Actual result

### Additional Information

[2021-05-10 09:50] danielmatthew commented on #1274
True for all generated links. "Success criteria", "Does this checklist…", "Next Steps", and "Further Reading" are unaffected.

[2021-05-10 09:51] danielmatthew commented on #1274
I suspect https://github.com/a11yproject/a11yproject.com/issues/1271 will resolve this

[2021-05-10 13:32] #1267 closed

[2021-05-10 13:32] #1271 closed

[2021-05-10 15:37] mxmason commented on #1274
Closing as resolved in #1271. Thank you for reporting, @D-Antonelli!

[2021-05-10 18:51] #1274 closed

[2021-05-11 03:19] mxmason opened #1277 "Content: Checklist WCAG references should be changed for better accuracy"
## Summary
The checklist currently makes incorrect references to specific WCAG criteria. The community should review the checklist content for better accuracy

<details><summary>Suggested edits courtesy of Scott O'Hara:</summary>

</details>

[2021-05-12 19:00] jaredcunha opened #1278 "Resource link is directing to an adult website"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

The last link in the resources section, "Web Accessibility Guide," might either be hacked or its URL is now owned by an adult website. In either case, might be worth removing the link.

<img width="791" alt="Screen Shot 2021-05-12 at 2 48 12 PM" src="https://user-images.githubusercontent.com/10

[2021-05-12 19:12] ericwbailey commented on #1278
Thanks for reporting this. The site was removed in https://github.com/a11yproject/a11yproject.com/pull/1276/files#diff-f3710cf394b62ec86dc5f637281e383050f7a3552ff48271238fc7d1a2a17a86L1940, you may need to refresh the page to see an update.

[2021-05-12 19:12] #1278 closed

[2021-05-15 12:07] aguscha333 commented on #1277
Will start working on this now

[2021-05-15 12:11] aguscha333 commented on #1277
**Quoting from the suggestions:**
So, here's the issues that jumped out at me when reviewing:

this is likely more a 2.4.4 issue for links (possibly 2.4.9 depending on context) and a 2.4.6 issue for labels... possibly buttons. It's a bit dicey putting these all together, but the point being that 1.3.1 doesn't really apply here. I'm not sure exactly what you want to do here, but I suggest at the ve

[2021-05-15 14:20] scottaohara commented on #1277
i'd personally separate these out.  labels / buttons could remain together under a 2.4.6 "make sure labels (which does not necessarily mean `<label>`s) are unique and descriptive to their purpose"

and then links could be separate checklist item like (reword as you see fit): "ensure that link content is descriptive and understandable in context" pointing to 2.4.4

[2021-05-25 13:29] MicheleAWilliams-A11y commented on #12
Hi everyone, I'm Michele (featured on the home page right now for context :P). I'm drafting a blog post about "Everyday Accessibility" that compiles the small steps people can take w/o expertise, particularly on social media and in documents, e.g., using capitals in hashtags and the "ribbon" to make bullets in Word rather than just style them. I find people still aren't aware of even the little de

[2021-05-25 14:31] MicheleAWilliams-A11y opened #1282 "Checklist item clarifications: Questions/comments on 2 checklist items"
Hi there, 2 questions/comments in the checklist:

### Appearance > Double-check that good proximity between content is maintained

  The "straw test" mentioned in the description is very useful; however, I didn't see anything else in the checklist representing 1.3.3's sensory guidance except the related "color only" guidance of 1.4.1 - Use of Color.  
  
  I know the checklist isn’t all-inclusive

[2021-05-26 00:14] ericwbailey commented on #12
@MicheleAWilliams-A11y That sounds amazing, and we are definitely interested! Here are [the next steps](https://www.a11yproject.com/contributing-guidelines/#posts) for writing a post. If you prefer, we can collaborate via Google Docs, Microsoft Word, or another app as well.

[2021-05-26 00:16] ericwbailey commented on #1282
@MicheleAWilliams-A11y I think both of these are excellent points. Is this something you'd like to help author the updates for?

[2021-05-26 12:45] MicheleAWilliams-A11y commented on #1282
@ericwbailey - Awesome, yes indeed! I'll start some notes on my end and let me know where I should put them for consideration.

FYI, Webflow held their timeout guideline for later since that's not a current feature but here's what they put for sensory after some of my feedback: https://webflow.com/accessibility/checklist/task/add-descriptions-to-sensory-based-instructions

[2021-05-26 12:50] MicheleAWilliams-A11y commented on #12
Wonderful, @ericwbailey - I'm on it! I'll let you know if I run into issues and need to fall back to Word or Docs.

[2021-05-28 16:35] rachel-fischoff commented on #1008
Hi! Just checking in to see if this issue is claimed and if not, I'd love to take it on!

[2021-05-29 09:50] StommePoes commented on #1008
Seeing's how the contrast is still failing on the site when I visit, it looks like nobody has taken this on :P and I think folks will be thrilled that you have time/resources to tackle it!

[2021-05-31 12:49] rianrietveld opened #1284 "Article: Write accessible forms"
## Description

Derived from the list of post ideas (#12).

This article will describe what is important for forms to be accessible.
Like
- proper set up of the form controls: for / id relation, fieldset / legend etc.
- the order of the elements and proximity
- connecting descriptions to form controls with aria-describedby
- error prevention and error handling
- screen reader feedback on dynamic c

[2021-05-31 17:15] rianrietveld commented on #1284
Closing this as I see it's already been worked on in #1234

[2021-05-31 17:15] #1284 closed

[2021-06-01 07:01] rianrietveld commented on #12
Hi :-)
I'd like to propose an article: HOW TO: Accessible heading structure. Is that an idea? To also address the multiple H1 discussion.

Is it possible to tick the checkboxes of the articles already written?

[2021-06-02 03:59] chollma opened #1286 "Article: Accessibility and SEO"
## Description

## Would you like to write the article or request that it be written?

I'm happy to write the article.

[2021-06-02 06:32] rianrietveld commented on #12
@ericwbailey Thank you!

[2021-06-02 07:51] rianrietveld opened #1287 "Article: HOW TO: Accessible heading structure"
## Description
How to set up an accessible heading structure in a web page.

Addressing:
- Headings are the framework of the content of a web page
- Screen reader navigation by headings
- Why only one H1, and what should it be (also referring to the always reoccurring outline-HTML5 discussion)
- A heading should represent the content below and not stand alone
- Don't skip a heading level
- Good he

[2021-06-05 16:58] ericwbailey commented on #1286
Sounds great! Looking forward to reading it 🙂

[2021-06-05 16:59] ericwbailey commented on #1287
Looking forward to this one 🙂

[2021-06-08 22:32] ericwbailey commented on #1282
Closed via https://github.com/a11yproject/a11yproject.com/pull/1290. Congratulations on your first contribution to the project, @MicheleAWilliams-A11y!

[2021-06-08 22:32] #1282 closed

[2021-06-08 23:40] colabottles commented on #976
@ericwbailey I like [Output](https://djr.com/output). It's paid though, so I don't know how much that factors into the decision (free vs. paid).

[2021-06-09 00:05] colabottles opened #1291 "Article: Firefox and Accessibility"
## Description

The reasons why Firefox is a great tool for testing for accessibility, what features there are (and can be added), great experimental features, and reasons to incorporate Firefox as an automated testing tool in one's accessibility testing toolkit.

I use Firefox in my auditing and I think it's very under-utilized, overlooked as a valid testing tool. I also have not seen it written

[2021-06-10 01:54] ericwbailey commented on #976
@colabottles Ooh, that's nice.

[2021-06-17 02:18] ericwbailey opened #1294 "Non-Github contribution guidelines need clarification"
Originating from a conversation with @mxmason.

Currently, our only language around how people who don't use Github can contribute is listed on our [Write for us](https://www.a11yproject.com/write-for-us/#if-you-do-not-have-a-github-account) page. There are two issues with this from my perspective:

1. The content is not on our [Contributing Guidelines](https://www.a11yproject.com/contributing-gui

[2021-06-17 02:43] mxmason opened #1295 "We should provide a callout card component for emphasizing content"
## What is it?
Callout cards use visual affordances (like borders, lead words, or other shapes) to indicate that a pierce of content is important. The effect usually results in the content appearing as if it is a card laid on top of the site. Importantly, there are no HTML elements or ARIA attributes to indicate that content needs emphasis. Callout cards must rely on content and visual affordance

[2021-06-18 18:12] chollma commented on #1286
@ericwbailey, I'm about 75% done with this. It's taking me extra time to ensure my writing aligns with your contribution style guide.

[2021-06-21 20:19] ericwbailey commented on #1286
@chollma Thanks for the head's up—I'm happy to wait until you think its in a good place. Is there anything with the Contribution Guide you need help or clarification with?

[2021-06-22 14:05] MicheleAWilliams-A11y commented on #1294
I recorded a recap of my experience so far using Github.com. It's not quite the same as not using Github at all, but the instructions didn't always align with the interface either.

The main points for me have been:

1. Confusion on how to upload my article - seems I just needed to create a new file on the Posts directory page but that wasn't initially clear plus I didn't have upload privileges
2.

[2021-06-22 14:18] MicheleAWilliams-A11y commented on #1295
For me, it'll be important to distinguish "Examples" (as in, this is how you perform this) from "TL;DR" (as in, if you won't read this paragraph, at least read this bullet point) from "quotables" for social media (as in, put this on Twitter for clickbait material). Notably, none of these are "block quote" (as in poignant words from an author). Am I taking this too far?

[2021-06-22 15:36] MicheleAWilliams-A11y commented on #1294
One more thing - we'll want to have instructions for how to work with images. I couldn't tell if Markdown was creating a caption or alt text with the simple notation it had. When I saw the other posts has the "figure/figcaption" HTML code, I figured  I needed to follow that if I wanted both (alt text and captions). I know enough HTML to follow that code but many people won't unless you show them t

[2021-06-22 17:48] colabottles commented on #1291
Will be starting this after my travel day.

[2021-06-29 19:01] mxmason opened #1302 "We should provide syntactic sugar for creating figures in Markdown"
## Problem
Currently, post authors have to write out full HTML to generate a figure. Take this example from one of our posts:

[code]

Post authors must understand enough HTML to be able to duplicate this structure when making their own figures, and be comfortable with changes to suit their specific case. They have to know
- to keep the figure's `role`
- to replace the `img` tag's attributes
- to

[2021-06-30 15:16] MicheleAWilliams-A11y commented on #1302
Hi all, new contributor weighing in (this means also new to using Markdown).

I like Option 1 just because it looks cleaner and better aligns with how Markdown somewhat naturally works (which, again, I'm still learning and using in a writing tool that offers Markdown menu shortcuts anyway so it doesn't change my perspective as much). Of note, if you look up "Images" in Markdown, the syntax is `![A

[2021-07-02 05:44] chollma commented on #1286
Nope! It is very well written. It's just been hard to find the time and space lately.

Article is written and edited down. I want to polish it a bit more, but it will be in your hands by the weekend.

I appreciate your patience.

- CH

[2021-07-05 18:58] ericwbailey opened #1304 "Featured resource and spotlight member images obscure the table of contents"
Issue reported via our contact form.

Currently portions of the the table of contents for the Featured Resource and Spotlight member pages are obscured by the hero image. This prevents portions of the table of contents from being usable.

[Reported page](https://www.a11yproject.com/resources/the-bootcampers-guide-to-web-accessibility/).

<img width="785" alt="The hero image for the Bootcamper's Gu

[2021-07-05 19:51] SaptakS commented on #1304
Seems the way the grid template was written is causing some issues. In the grid template we have only 2 areas mentioned - for the table of contents, and the content of the page. Would it be semantically wrong to move the image to the `l-content` div? Or we can move `l-spotlight__hero` and `l-content` inside another div (not really liking this idea). But if all pages of this format will always have

[2021-07-06 03:31] mxmason opened #1305 "Syntax highlighting in code blocks is broken"
Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary
Code block syntax highlighting does not colorize tokens of code text, resulting in blocks of code that are one color.

<img width="367" alt="" src="https://user-images.githubusercontent.com/13525251/124538070-e1ba8c00-ddcf-11eb-93ca-6bb06a3d8fdf.png">

`purgeCSS` strips out the a11y-dark stylesh

[2021-07-06 23:33] #1305 closed

[2021-07-07 16:36] shawnthompson commented on #1238
Yeah this is exactly what I was thinking... great work!

[2021-07-07 16:36] #1238 closed

[2021-07-21 08:18] Victorybrown commented on #1234
Is this issue open?

[2021-07-21 21:25] mxmason commented on #1234
Hi, @Victorybrown! I'm glad you're interested in this issue; I was just thinking about it, myself. If you'd like to tackle this feedback, please go go ahead!

[2021-07-22 06:18] Victorybrown commented on #1234
Alright, thank you. If I understand correctly, the article https://www.a11yproject.com/posts/2020-09-19-how-to-write-accessible-forms/ is written and all I have to do is add the new sessions written there to the last part?

[2021-07-23 01:24] AliciaJarvis opened #1312 "Desktop - Chrome - site can't be reached"
## Summary

### Expected result

### Actual result

![image](https://user-images.githubusercontent.com/13350810/126727536-b544b7f2-0e07-4f08-b4e5-0e14f8526d30.png)

### Additional Information

### Additional Information

Note anything else you think would be important to know that didn't fall into an above category.

[2021-07-23 03:45] scottaohara commented on #1312
might have encountered a hiccup in service?   i can't reproduce in any browser.
are you still encountering this?

[2021-07-23 10:16] SaptakS commented on #1312
I would guess the same. It works in all browsers I checked.

[2021-07-23 15:31] ericwbailey commented on #1312
Likewise. This is troubling, though. [Netlify is showing no issues for the past few days](https://www.netlifystatus.com/), so maybe it's an ISP issue?

[2021-07-23 15:35] SaptakS commented on #1312
ISP or DNS is my guess 🤔

[2021-07-23 16:18] Farzin3 opened #1313 "حذب نبوغ"
اولین قدم ما اعلام آمادگی دخترا و پیران برای این گروه است Please review our Contributing guidelines:
https://a11yproject.com/contributing-guidelines/

## Summary

### Expected result

### Actual result

### Additional Information

### Additional Information

Note anything else you think would be important to know that didn't fall into an above category.

[2021-07-23 17:34] #1313 closed

[2021-07-25 20:05] #1286 closed

[2021-07-28 21:46] #1312 closed

[2021-07-28 21:47] ericwbailey commented on #1234
@Victorybrown Yup!

[2021-07-28 21:53] ericwbailey opened #1319 "Resource evaluation should be more transparent"
Our current process for evaluating [resources](https://www.a11yproject.com/contributing-guidelines/#resources) isn't as open as it could be. This includes what we're looking for, and what criteria may cause a rejection (reference [Social Media Posts](https://www.a11yproject.com/contributing-guidelines/#social-media-posts), [Promotions, partnership deals, and SEO scams](https://www.a11yproject.com/

[2021-08-02 16:05] MicheleAWilliams-A11y opened #1321 "Article Follow-up: Everyday Accessibility"
I now have posters and a video version of the article.
Posters: https://mawconsultingllc.files.wordpress.com/2021/07/everyday-accessibility-posters.pdf
Video: https://www.youtube.com/watch?v=xPU-dJPumnc

I've posted them to my blog (https://mawconsultingllc.com/2021/07/29/everyday-accessibility/) but figured they could also be linked on the article here.

[2021-08-04 12:43] nibble0101 opened #1322 "Typo on the contribute page"
I was going through the [contribute page](http://localhost:3000/contribute/) and I came across the following paragraph under the **Issues and bug fixes** section.

There is a small typo in the first sentence.

![image](https://user-images.githubusercontent.com/52580190/128181963-3deb3bdb-dddc-42f1-ad6e-cba53c3f689b.png)

[2021-08-04 14:54] #1322 closed

[2021-08-06 14:25] avahal opened #1324 "Article: using NFTs to democratise the art sector"
Hi, I'd like to an article on how using new technologies such as NFTs can be a valuable tool for disabled artists and collectors to make the art world more accessible. I would draw on my experience as the founder of ARTXV, a collective that assists disabled artists to sell their work as NFTS, the ways that NFTs increase accessibility and security for disabled artists through blockchain technologie

[2021-08-09 17:47] ericwbailey commented on #1324
Thanks for the article pitch, @avahal. This idea seems more inline with artist monetization, not digital accessibility and feels out of scope of content we'd cover. If you are looking for alternate publications, the [dev.to](https://dev.to/) community might be a good fit.

[2021-08-09 17:47] #1324 closed

[2021-08-10 05:30] ashutosh887 commented on #948
Is this Issue resolved?
Or should I work on it !
@ericwbailey @beckkramer

[2021-08-10 13:22] beckkramer commented on #948
Hello! I should be able to resolve this this week, thank you for the nudge. And Eric, apologies for disappearing on this- the end of last year was difficult and I lost track of things.

[2021-08-10 14:47] ericwbailey commented on #948
@beckkramer No worries. Last year was tough on all of us, I hope you're doing okay.

[2021-08-11 01:30] ericwbailey commented on #1321
Hi @MicheleAWilliams-A11y! I just merged in both a YouTube video embed and a link to download the poster set. We're using the URL you provided for the download, so let us know if it ever changes.

Also more than happy to move things around or rephrase them for your post, if you want.

[2021-08-11 01:30] #1321 closed

[2021-08-12 01:18] SteveBarnett opened #1327 "Article: Reviewing a design for accessibility"
## Description

A short checklist to use when reviewing a design for accessibility (to help designers), and ideas for annotating it (to help developers).

Probably these things:

1) The **page title** is unique and describes page content.
2) All **images** (including icons) have alt text.
3) **Headings** are used liberally and no levels are skipped.
4) **Links or buttons** with the same text, repe

[2021-08-12 08:05] nibble0101 opened #1328 "Grammatical error on the write-for-us page"
When you navigate to [editing section](https://www.a11yproject.com/write-for-us/#editing) of the write-for-us page, there is a grammatical error in the second paragraph. The paragraph states:

Similarly in the third paragraph, I think using plural form of the word criticism is better. The third paragraph states:

[2021-08-12 18:30] #1328 closed

[2021-08-13 00:09] ericwbailey commented on #1327
We'd love this! Thank you for pitching it. Do you have everything you need to get started?

[2021-08-13 01:42] SteveBarnett commented on #1327
Yay, that's great news!
Yes, I'm all set, thank you. I'll get going on it! :)

[2021-08-13 15:27] nibble0101 opened #1330 "Text overflow on the sponsorship page when using device with smaller screen"
## Summary

1. Navigate to the [sponsorship page](https://www.a11yproject.com/sponsorship/) using chrome
2. Open the browser dev tools
3. Toggle the device tool bar to mobile
4. Select `Iphone 5/SE` as the device

### Expected result

The text in the `h1` element (Sponsorship) should not overflow.

### Actual result

The text in the `h1` element (Sponsorship) overflows as shown in the image below.

[2021-08-19 03:20] ericwbailey commented on #1327
Closed via https://github.com/a11yproject/a11yproject.com/pull/1332.

[2021-08-19 03:20] #1327 closed

[2021-08-19 19:42] Emilsone commented on #711
@scottaohara I would love to write on this topic if it is still valid

[2021-08-19 20:06] Emilsone opened #1333 "Article: [Improving your website accessibility]"
Delete this boilerplate or any other information that doesn't apply to your article.

Please review our [Code of Conduct](/code-of-conduct/), [Contributor documentation](https://a11yproject.com/contributing-guidelines/), and [Content Style Guide](https://a11yproject.com//content-style-guide/) before submitting content.

## Description

Most websites are not accessible because web accessibility is

[2021-08-19 20:19] ericwbailey commented on #1333
Hi @Emilsone, thank you for pitching this! The topic you've provided is a little broad. Do you have an outline in mind for what you'd specifically like to cover?

[2021-08-19 20:32] Emilsone commented on #1333
Hi @ericwbailey, thanks for the response. Below is a link to my draft that contains the outline
https://www.dropbox.com/scl/fi/ohw2y6zqr8ga4w605qati/Untitled.paper?dl=0&rlkey=qi4o6eu9mrtcdf7ntbc6ix512

[2021-08-20 18:49] Emilsone commented on #1333
Hello @ericwbailey, please can you approve the article?

[2021-08-21 23:14] SteveBarnett opened #1334 "Article: Starting a design with accessibility"
Title up for debate! "Designing with accessibility"?

## Description

A prequel to [Reviewing a design for accessibility](https://www.a11yproject.com/posts/2021-08-14-reviewing-a-design-for-accessibility/), shifting further left. Three approaches we can take to design more accessible things:

- do a text-only design;
- do an HTML-only design;
- go off The Happy Path.

Each of the three will have a

[2021-08-22 18:02] ericwbailey commented on #1333
@Emilsone Mind sharing the outline in a format we can review it in? A Google Doc or Dropbox paper link work, or just a GitHub comment here.

[2021-08-22 18:09] ericwbailey commented on #1334
Love it. Looking forward to reviewing the PR 🙂

[2021-08-22 19:56] Emilsone commented on #1333
Hi @ericwbailey  below is a link to my outline draft

https://www.dropbox.com/scl/fi/ohw2y6zqr8ga4w605qati/Improving-your-website-accessibility.paper?dl=0&rlkey=qi4o6eu9mrtcdf7ntbc6ix512

[2021-08-22 20:33] ericwbailey commented on #1333
@Emilsone I'd like to see more clarity around the "How to make your website accessible?" bullet point. It doesn't have to be a ton, just enough to let me know what you intend to cover. I say this because this is a huge topic, well beyond the scope of a single blog post.

[2021-08-23 09:09] Emilsone commented on #1333
Hi, @ericwbailey Please kindly check the document and leave your feedback over there. Thanks

[2021-08-23 12:53] nibble0101 opened #1335 "Article: Introduction to Orca on Gnome Desktop Environment"
## Description

I have been toying with Orca screen reader on Gnome desktop Environment for a while. I have realized not much has been written about it apart from the official documentation. I believe a short Introductory article on how to start using Orca on Gnome and Ubuntu will be useful on https://www.a11yproject.com.

## Would you like to write the article or request that it be written?

I wo

[2021-08-23 20:11] ericwbailey commented on #1333
@Emilsone For transparency, I'm replying here. I'm not seeing any clarification around the "How to make your website accessible?" bullet point, as requested. Closing this issue for now, I might suggest posting this on a platform such as [dev.to](https://dev.to/) instead.

[2021-08-23 20:11] #1333 closed

[2021-08-23 20:19] ericwbailey commented on #1335
This would be amazing, thank you!

[2021-08-31 04:22] Kodecheff opened #1344 "Article: Making links accessible"
Hi @ericwbailey 🙂, I have a post idea I want to write about - `making links accessible`. Is this a good idea to write on?

## Description

## Would you like to write the article or request that it be written?

[2021-08-31 21:24] ericwbailey commented on #1344
@Kodecheff Could you please provide an outline for us to review?

[2021-09-01 00:40] Kodecheff commented on #1344
Sure @ericwbailey
Links are one of the primary elements in web development. Links can be made accessible by making them clear, descriptive and purposeful out of context. This helps break accessibility barriers for both screen readers users and clear sighted users.
* Link texts such as `more`, `click here` are ambiguous and not appropriate. Rather a concise link text so users can know the exact des

[2021-09-01 09:25] jlin95 commented on #1008
Hi! Is this issue still up to be worked on? And is @rachel-fischoff still keen on working on this? Would love to help out if possible :)

[2021-09-02 01:55] ericwbailey commented on #1344
@Kodecheff This sounds good. Please make sure you read and adhere to our [Content Style Guide](https://www.a11yproject.com/content-style-guide/) before submitting the post for review.

[2021-09-07 13:15] #1335 closed

[2021-09-12 19:01] Emilsone opened #1347 "Article: Using focus style for accessibility"
Hi @ericwbailey, I would love to write on this topic - Using focus style for accessibility
## Description

While accessing any digital interface, a focus indicator is important it highlights the active intractable component in a webpage. In this article, you will learn how to make your website accessible with a focus style

A focus indicator is necessary because some people use a mouse or a touch

[2021-09-15 19:50] gaurav5430 opened #1348 "Article: [Nested interactive elements accessibility]"
## Description

The article would discuss why having nested interactive elements in the markup is a problem for accessibility. This article would mostly talk about this issue in the web (HTML + js) context
- what is the issue?
- why /when can it happen?
- some proposed solutions with links to existing resources / discussions.

This article should be written to apprise developers / designers about

[2021-09-16 16:11] ericwbailey commented on #1348
Sounds great! Looking forward to reviewing it.

[2021-09-22 19:30] chollma commented on #12
@ericwbailey, we've chatted about this a little bit. I think it'd be great to add more posts around operationalizing accessibility. Example posts might be:

- Getting executive buy-in to do accessibility work
- How can I measure my accessibility efforts?
- How can I hire more inclusively?
- What's a core accessibility team and why do I need one?
- What tools are teams using to empower teams to des

[2021-09-24 14:24] ericwbailey commented on #12
@chollma These all sound great to me!

[2021-09-29 17:58] coburnicus opened #1349 "Safari 15.0 inherits harsh/failing UI Theme-color"
## Summary

The updated Safari (15.0) allows for the app UI color to be set by the website. Currently on a11yproject.com this is a pretty harsh Magenta with white type. That would seem to be pretty harsh to look at, and seems to fail WCAG contrast tests.

### Expected result

Something the passes WCAG contrast tests while adhering to A11yProject branding.

### Actual result

A lot of hot hot pink.

[2021-10-04 20:12] Emilsone commented on #1347
Hi, @ericwbailey please can you kindly review the changes I made?

[2021-10-04 20:21] ericwbailey commented on #1347
@Emilsone You have pushed this PR to your own fork of the repo, and not this one. Additionally, I am still seeing the issues that I commented on present. I will review this post once it is pushed up to the appropriate location and the issues are addressed.

[2021-10-07 21:08] ericwbailey commented on #1349
Closed via https://github.com/a11yproject/a11yproject.com/pull/1350

[2021-10-07 21:08] #1349 closed

[2021-10-11 00:30] ericwbailey opened #1359 "Our non-GitHub editorial process is opaque"
We're still in the process of figuring this out, but that doesn't mean the existing process should be documented.

Big picture, we'll highlight:

1. What happens if your pitch is rejected
2. What happens if your pitch is accepted

[2021-10-11 00:35] ericwbailey opened #1360 "The process for writing for us is both scattered and buried"
Compensation information is only listed on [our Contribute page](https://www.a11yproject.com/contribute/#posts). Post requirements are hidden away deep in [our Contributing Guidelines](https://www.a11yproject.com/contributing-guidelines/#posts).

We should consolidate this information to its own page, potentially referencing an approach similar to [Smashing Magazine](https://www.smashingmagazine.c

[2021-10-13 01:12] ericwbailey opened #1368 "Dates in the post filenames don't always match the day they're published"
The date metadata in a post filename (i.e. `2021-06-07-`) doesn't always match the date the post is published. Oftentimes this is because of the editorial process, which requires edits that can span one or more days.

I'm thinking we remove them and set up redirects on Netlify, so that the source of truth for publication is the `date:` YAML frontmatter, and not the filename.

[2021-10-13 01:16] ericwbailey commented on #711
Closing for inactivity.

[2021-10-13 01:17] ericwbailey commented on #1291
@colabottles Is this something you're still interested in writing?

[2021-10-13 01:17] ericwbailey commented on #1287
@rianrietveld Is this something you're still interested in writing?

[2021-10-13 02:16] colabottles commented on #1291
@ericwbailey Yes. I have the article halfway done. There's just been a lot going on personally that has pulled me away from it.

I'll keep working on what I have and share it with you soon.

[2021-10-29 18:59] Daniel-Dragon commented on #1344
I'd like to grab this and run with it if that's alright. I have a basic outline started, but might add more if I think of anything important.

- **How Accessibility Software (Or say Screen Reader?) Uses Links** -- Discuss the WHY this is important to consider, show how they list all links ETC. I think getting the WHY helped to explain why the suggestions are the way they are.
- **Avoid Redundancie

[2021-11-01 01:20] emilane commented on #1360
hey @ericwbailey, mind if I take a stab at this?

[2021-11-01 18:27] ericwbailey commented on #1360
Heck yeah!

[2021-11-11 22:06] larryhudson opened #1377 "Bug: Color contrast of <code> text in recommended reading link titles when hovered"
Thank you for reporting a bug. Please fill out the following information:

## Bug description

When the recommended reading links at the bottom of a post are hovered, the title text becomes white on a red background. If the title includes a `<code>` snippet, the `<code>` text also becomes white. Because `<code>` snippets have a grey background, the white on gray combination is not accessible. You

[2021-11-13 11:33] #1377 closed

[2021-11-16 21:29] stordahl commented on #1166
Hey @ericwbailey - I'd love to contribute to a solution for this (design or dev). Is this something you're interested in?

[2021-11-17 01:01] ericwbailey commented on #1166
Very much so, @stordahl!

[2021-11-21 20:24] ericwbailey opened #1380 "Upgrade Sass"
Our current version of Sass is outdated, and its syntax will cause breaking changes when updated. We'll need to:

1. [ ] Update Sass to the latest version.
2. [ ] Verify that Netlify's new VM can process it.
3. [ ] Update all old Sass syntax to use new Sass conventions.

This issue comes from a conversation with @mxmason. We'll also want to reference @esjay's work on https://github.com/a11yproject

[2021-12-01 20:45] a11yjc opened #1382 "Bug: Incorrect RSS URL on the 'follow' page"
**Follow page:** https://www.a11yproject.com/follow/
**Current RSS URL for hyperlink 'a RSS feed':** https://www.a11yproject.com/follow/ - This links to it's own page, which is incorrect. Code is `<a href="">a RSS feed</a>`
**'a RSS feed' hyperlink should be:** https://www.a11yproject.com/feed/feed.xml - This links correctly to the RSS output. Code should be `<a href="https://www.a11yproject.com/f

[2021-12-02 19:29] #1382 closed

[2021-12-04 03:16] fizzboop opened #1385 "Inaccuracy: Link to Alex Brenon's Site is Inappropriate"
The website link for Alex Brenon on the Authors page leads to a pornographic site.

[2021-12-04 08:31] SaptakS commented on #1385
I am able to confirm the behaviour. @alexroseb  is http://alexroseb.com still the correct link? cc @ericwbailey

[2021-12-04 16:18] alexroseb commented on #1385
Oh no!! I’m not sure what happened but please take it off the site for now. I’ll update when I know what’s going on.

[2021-12-04 18:56] fizzboop commented on #1385
@alexroseb: Thank you for looking into it. I just happened to notice this and didn't want others to stumble on it either.

[2021-12-06 00:18] ericwbailey commented on #1385
Closed via https://github.com/a11yproject/a11yproject.com/pull/1386.

@fizzboop Thank you for reporting this, and apologies for the experience.

[2021-12-06 00:18] #1385 closed

[2021-12-20 10:00] rianrietveld commented on #1287
@ericwbailey It took some time, but here it is, the How-to on headings is ready for review.
https://github.com/a11yproject/a11yproject.com/pull/1391

[2021-12-29 02:29] colabottles commented on #1291
Just leaving an update @ericwbailey that I am working on this and am halfway through the content I'll have for this.

[2021-12-30 19:38] heyitstay11 opened #1395 "Page not found - An in-depth guide to aria roles"
## Bug description

Link to the post redirects to 404 page
the link :
https://www.a11yproject.com/posts/indepth-guide-to-aria-roles/

## Expected outcome

## Steps to reproduce

## Technical info
Maybe the link is not right

###  What device were you using when you encountered the bug?

## Terms

- [ * ] I have read, and agree to follow this project's [Code of Conduct](https://www.a11yproject.com/

[2021-12-30 19:40] heyitstay11 commented on #1395
Found the Working link: https://www.a11yproject.com/posts/an-indepth-guide-to-aria-roles/

[2022-01-01 19:40] ericwbailey commented on #1395
Thanks for reporting this, and for locating the working link! I've just pushed up a fix via https://github.com/a11yproject/a11yproject.com/commit/f0b450ad9a010d0f945d4d33cca513bce2dc7422.

[2022-01-01 19:40] #1395 closed

[2022-01-17 08:13] jimbateson commented on #12
Hello :)

I was wondering if I might be able to have a go at the "A11y and SEO" item if it's not already been claimed? If so, just checking what the angle was with "Myths" and "myth confirmed"?

I've not done any public writing like this before, but something I'm challenging myself to do more of this year! No worries if it's already been done etc though.

Thanks

[2022-01-17 18:25] davatron5000 commented on #12
@jimbateson Looks like Cooper Hollmair wrote about that one already. https://www.a11yproject.com/posts/accessibility-seo/

Sorry, that's probably on me because I don't stay on top of checking this list off.

[2022-01-17 19:23] jimbateson commented on #12
@davatron5000 no problem at all, thanks for the info :)

I'll keep an eye out for others/have a think about a topic I could suggest.

[2022-01-17 19:38] jimbateson commented on #12
@davatron5000 would I be able to take "HOWTO: Make an accessible <nav> with dropdowns" (couldn't see that one on the site) but apologies if I've missed it :)

[2022-01-17 21:27] davatron5000 commented on #12
@jimbateson Unclaimed! I'll put your name next to it.

For more information on contributing, here's a little guide, but holler if you have questions. https://www.a11yproject.com/contributing-guidelines/#submitting-content

[2022-01-25 08:44] GeorgeArgyrousis opened #1403 "Article: Accessible HTML structure using ARIA landmark regions"
## Your idea

How to introduce an accessible HTML structure using semantic landmark tags.

Topics analysed:
- Explain the importance of landmarks
- How they are used in conjunction with assistive technologies
- Identify the exhaustive list of HTML landmarks tags along with their implicit role attribute
- Enhanced screen reader announcements and identification of regions using landmarks (`role="...

[2022-01-25 12:57] scottaohara commented on #1403
The a11yproject already has this post: https://www.a11yproject.com/posts/aria-landmark-roles/ which covers landmarks.  Have you reviewed that yet to compare overlaps / potential information that might need to be updated?

[2022-01-25 17:19] GeorgeArgyrousis commented on #1403
You are correct. The information in the post is relevant and clear. Closing issue.

[2022-01-25 17:19] #1403 closed

[2022-01-25 17:21] ericwbailey opened #1404 "Recent posts are no longer being displayed on the homepage"
Prior to our Eleventy update a list of the latest 3 posts was listed on the homepage. Post update that functionality appears to be not working.

[2022-01-26 00:43] jasonmartinez1 opened #1405 "Post: A Beginner's Guide to ADA Web Compliance"
Thank you for your interest in writing a post! Please fill out the following information:

A Beginner's Guide to ADA Web Compliance

I wasn't able to find a beginner's guide on the topic and I believe it's a much needed post for A11y Project. It isn't a cutting edge blog topic but fundamental to A11y's mission. Without a beginner's guide to ADA Web Compliance on the A11y site, the organization may

[2022-01-27 00:59] ericwbailey commented on #1405
Hey @jasonmartinez1! Thanks for your interest in writing for us. Could you share a little more detail about your definition of what ADA Web Compliance is?

I do think a beginner's perspective on the topic would be a lovely addition to the site.

[2022-01-27 01:16] ericwbailey commented on #1404
@mxmason My brain is a little mush and the source of the bug is lost on me. Would you be up for pairing on this at some point?

[2022-01-27 01:19] mxmason commented on #1404
I can take a look tonight, and if the issue takes me more than 10 minutes, we can absolutely put our heads together. Once again, sorry for the mess.

[2022-01-27 01:22] ericwbailey commented on #1404
No rush on my account. I'm more burnt to the point where I'm mad at myself that I can't put 2 and 2 together.

[2022-01-27 15:19] #1404 closed

[2022-01-30 23:55] ericwbailey opened #1407 "Standardize our posts title case"
Currently we use a couple of different approaches to post title casing (sentence and title case). We should standardize on sentence case, as it is the majority, as well as update our documentation to specifically indicate sentence case is preferred.

As I'm the greatest offender of title case, I'll take care of this.

[2022-01-31 17:13] mxmason opened #1408 "In error state, focused controls take on purple or red-and-purple focus indicator"
## Summary
When the contact form is in an error state, we intend to show a solid red focus indicator on inputs. In Chromium and Firefox browser, we render our custom purple focus indicator mixed with red. On Safari, we render a solid purple indicator. Both behaviors are undesirable, and the distinction between them probably comes from Chromium/Firefox's switch to `:focus-visible` as the default fo

[2022-02-03 03:23] ericwbailey commented on #1407
Closed via https://github.com/a11yproject/a11yproject.com/pull/1410.

[2022-02-03 03:23] #1407 closed

[2022-02-04 03:50] nchan0154 commented on #1096
Updated the PR to account for all the recent changes in the A11y Project, got my Figma skills to an acceptable level to make a new hero SVG. The only work left should be editorial (adding more appropriate copy for the existing collection & coming up with existing collections).
Paging my dear friend @mxmason

[2022-02-04 03:53] mxmason commented on #1096
This is going on my todo list for tomorrow, but things look great at a glance! Thank you, Nic!

[2022-02-04 04:07] mxmason commented on #1096
@nchan0154, @ericwbailey:

would it help to descope this work a little bit, then follow up with a separate PR? I think we could call this the Logic PR, and ship without exposing the "collections" link in the navbar; then we could follow up by creating collections and critiquing some copy.

the alliteration is free, you're welcome

[2022-02-04 07:36] SaptakS commented on #1096
I agree that we should merge this as a feature PR, and then create separate PRs for creating collections. That sounds like a good plan to me.

[2022-02-05 20:57] ericwbailey commented on #1096
@nchan0154 This is incredible stuff, thank you so much for doing the work, as well as running incorporating our Eleventy update work! I seriously cannot thank you enough.

@SaptakS, @mxmason I'm also on board with merging this as feature work, the building from there. I'll merge https://github.com/a11yproject/a11yproject.com/pull/1235 in with a co-approval. I also hope y'all feel empowered to merg

[2022-02-07 16:20] #1096 closed

[2022-02-09 19:54] ericwbailey opened #1412 "SSL Certificate has expired"
[Issue reported on Twitter](https://twitter.com/pmmueller/status/1491464968348344321).

It appears our SSL certificate has expired. I can confirm on my end of things, as well:

<img width="469" alt="'*.a11yproject.com certificate is expired. Issued by: R3. Expired: Wednesday, December 9, 2021 at 5:35:55 PM Eastern Standard Time.'" src="https://user-images.githubusercontent.com/634191/153279425-3f5

[2022-02-09 20:25] ericwbailey commented on #1412
Also confirmed! Thanks for jumping on this 🎉

[2022-02-09 20:25] #1412 closed

[2022-02-10 19:40] jasonmartinez1 commented on #1405
@ericwbailey Of course! ADA Web Compliance is the guideline/framework for making websites and other digital properties accessible to users with disabilities. This framework must closely align with ADA legislation; otherwise, it can result in significant penalties for businesses in the US. Some examples of compliance would be good color contrast between web elements, descriptive alt-text, and legib

[2022-02-13 03:34] sarah-peacock opened #1413 "[Bug] Footer - Incorrect Year"
Thank you for reporting a bug. Please fill out the following information:

## Bug description

## Expected outcome

## Steps to reproduce

## Technical info

###  What device were you using when you encountered the bug?

### What operating system were you using? What version is the operating system?

### What web browser were you using? What version is the web browser?

### Assistive technology an

[2022-02-14 07:52] #1413 closed

[2022-02-15 02:33] ericwbailey commented on #1413
Thanks for reporting this, @sarah-peacock!

[2022-02-15 02:38] ericwbailey commented on #1405
@jasonmartinez1 Excellent, thank you for the clarification. I have seen people sometimes confusing the distinction between Section 508, WCAG, and the ADA. We're definitely still interested in the post, especially if you can speak to helping to explain away this confusion!

[2022-02-15 17:40] jasonmartinez1 commented on #1405
That's an excellent point, and I think making the distinctions between each is something that can fit naturally within the theme of the article!

[2022-02-15 18:49] SimonEggert opened #1416 "[Bug] Scrolling with Vimium browser extension not working"
At first, I want to say thank you for the great work on a collection about this important topic!

## Bug description

When trying to navigate the site with vimium, scrolling does not work as intended, i.e. pressing `J` or `K` are not doing anything.

## Expected outcome

The page should scroll down/up.

## Steps to reproduce

1. Install vimium ([Chrome](https://chrome.google.com/webstore/detail/vi

[2022-02-17 02:04] ericwbailey commented on #1416
Hey @SimonEggert, thanks for the kind words, and the thorough issue report! I have a potential fix up in https://github.com/a11yproject/a11yproject.com/pull/1417, but cannot get it to scroll using the <kbd>J</kbd> and <kbd>K</kbd> keys. I'm also not an experienced Vimium user, although I understand its significance in this context 😅

I'm using the latest macOS, Firefox, and Chrome. Would you mind

[2022-02-18 13:12] SimonEggert commented on #1416
@ericwbailey Thanks for looking into the issue. I checked out #1417 and it fixes the problem on my side :+1:

Weird that it is not working for you, though. Maybe my description was a bit ambiguous: the shortcuts are actually lowercase (`j` and `k`). Let me know if I can assist any further :slightly_smiling_face:

[2022-02-20 23:24] #1416 closed

[2022-02-20 23:25] ericwbailey commented on #1416
If it works for you, I'll consider me the x-factor, then 😅

Thanks again for reporting this!

[2022-03-02 20:47] ericwbailey opened #1419 "Investigate if <details>/<summary> is a good choice for our Checklist"
We currently use the `details` and `summary` elements for [our Checklist page](https://www.a11yproject.com/checklist/). These element allow for a native expand/collapse experience, without the use of JavaScript.

Our checklist items do not use heading elements, which was a concern voiced in this [thread on the web-a11y Slack](https://web-a11y.slack.com/archives/C071U5Y3H/p1643052064103100). There