[2017-08-22 02:45] nschonni commented on #511
There is https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin, but it's not one of the plug-ins whitelisted by GitHub (AFAIK)
You could also try the manual way like https://github.com/wet-boew/wet-boew-jekyll

[2017-08-23 14:24] svinkle opened #513 "New Patterns section: React/Angular/Vue Components"
I think the next evolution of the Patterns page is to include accessible React/Angular/Vue components.

There's been some amazing work happening with React components as of late. A few that I've been watching come to mind:

- https://github.com/paypal/downshift by @kentcdodds & contributors
- https://github.com/atlassian/react-beautiful-dnd by @alexreardon & contributors

While these aren't exactl

[2017-08-23 17:39] jacobwarduk commented on #509
Hi @svinkle, I think @scottaohara's done a good job of summarising the definition which would help, were the proposed path to be [G55: Linking to definitions](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G55).

However, I don't believe that the user having to navigate away from the page they are currently on, to find the definition to be particularly user friendly.

I would personally pro

[2017-08-23 18:10] svinkle commented on #509
@jacobwarduk agreed. Linking out to simply gaining an understanding for a definition would create unnecessary effort on the user's part.

Looking at your quote examples, I would expect the "a11y" numeronym to _not_ be used in formal writing, with the exception of this post where we explicitly define "a11y" for the reader. In any other instance, writing out the full word, "accessibility" should be

[2017-08-23 19:19] jacobwarduk commented on #509
@svinkle Agreed, my examples were not really appropriate, as discussion of the numeronym "A11Y" (accessibility) only really takes place in this context.

Given your current content set, it's not for me to say where you should or should not implement this. Although, I do believe that the [About](http://a11yproject.com/about.html) page might be a place to start with at least a brief definition.

[2017-08-24 00:16] alexreardon commented on #513
`react-beautiful-dnd` does a fair bit to be accessible, but could do more. Feedback, assistance and pull requests are welcome!

[2017-08-24 00:24] svinkle commented on #513
@alexreardon thanks for commenting! It totally it does do a fair bit, I agree. I checked it out and it has really great keyboard support!

One main issue I found right away was a lack of announcements and/or instructions when using it with a screen reader. Audible cues like:

- How to pick up and put down items
- Which order items are now in after dropping
- How many items there are in total
- Sem

[2017-08-24 00:30] alexreardon commented on #513
We already have an issue to work on this:
https://github.com/atlassian/react-beautiful-dnd/issues/7

[2017-08-24 03:52] scottaohara opened #514 "Revising TOC navigation markup"
there are two issues with the table of contents navigation items on pages like the index, resources and patterns:

1. marked up as `<section>`s rather than `<nav>` elements.
2. these navigations contain the second heading on the page, but skip over the `<h2>` for the `<h3>`

I will be submitting a PR to address these issues

[2017-08-24 14:50] joe-watkins commented on #513
@svinkle I'm wondering if we should segment patterns by libraries/frameworks? (We know how they come and go.)

Maybe some sort of tagging/badging system along with continued sorting by pattern could work.

e.g.

## Auto-complete ##
- Downshift [react]
- Typeahead [angularjs]
- Some other [vanillajs]

[2017-08-24 20:06] chrisdemars opened #516 "Article focus"
I give a talk at conferences on focus and it was published on David Walsh's blog. I would love to have it published as an article for the A11y Project, if no one objects.

[2017-08-24 20:18] svinkle commented on #516
@chrisdemars Of course! Could you provide a link to your article for us to check out before-hand? Thanks!

[2017-08-24 20:32] chrisdemars commented on #516
No problem @svinkle, want me to post here or send you an email?

[2017-08-24 20:44] svinkle commented on #516
@chrisdemars Right here's good, if you're cool with that. 👍

[2017-08-24 20:46] chrisdemars commented on #516
No problem @svinkle, [Focusing on Focus](https://davidwalsh.name/css-focus)

[2017-08-24 23:28] svinkle commented on #516
@chrisdemars Great article! `:focus-ring` is a hot topic right now so this would be a fantastic add to the site here.

A few things I noticed that should be addressed before submitting:

- First sentence has "a11y" -- please read this recent discussion: #509 (tl;dr: write out "accessibility" instead of using the numeronym.)
- Change

  To

- Change

  To

- This line feels like there's something m

[2017-08-25 02:07] svinkle commented on #509
@scottaohara, taking another look at the article proposal, could add a few things (if not present already):

- Make sure to specify that the "a11y" numeronym is to not be used in formal writing. Rather, writing out the full word, "accessibility" should be the norm.
- If it is used for whatever context, the abbreviation/numeronym should be defined immediately before or after with the expanded form,

[2017-08-25 10:45] scottaohara commented on #509
thanks @svinkle i'll work on incorporating these ideas asap.

[2017-08-25 14:02] svinkle commented on #509
And yes, @jacobwarduk, that's a good point about adding a quick note on the topic to the About page. Interested in writing something and sending a PR?

[2017-08-25 14:10] jacobwarduk commented on #509
@svinkle Yep, I'll get something written up this evening.

[2017-08-25 19:54] scottaohara commented on #509
Alright, @svinkle I've made some edits to incorporate the points you raised.

[2017-08-26 01:19] svinkle commented on #509
@scottaohara Looking good! A few minor things to address:

- Revise this a bit -- too many instances of _"sure"_:

- Remove extra comma:

- Start a new paragraph here as the article changes topics:

- Make sue to use proper capitalization when referencing brand names ("The A11Y Project"):

[2017-08-26 04:03] scottaohara commented on #509
Edits made (which made me revise some more wording as well) and [submitted as a PR](https://github.com/a11yproject/a11yproject.com/pull/518)

[2017-08-26 04:06] scottaohara opened #519 "Skipped heading level on archive page"
The headings skip from `h2` to `h4` for the article listings on the [archive page](http://a11yproject.com/archives.html).

Will submit a PR to remedy this.

[2017-08-28 12:26] svinkle commented on #513
Components to add by @davidtheclark:

• [react-aria-modal](https://github.com/davidtheclark/react-aria-modal)
• [react-aria-menubutton](https://github.com/davidtheclark/react-aria-menubutton)
• [react-aria-tabpanel](https://github.com/davidtheclark/react-aria-tabpanel)

[2017-08-28 23:00] #514 closed

[2017-08-28 23:01] #519 closed

[2017-08-28 23:01] #509 closed

[2017-08-28 23:02] svinkle commented on #507
Closing via #518.

[2017-08-28 23:02] #507 closed

[2017-08-28 23:03] svinkle commented on #504
Thanks for all your input, everyone!

Closing via #517 and #518.

[2017-08-28 23:03] #504 closed

[2017-08-28 23:06] #512 closed

[2017-09-02 04:12] svinkle commented on #69
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @jnurthen, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:12] #69 closed

[2017-09-02 04:27] svinkle commented on #123
![](https://user-images.githubusercontent.com/1392632/29992910-fd2cb9fc-8f74-11e7-8aac-00820b8572b2.gif)

This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @davatron5000, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:27] #123 closed

[2017-09-02 04:29] svinkle commented on #125
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @m0bileDev, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:29] #125 closed

[2017-09-02 04:29] svinkle commented on #126
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @thomassjogren, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:29] #126 closed

[2017-09-02 04:30] svinkle commented on #146
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @ckundo, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:30] #146 closed

[2017-09-02 04:31] svinkle commented on #150
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @mathalete, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:31] #150 closed

[2017-09-02 04:32] svinkle commented on #157
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @pentzzsolt, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:32] #157 closed

[2017-09-02 04:34] svinkle commented on #170
Closed via #386.

[2017-09-02 04:34] #170 closed

[2017-09-02 04:35] svinkle commented on #186
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @ckundo, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:35] #186 closed

[2017-09-02 04:35] svinkle commented on #190
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @stefek99, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:35] #190 closed

[2017-09-02 04:36] svinkle commented on #194
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @Piderman, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:36] #194 closed

[2017-09-02 04:38] svinkle commented on #199
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @grayghostvisuals, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:38] #199 closed

[2017-09-02 04:39] svinkle commented on #207
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @grayghostvisuals, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:39] #207 closed

[2017-09-02 04:39] svinkle commented on #208
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @patocallaghan, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:39] #208 closed

[2017-09-02 04:41] svinkle commented on #212
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @jjenzz, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:41] #212 closed

[2017-09-02 04:41] svinkle commented on #217
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @clarehyam, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:41] #217 closed

[2017-09-02 04:42] svinkle commented on #198
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @grayghostvisuals, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:42] #198 closed

[2017-09-02 04:42] svinkle commented on #218
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @karlgroves, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:42] #218 closed

[2017-09-02 04:43] svinkle commented on #220
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @karlgroves, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:43] #220 closed

[2017-09-02 04:43] svinkle commented on #221
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @karlgroves, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:43] #221 closed

[2017-09-02 04:44] svinkle commented on #229
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @cvrebert, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:44] #229 closed

[2017-09-02 04:45] svinkle commented on #231
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @shawnthompson, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:45] #231 closed

[2017-09-02 04:45] svinkle commented on #235
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @grayghostvisuals, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:45] #235 closed

[2017-09-02 04:47] svinkle commented on #248
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @ryanflorence, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:47] #248 closed

[2017-09-02 04:47] svinkle commented on #283
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @equivalentideas, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:47] #283 closed

[2017-09-02 04:49] svinkle commented on #285
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @MarcusJT, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:49] #285 closed

[2017-09-02 04:49] svinkle commented on #288
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @michaelspellacy, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:49] #288 closed

[2017-09-02 04:50] cvrebert opened #522 "link-to/reference relevant WCAG sections in the post about `outline: none` ?"
Like http://outlinenone.com does.

This is in reference to http://a11yproject.com/posts/never-remove-css-outlines/

[2017-09-02 04:50] cvrebert commented on #229
Refiled as #522

[2017-09-02 04:50] svinkle commented on #329
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @elliotekj, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:50] #329 closed

[2017-09-02 04:53] svinkle commented on #334
Closed via #338.

[2017-09-02 04:53] #334 closed

[2017-09-02 04:55] svinkle commented on #341
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @MarjaE2, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:55] #341 closed

[2017-09-02 04:56] svinkle commented on #344
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @JLLeitschuh, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:56] #344 closed

[2017-09-02 04:56] svinkle commented on #359
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @fletcher91, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:56] #359 closed

[2017-09-02 04:57] svinkle commented on #375
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @RachelRVasquez, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:57] #375 closed

[2017-09-02 04:58] svinkle commented on #376
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @RachelRVasquez, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:58] #376 closed

[2017-09-02 04:58] svinkle commented on #379
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @msuberrivs, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 04:59] #379 closed

[2017-09-02 05:00] svinkle commented on #381
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @JasonNeel, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 05:00] #381 closed

[2017-09-02 05:01] svinkle commented on #395
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @ngoodrum, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 05:01] #395 closed

[2017-09-02 05:02] svinkle commented on #412
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @robfentress, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 05:02] #412 closed

[2017-09-02 05:02] svinkle commented on #417
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @inclusiveThinking, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-02 05:02] #417 closed

[2017-09-02 05:08] #333 closed

[2017-09-02 05:09] svinkle commented on #397
@MarjaE2 still interested in writing something up?

[2017-09-02 05:09] svinkle commented on #284
@joe-watkins Any update on this?

[2017-09-02 05:11] svinkle commented on #414
@joe-watkins, any update? Might consider closing due to inactivity.

[2017-09-02 05:12] svinkle commented on #425
@jpdevries, any update on this pattern?

[2017-09-02 05:14] svinkle commented on #426
@davatron5000 @joe-watkins, any new movement on this issue?

[2017-09-02 05:14] svinkle commented on #428
@PoornimaSubramanian, any updates on the status of the article?

[2017-09-02 05:15] svinkle commented on #434
@timwright12, any update on the status of this article?

[2017-09-02 05:16] svinkle commented on #494
@kamlekar, any comment on my question above?

[2017-09-02 05:16] svinkle commented on #499
@mfairchild365, any luck creating a new gist with your changes?

[2017-09-02 05:17] svinkle commented on #503
@sgregson, any luck drafting this PR?

[2017-09-02 05:18] svinkle commented on #508
@roelvangils, did this get resolved?

[2017-09-02 05:19] svinkle commented on #511
@jeryj, familiar with any of the links @nschonni mentioned above? Any other thoughts around setting something like this up?

[2017-09-02 05:24] svinkle commented on #522
@cvrebert, want to make a PR with these changes?

[2017-09-02 15:34] MarjaE2 commented on #397
Sorry, I've been busy with other projects. I'm not sure where to egin to write something up.

[2017-09-02 16:36] svinkle commented on #397
@MarjaE2 No worries about the timing! Everyone gets busy with other things for sure.

To get started, I think you have some great points in your initial comment:

- Background images make it harder to read text in front of the image
- If [the background image] scrolls with the text, then you can't scroll the text into the clear [to easily read the content]
- If [the background image] doesn't scrol

[2017-09-03 03:42] #499 closed

[2017-09-03 18:47] joe-watkins commented on #426
Closing -- @shawnthompson 's usability findings lead one to think details/summary isn't best method of showing/hiding content... at least enough to form a definitive guide.  Might have to wait for AT to catchup.

We have a couple tab patterns and a toggle folks can take a peek at.

[2017-09-03 18:47] #426 closed

[2017-09-03 18:48] #414 closed

[2017-09-03 18:50] svinkle commented on #414
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @dennisgaebel, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2017-09-03 18:57] joe-watkins commented on #284
@svinkle Ha! This pattern is crazy old :) More native HTML5 players are becoming keyboard/SR friendly but not all. I guess this pattern still holds up as an example of custom controls & transcript link for an audio player.

[2017-09-03 19:01] svinkle commented on #284
@joe-watkins The `button`s are announced as a "toggle button," but they only serve a single function. It would make more sense to combine the play/pause functionality into a single control.

I'd say the transcript control is more like a expanded/collapsed situation. Thoughts? 🤔

[2017-09-03 19:02] joe-watkins opened #525 "IE 11 bug - Logo treatment"
The logo area of the site in IE11 is borked.

![2017-09-03_11-59-56](https://user-images.githubusercontent.com/3695795/30005814-a14cd6a4-909f-11e7-8775-5d27816c0e18.png)

[2017-09-03 19:08] joe-watkins commented on #284
@svinkle closing -- I can revisit this pattern in the future when time permits. We could attack it better and differently :)

[2017-09-03 19:08] #284 closed

[2017-09-04 23:46] gio66613 commented on #516
[![Stories in Ready](https://badge.waffle.io/gio66613/newsecularorder.png?label=ready&title=Ready)](http://waffle.io/gio66613/newsecularorder)
readme.rst

.. image:: https://badge.waffle.io/gio66613/newsecularorder.png?label=ready&title=Ready
 :target: https://waffle.io/gio66613/newsecularorder
 :alt: 'Stories in Ready'
readme.rdoc

{<img alt='Stories in Ready' src='https://badge.waffle.io/gio6661

[2017-09-05 12:24] timwright12 commented on #434
@svinkle nothing quite yet. Just made a big move, hoping to carve out time soon.

[2017-09-05 13:25] jeryj commented on #511
@svinkle Nope. I haven't used Jekyll for that many projects, so my experience with extending it is fairly limited. Given GitHub Page's plugin limitation, the architecture will probably be frustrating to set-up. I do think it's a good idea if we can figure out a way to implement a system that allows for translations and simple maintenance.

For question #1, I like how https://github.com/Anthony-Gau

[2017-09-05 13:28] svinkle commented on #434
@timwright12 Cool, no worries! Just wanted to check in. 👍

[2017-09-05 17:38] nschonni commented on #511
PS, there is also a discussion on what plug-in to whitelist https://github.com/github/pages-gem/issues/401

[2017-09-06 00:02] derick-montague commented on #525
You just need to set a height on the SVG. Set it to 1.4em (same as width) and you'll be good. I don't have a local environment for this project set up yet, but I tested it using Dev tools in IE 11, FF, Chrome, and Edge.

[2017-09-06 01:18] joe-watkins commented on #525
Fixed in #530

[2017-09-06 01:18] #525 closed

[2017-09-06 13:15] alexcarpenter commented on #513
A few react components by Hugo Giraudel:

- [react-a11y-dialog](https://github.com/HugoGiraudel/react-a11y-dialog)
- [react-menu-button](https://github.com/HugoGiraudel/react-menu-button)

[2017-09-06 13:19] kentcdodds commented on #513
Also, a few days ago I created [react-toggled](https://github.com/kentcdodds/react-toggled) 😀

[2017-09-06 13:28] svinkle commented on #513
Will be including [GoogleChrome/howto-components](https://github.com/GoogleChrome/howto-components), via @robdodson.

[2017-09-06 13:33] marcus-herrmann commented on #513
One could point to https://docs.angularjs.org/api/ngAria, which is part of Angular, thanks to @marcysutton

[2017-09-06 14:55] marcysutton commented on #513
This is more framework-agnostic (though it does use jQuery), but the best accessible drag & drop solution I've seen is https://github.com/schne324/dragon-drop

[2017-09-06 14:59] svinkle commented on #513
@marcysutton Totally agree; the usability and amount of audible feedback with dragon-drop is really awesome. @schne324 did a fantastic job. 👍

[2017-09-06 17:52] joe-watkins opened #531 "Create badge/pill design system"
As noted in https://github.com/a11yproject/a11yproject.com/issues/513#issuecomment-324658307 we are needing a cool / easy-to-use badge/pill design system integrated into the site.

Will try this system out on the patterns page. Needs to be flexible so that it works in other areas of the site ;)

[2017-09-08 08:45] tvooo commented on #513
Skyscanner's design system Backpack features lots of accessible React components: https://github.com/Skyscanner/backpack/

I was also impressed by the Microsoft Office UI Fabric date picker: http://dev.office.com/fabric#/components/datepicker

[2017-09-08 21:36] svinkle commented on #513
Totally need to include [react-theme-switch](https://github.com/Heydon/react-theme-switch) by @Heydon. 👍

[2017-09-12 13:34] svinkle commented on #513
A couple `aria-live` region components:

- [react-a11y-announcer](https://github.com/thinkcompany/react-a11y-announcer)
- [vue-a11y-announcer](https://github.com/thinkcompany/vue-a11y-announcer)

[2017-09-12 14:28] Heydon commented on #513
Be my guest! Thank you.

[2017-09-12 16:47] schne324 commented on #513
@svinkle I wrote a framework-agnostic live region module: https://www.npmjs.com/package/live-region.  It is pretty simple so it could easily plugin to frameworks like react and vue

[2017-09-27 15:11] evaferreira opened #536 "Bug: Link at Comprehension Level not working"
I'm getting a 404 with the first link (Read-able.com) in http://a11yproject.com/posts/check-comprehension-level/

Maybe this is the new link? https://www.webpagefx.com/tools/read-able/ I can submit a PR if that's correct!

[2017-09-27 17:43] scottaohara commented on #536
Hey there!

Just gave this a look and the link seems to be working on my end.   Maybe there was an outage or hiccup in the redirect?

But checking the present link and the one that you posted, they definitely are the same.  Probably a good idea to update the link.  Want to do the PR?

Thanks!

[2017-09-27 17:45] #455 closed

[2017-09-27 19:22] evaferreira commented on #536
Done! https://github.com/a11yproject/a11yproject.com/pull/537

Thanks and sorry for the trouble (:

[2017-09-27 20:14] scottaohara commented on #536
What trouble? No trouble at all!  Thank you for helping out :) !!!

[2017-09-27 20:14] #536 closed

[2017-09-28 04:09] webuxr commented on #455
@joe-watkins Did commit `2b9331f` address the issues noted in #455?

[2017-09-28 22:16] galantlex commented on #531
👋 Hi, I'd love to try to tackle this!

[2017-09-29 12:45] svinkle commented on #531
Hey @galantlex! Thanks so much, that would be awesome! Let me know your thoughts on what a solution might look like.

Looking forward to hearing what you come up with! 🙂

[2017-09-29 12:48] svinkle commented on #531
(I can't assign this ticket to you directly @galantlex but I'll assign to myself and we can work on this together.)

[2017-10-02 03:22] galantlex commented on #531
I'm pretty new to the world of design in general, so just to be clear, when you say "pill/badge", do you mean maybe something like this?

![a11y screenshot showing possible pill design](https://user-images.githubusercontent.com/17116584/31063247-587d496a-a6ff-11e7-8d38-a4f5258828be.png)

[2017-10-02 10:41] stowball commented on #513
I wrote [react-accessible-tabs](https://github.com/stowball/react-accessible-tabs) a year ago

[2017-10-02 13:16] svinkle commented on #531
@galantlex Yeah, that looks pretty great to me!

I'm thinking it would be cool to just have the icons visible beside the link text, then on link `:hover`+`:focus`, display the framework name. This way the focus is more on the link itself and what it is, rather than the tech behind it.

[2017-10-02 13:47] galantlex commented on #531
Makes sense! In that case do you think there should be a border around it at all, or really just the icon? Especially since some icons (react, angular) seem more self-encapsulated than others (vanilla).

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Scott Vinkle <notifications@github.com>
Sent: Monday, October 2, 2017 9:16:53 AM
To: a11yproject/a11yproject.com
C

[2017-10-02 13:51] svinkle commented on #531
@galantlex Good point. I think just the icons only would look pretty slick. The vanilla JS icon could be the yellow square with black "JS" text, as seen on many a laptop. 🙂

[2017-10-02 17:32] kendrick commented on #531
@galantlex Happy to chip in on this if you need help/opinions!

[2017-10-02 17:43] kendrick commented on #397
I'd be happy to write something up—could cover the general accessibility issues of background images as well as the legibility concerns raised above. Should this be categorized as a Quick Test or something else?

[2017-10-02 17:45] kendrick commented on #12
I'll work on a HOWTO for accessible modals.

[2017-10-02 18:08] svinkle commented on #397
Sounds good, @kendrick. Probably would be a "Quick Tip."

When you've got something to show, add it to a gist then link here; we'll check it out.

[2017-10-02 18:10] svinkle commented on #12
@kendrick Sounds good, go for it!

[2017-10-02 21:02] alexcarpenter commented on #511
I know Hugo's Sass Guidelines makes use of translations. https://github.com/HugoGiraudel/sass-guidelines

[2017-10-03 03:43] Gutem commented on #511
I can translate some to pt_BR

[2017-10-03 12:17] HugoPalomares commented on #511
I would be happy to help with some es_MX translations.

On Oct 2, 2017 11:43 PM, "Gutem" <notifications@github.com> wrote:

[2017-10-03 13:54] svinkle commented on #511
@Gutem @HugoPalomares Thanks for your interest in contributing! As things are at the moment, we still don't have a solution for serving translated articles.

That said, we can still accept PRs in the form of translations and place them in a language specific folder until we have the infrastructure available.

Here are some articles I think would be good to start with:

- [Quick Tip: A11y and a bri

[2017-10-05 00:33] digilou commented on #12
Has High Contrast Mode under AT been taken yet?

[2017-10-05 00:37] svinkle commented on #12
I don't think so, @digilou. Go for it!

Please create a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) when you've got something to show, linking your text in a [gist](https://gist.github.com/) for review.

[2017-10-12 21:07] mtthwhggns opened #538 "Article: Colour blindness introduction"
I've started turning some old talk notes into a few short articles, some of which match things from the "List of Post Ideas".

This first one is the "Introduction to color blindness".

I'm still planning some heavy editing, switching things over to the American spellings and updating a few bits and pieces, but I'd really like some feedback on the general structure and scope.

Here's the current gi

[2017-10-15 16:05] svinkle commented on #538
Thanks for your submission, @mtthwhggns! I've left a few items to adjust over on your gist.

Let me know when you've had a chance to fix those up!

[2017-10-17 18:12] mtthwhggns commented on #538
Hi @svinkle ,

Thanks for the feedback.

I've made all of your suggested changes, except the last one, where I think neither of our ideas really explained what I was thinking. I've written something new you can take a look at, in the paragraph two-from-bottom. Any more feedback is most welcome.

One question; I've (automatically) used British spelling. Should we use US English to match all of the

[2017-10-17 18:24] svinkle commented on #538
@mtthwhggns Excellent! I like the way that paragraph reads now; it's a tough thing to explain for sure.

And no, leave the spelling as is. In the spirit of inclusivity, diversity should be celebrated, and that even includes unique language quirks.

Create the PR and let's get this merged. 👍

[2017-10-18 19:27] #538 closed

[2017-10-23 18:18] aardrian opened #544 "Dropdown menu uses incorrect ARIA roles"
The pattern for the dropdown menu at http://a11yproject.com/patterns.html#menus uses a code example that leans on ARIA menu roles: https://codepen.io/grayghostvisuals/pen/ltjDa

If this is a pattern for an *application* menu (not web site/page navigation, but something that lives in `role="application`) then I suggest the following:

- Add `role="application` so that screen readers do not intercep

[2017-10-23 18:35] svinkle commented on #544
Thanks, @aardrian this is fantastic stuff.

What we should do is update the current pattern to reflect these notes, and perhaps someone could create another patter which is appropriate for the `role="menu"` context.

@grayghostvisuals, are you up for adjusting your pattern? Otherwise I can make a fork and relink on the patterns page.

[2017-10-24 01:22] grayghostvisuals commented on #544
👍

[2017-10-26 16:34] resource11 commented on #513
What about [react-a11y-patterns](https://github.com/AlmeroSteyn/react-a11y-patterns)by @AlmeroSteyn?

[2017-10-31 20:01] dhcodes commented on #511
@jeryj I got a couple of things in the pipeline but down the road, you and I should work on this.

[2017-11-01 22:02] jeryj commented on #511
@dhcodes Sounds good! Let's figure out what the good options are when we have some time to collaborate.

[2017-11-02 03:20] #494 closed

[2017-11-02 03:29] svinkle commented on #511
So, just realized there's a Google translate thing in the footer. I mean, I knew it was there, but hadn't put two and two together and, well, maybe we don't need to pursue this feature? It seems to do the job…

I'm very observant.

[2017-11-02 14:00] ljgoslin opened #547 "Live aXe-core Webinar: Updates and aXe Coconut"
[Join our free webinar](https://accessibility.deque.com/accessibility-testing-axe-core-webinar) on Tuesday, November 7th, from 2-3PM EST and learn what's new with aXe-core 3.0-alpha and how to test with aXe Coconut. This webinar is organized by Deque Systems and presented by Marcy Sutton.

[2017-11-02 14:04] ljgoslin opened #549 "Live Panel: Are you Ready for the Section 508 Refresh?"
[Join us on Wednesday, December 6th](https://accessibility.deque.com/section-508-refresh-panel) at 9:00AM to learn the steps you and your agency can take for organizational readiness for the Section 508 Refresh.

Doors will open at 8:30AM at the Westin Crystal City and we welcome attendees to stay and network after the panel until 12:00PM. This panel is hosted by Deque Systems and [includes a pane

[2017-11-02 14:37] ljgoslin opened #550 "Ann Arbor Web Accessibility Meetup"
Our first event! [You should come](https://www.meetup.com/a2a11y/events/243778915/) on Monday, November 13th from 6-8PM. This will be a pretty low-key social gathering to give us all the opportunity to hang out with others who are interested in digital accessibility.

Bring ideas for what you'd like to get out of an accessibility meetup! Also, feel free to reach out to either of us organizers with

[2017-11-02 15:04] ericwbailey commented on #550
Added in https://github.com/a11yproject/a11yproject.com/pull/551.

[2017-11-02 15:04] #550 closed

[2017-11-02 15:04] ericwbailey commented on #549
Added in https://github.com/a11yproject/a11yproject.com/pull/551.

[2017-11-02 15:04] #549 closed

[2017-11-02 15:04] ericwbailey commented on #547
Added in https://github.com/a11yproject/a11yproject.com/pull/551.

[2017-11-02 15:04] #547 closed

[2017-11-07 14:50] ljgoslin opened #552 "Update for 508 Panel"
Looks like the location for the 508 Panel I submitted is being pulled from the post below it. To clarify, this event is not in TO, it is at the Westin Crystal City: 1800 Jefferson Davis Hwy, Arlington, VA 22202. Thanks!

[2017-11-07 15:09] ericwbailey commented on #552
Ah, sorry about that. I just pushed a fix up.

[2017-11-07 15:09] #552 closed

[2017-11-14 16:30] ljgoslin opened #555 "Upcoming Webinar: How Persons with Disabilities Use the Web"
[Join us on Thursday, November 30th at 11:00AM](https://accessibility.deque.com/virtual-panel-how-persons-with-disabilities-use-the-web) to learn how persons with disabilities use the web.This panel is a great introduction for people who are new to accessibility but want to learn more.

Millions of people have disabilities that affect their use of the web. Currently, most websites and software hav

[2017-11-27 13:14] jenstrickland commented on #397
@kendrick Are you still working on this? If not, I would like to contribute on this. I've been working on using the aXe extension with some visual designers lately to help them understand text on background images. My explanations and techniques might be appropriate here.

[2017-11-28 11:49] skparallax opened #557 "Inaccuracy: Wrong link to Accessibility Club #7 event"
On the [event](http://a11yproject.com/events.html) page the link to _Accessibility Club_ should probably be https://accessibility-club.org/, but not https://accessibility.deque.com/section-508-refresh-panel

[2017-11-28 14:46] ericwbailey commented on #557
My fault, sorry. Should be all set now.

[2017-11-28 14:46] #557 closed

[2017-11-28 17:13] pkra commented on #511
The Google translation into German is rather poor. So while procrastinating, I started writing a German translation as a test - I used the post on numeronyms. Draft at https://gist.github.com/pkra/ebba8c7142dd79bd61e500a6487576ee

I'd be happy to get feedback and corrections; I'm a native speaker but I might be too much in an English bubble for work to get German a11y lingo right. Happy to do more

[2017-11-29 11:02] jenstrickland commented on #531
Also, happy to help here. I wanted to ask if color contrast is a concern for the icons.

[2017-11-29 15:24] svinkle commented on #531
@jenstrickland Excellent! For contrast, we can't do anything when using brand logos. However, if we add plain text or a custom border for the design, that's when we need to account for color contrast.

@galantlex, curious if you were able to make any more headway with this? If not, no worries!

I'd like to see a decision made for a design concept first before anyone takes on the coding bit.

I lik

[2017-11-29 15:51] kendrick commented on #397
@jenstrickland Go for it! I got started but found myself wrapped up with other obligations. I'm still really keen to participate with a11yproject, but likely won't have adequate free time until the new year.

[2017-11-30 15:27] svinkle opened #559 "Securing a11yproject.com domain"
To help with security and privacy of our readers, let's add `https` to the `a11yproject.com` domain.

Use this [handy guide from Cloudflare](https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/) as a resource (I've secured all my domains using this method; works well!)

When complete, any existing links to the project should forward to the `SSL` enabled domain by default. 🙌

[2017-11-30 20:07] rstamper-ai commented on #559
It's easy to setup and you forgot the best part. Cloudflare gives you SSL for free, as long as the site isn't commercial :)

[2017-11-30 22:18] davatron5000 commented on #559
Okay. I think I've set everything up right on Cloudflare but getting a `net::ERR_CERT_COMMON_NAME_INVALID` error that's showing the scary "This site's not secure" when you visit https://a11yproject.com

The advice from the FAQ is this:

Our status is showing as "Active", but maybe we just wait and check it out tomorrow.

[2017-11-30 22:23] svinkle commented on #559
From experience it does take a bit of time for everything involved (DNS, certs, etc) to update. Eventually it should work itself out and, depending on how you set things up, should default/reroute to `https`.

[2017-11-30 22:24] rstamper-ai commented on #559
Hello Dave,

https://www.sslshopper.com/ssl-checker.html#hostname=https://a11yproject.com/
They say your SSL is fine. I'm however having trouble in my browser too as it's seeing a *.github.com certificate instead of yours.
Your DNS records look fine too so it may just be a matter of propagation:
https://intodns.com/a11yproject.com

[2017-11-30 22:48] davatron5000 commented on #559
😫 welp. took the whole site down (even `http://`) because of auto-forwarding to HTTPS. I disabled that and got `http://` back online. Once we can confirm `https://` is up, I'll re-engage HTTPS upgrading.

[2017-11-30 22:54] davatron5000 commented on #559
🎉 hey hey hey! I got it all working. I had to downgrade from what the guide recommended to a `Full` certificate instead of a `Full (Strict)`. Re-enabled auto-upgrading and we're Green Locks ✅🔒 across the board.

http://a11yproject.com
https://a11yproject.com
http://www.a11yproject.com
https://www.a11yproject.com
http://a11yproject.com/posts/accessible-data-tables/
http://www.a11yproject.com/posts/

[2017-11-30 22:54] #559 closed

[2017-11-30 23:20] svinkle commented on #559
Woo! Nice work, @davatron5000! 🍻

[2017-11-30 23:21] danielmatthew commented on #559
Nice one @davatron5000 \o/

[2017-12-03 16:15] deconspray opened #560 "Meetup Event: Digital Accessibility Lightning Talks & Holiday Social"
This event will be a hybrid lightning talk, social networking meetup.

Live stream: https://goo.gl/jrovdH
Live captions: https://goo.gl/ga8zxN

Between 6:30-7:30 pm, join us for a mix of formal talks and holiday merrymaking. We're looking to have food and beverage for this event.

Our presentation lineup (to date ... in no particular order):

**Temporary Disabilities: Every Day struggles caused by

[2017-12-03 16:17] deconspray opened #561 "Meetup Event: Mobile Screen Readers 101 - Hands On for Developers & Designers"
For this meetup event, learn the basics of using a mobile screen reader.

Mobile screen reader expert Sam Joehl will cover an overview of VoiceOver and TalkBack, how to navigate through user interfaces, common gestures used with each screen reader, and how to use mobile screen readers for testing.

The talk will also delve into accessibility architecture and how mobile screen readers use accessibi

[2017-12-03 16:25] svinkle commented on #560
Thanks, @deconspray! Could you provide more details, including:

- Event title
- A brief description
- URL for more info
- Date of event
- Address of event (if applicable)
- Hashtag (if applicable)

[2017-12-03 16:25] svinkle commented on #561
Thanks, @deconspray! Could you provide more details, including:

- Event title
- A brief description
- URL for more info
- Date of event
- Address of event (if applicable)
- Hashtag (if applicable)

[2017-12-03 16:32] deconspray commented on #560
Apologies. :-}

*Event title: *Digital Accessibility Lightning Talks & Holiday Social
*Host:* Chicago Digital Accessibility and Inclusive Design Meetup
*A brief description:*
Event URL: https://www.meetup.com/a11ychi/events/238768965/
Live Stream URL: https://goo.gl/jrovdH
Live Captions URL: https://goo.gl/ga8zxN
Date of event: Wednesday, December 6, 2017, 6pm-8pm CT (Live stream,
6:30pm-7:30pm CT

[2017-12-03 16:55] deconspray commented on #561
Apologies. :-}

*Event title: *Digital Accessibility Lightning Talks & Holiday Social
*Host:* Chicago Digital Accessibility and Inclusive Design Meetup
*A brief description:* For this meetup event, learn the basics of using a
mobile screen reader. Mobile screen reader expert Sam Joehl will cover an
overview of VoiceOver and TalkBack, how to navigate through user
interfaces, common gestures used wi

[2017-12-03 20:43] ericwbailey commented on #560
Hi @deconspray 👋  This should be all set now, thanks for submitting it!

[2017-12-03 20:43] #560 closed

[2017-12-03 20:45] ericwbailey commented on #561
I assumed this is for the January 4th event, and is reflected on the site. If any info is in error, let me know and I'll get it updated 👍

[2017-12-03 20:45] #561 closed

[2017-12-06 16:47] jenstrickland commented on #531
@galantlex If I can help, please let me know.

[2017-12-08 01:04] galantlex commented on #531
Hi yes sorry!

I like the idea of just a logo + tooltip with name on hover. One thing I'm thinking there is we should make sure the area on which one can hover is large enough so that it's accessible without super fine motor control. Otherwise, should be good!

[2017-12-10 17:04] svinkle commented on #531
@galantlex Good idea on the large `hover` area! Also be sure to include the same treatment on `focus` as well for keyboard-only folks.

What we'll need to actually implement this feature:

1. Logo assets (preferably SVG format if possible.)
2. Custom tooltip feature for `hover` and `focus` states (I'm partial to [my own solution](https://codepen.io/svinkle/pen/pwYRzM), but feel free to come up wit

[2017-12-10 17:29] jenstrickland commented on #397
@kendrick @svinkle I took a first stab at jotting down guideline copy for text on background images, capturing my own thoughts when I work with text on background images. I would love your feedback! https://gist.github.com/jenstrickland/b4a8aded896744f46066f24981fdd743

[2017-12-10 18:32] svinkle commented on #397
@jenstrickland This is a great start! Could you change the gist file to markdown and add some formatting and headings? Also, if you're able to an image or two to help demonstrate the issues you're describing, that would be awesome as well.

[2017-12-10 20:40] galantlex commented on #531
I'm a university student about to start finals, so I'd love to hit 3 and/or 4 starting after next week, possibly after others have done 1 and 2?

[2017-12-10 22:18] jenstrickland commented on #531
I'm grabbing the svg logos. So far, I have jquery, react, angular, nodejs.  Not finding a CSS logo, nor am I aware one exists. For simplicity's sake, I think using the code you provided on CodePen is great. I can take a look at the patterns.yml/html tomorrow.

[2017-12-10 22:32] jenstrickland commented on #397
Thanks, @svinkle. I'm new to contributing and am not sure how to change the gist to markdown. I tried by using *bold* but it doesn't seem to have an effect. Is there something else I'm supposed to change? I'd like to sort out the formatting and headings, and then I can include some image examples (I'm working on a site right now I can use screenshots from). If you'd like to DM me, I'm @inkpixelspa

[2017-12-11 15:08] svinkle commented on #397
@jenstrickland No problem! You can update the file name in your gist by adding `.md` to the end and it'll format it on save, outputting [GitHub flavored markdown](https://guides.github.com/features/mastering-markdown/).

[2017-12-11 15:11] svinkle commented on #531
Right, there's no "official" CSS logo per se, but folks seem to be partial to the [blue shield](https://commons.wikimedia.org/wiki/File:CSS3_logo_and_wordmark.svg) style logo. Also thinking it would be nice to have a Sass logo, in case the author is using Sass for their styling. We can always add more as we find them.

[2017-12-15 15:28] ericwbailey opened #564 "Resources subnav truncated on desktop"
If the screen is short enough, the bottom of the resource list sidebar is cut off when scrolling to the bottom of the page.

I wonder if we could do a little consolidation of subcategories to get around this without any fancy CSS/JS work.

![Gif demonstrating the scrolling truncation issue. Screen recording.](https://user-images.githubusercontent.com/634191/34048664-915de538-e182-11e7-920f-0098415

[2017-12-15 16:07] jenstrickland commented on #397
@svinkle Edits incorporated. https://gist.github.com/jenstrickland/b4a8aded896744f46066f24981fdd743

[2017-12-15 17:16] svinkle commented on #564
Subcategories sounds like a band-aid solution to me. There's no guarantees that the same issue won't come up even after consolidation.

That said, curious what you have in mind. 🤔

[2017-12-15 17:34] ericwbailey commented on #564
Lemme stew on it.

[2017-12-15 20:54] joe-watkins commented on #564
I wonder if the `offset` property in the Waypoint/TOC JS that could be hacked.. it triggers the `.stick-footer` which helps with positioning of the fixed sidebar once the footer is in view. Need that to kick in sooner.

[2017-12-16 16:24] #564 closed

[2017-12-16 16:24] ericwbailey commented on #564
Thanks @joe-watkins, that's a great starting point! I've got PR merged that should fix it: https://github.com/a11yproject/a11yproject.com/pull/565

[2017-12-20 01:00] jenstrickland commented on #531
Work started at: https://gist.github.com/jenstrickland/dd496d1c60d1c27d01dc5c41a6e15277

[2017-12-20 05:25] svinkle commented on #531
@jenstrickland I'd say create a new branch with your work and create a pul request. This way we can not only have a code review but also pull down the branch and try it out locally. 👍

[2017-12-20 16:18] ericwbailey opened #566 "Better Event page UX"
Right now, Events get moved to the Past category during the day they occur, and that's not ideal. Let's have them get moved the day after the event has occurred.

h/t to @cehfisher for pointing it out.

[2017-12-20 20:53] jenstrickland commented on #531
@svinkle Cloned the repo and have everything set up. Do you want these styles to go into _layout.scss?

[2017-12-21 17:49] svinkle commented on #531
@jenstrickland I think a new `.scss` file makes sense. 👍

[2017-12-21 19:00] svinkle opened #569 "Quick tip: Safari Keyboard Navigation"
Just wrote a quick tip article on enabling full keyboard support in Safari for my fellow Shopifolk and thought I'd share it here.

Here's the gist for review: https://gist.github.com/svinkle/a429c127db5358ec0bd8b42ab6c9ee78

[2017-12-21 19:04] ericwbailey commented on #569
Love it!

`defaults write NSGlobalDomain AppleKeyboardUIMode -int 3` in the Terminal enables keyboard control on the OS, if Shopify uses a config script for new machines.

[2017-12-21 19:08] scottaohara commented on #569
Nice.

I wrote about this on my blog awhile ago too.  Going to add a link to this for additional information per the Safari bit you wrote.  Wasn't aware of that.

[2017-12-21 20:06] svinkle commented on #569
@ericwbailey Really? And yes they do. Gonna share this! 🔥

[2017-12-22 14:51] ericwbailey commented on #566
Fixed in https://github.com/a11yproject/a11yproject.com/pull/570.

[2017-12-22 14:51] #566 closed

[2017-12-22 16:36] svinkle commented on #531
I was just thinking since the badges are merely tooltip in this context, the markup will need to reflect this. It'll be a little different from my original pen. Hmm, I should fork my pen and make a non-link list demo. 🤔

I was also thinking how it would be neat if we had a filter feature. For example, filtering by "JavaScript" would only show vanilla JS demos. We can save this for a later time tho

[2017-12-24 14:43] jenstrickland commented on #531
@svinkle @galantlex @ericwbailey  I'm inclined to not include the svg in the code but to put the icon in CSS as a background image. I would include a link with  span with aria role="tooltip" within each pattern item that includes the name text. The span would initially only show the icon, and become wider on :hover and :focus to reveal the text for the framework. Here's a sample of what I'm thinki

[2017-12-24 15:44] svinkle commented on #531
@jenstrickland I like the direction this is heading!

## Thoughts on SVG usage…
A couple reasons I'd suggest using an SVG sprite instead of CSS background images:

- SVG directly in the markup has a perf gain as the client is just downloading text. When used as background image, each image is a separate request to the sever.

  <img width="304" alt="screen shot 2017-12-24 at 10 35 53 am" src="http

[2017-12-24 16:37] ericwbailey commented on #531
+1 to @svinkle's thoughts on SVG spriting.

The pattern @jenstrickland is proposing runs aground of some issues Heydon wrote about with [Toggletips in Inclusive Components](https://inclusive-components.design/tooltips-toggletips/). What about wrapping the badge logo itself in `aria-hidden="true"`, then visually hidden text that reads "Uses `$technology`."? My thinking is when a SR reads it, it'll

[2017-12-24 21:05] jenstrickland commented on #531
@svinkle  This was awesome! It's been such a long time since I've been able to collab with devs.
@ericwbailey The CSS I used was similar to Heydon's visually hidden. My understanding is that it is available to SR without a toggle. I added  "Uses" before the framework — _thoughtful!_

From reading the [spec](https://www.w3.org/TR/wai-aria-practices/#tooltip), [spec-in-progress](https://github.com/w

[2017-12-26 16:48] ericwbailey commented on #531
@jenstrickland Ah, missed that on my first pass. Apologies!

[2017-12-26 19:31] jenstrickland commented on #531
I _was_ worried about users on browsers without SVG support & not using a SR. As things stand now, they get neither the icon cue or the tooltip. Should we address this? Also, I just checked CanIUse and see SVG basic support is a lot better than I thought! Should we have a solution for IE <9, Android <3? @ericwbailey @svinkle @galantlex

This solution is also quite a bit different from the original

[2017-12-27 19:53] scottaohara commented on #531
Hey all,

So I've been reviewing the thread and the current state of the suggested pattern, and I think we're missing the mark here a bit.

We really shouldn't need a `tooltip` for this, especially if we want this to be an easily reusable pattern that doesn't require the use of IDs.  Properly using a tooltip role requires the need for IDs and `aria-describedby`s.

As @svinkle has mentioned, he and

[2017-12-28 20:32] svinkle commented on #531
@scottaohara Totally agree. This markup structure is really great. Main issue I see is if someone wants to know what the icon represents, it would be nice to have something available on `focus`/`hover`, thus the original idea of the "tooltip" (or `tooltip`.)

[2017-12-28 21:44] jenstrickland commented on #531
@svinkle @scottaohara @ericwbailey @galantlex I keep wondering why we hide the text that pairs with the icon? We have the space to display the icon and label, it will be clearer for novices, and accessible. Why are we hiding it?

[2017-12-29 20:23] svinkle commented on #397
Thanks, @jenstrickland! Here's a few recommended edits before we publish.

---

👇

---

👇

---

Is there someplace we could link to for this?

---

👇

---

Any suggested tools to link to?

---

Source and example of this?

---

👇

---

For the image examples, could you write some `alt` text for those? Just some text describing what's happening in each image.

[2017-12-29 20:24] svinkle commented on #531
I agree with @jenstrickland; the text should be visible. See https://github.com/a11yproject/a11yproject.com/issues/531#issuecomment-354353837.

[2017-12-29 20:42] #569 closed

[2018-01-05 10:05] webuxr commented on #513
@svinkle
Seems like this issue about “React/Angular/Vue” befriended Angular and Vue. ;)

I think @joe-watkins was on the correct path with further segmenting our Patterns page to include library/framework/etc.

I’d like to add a few notes about this:

1. Adding A11y patterns that are specific to front-end libraries, frameworks, CMS solitons, or templating systems could mean going deep into impleme

[2018-01-05 12:34] davetron5000 commented on #513
Did you mean [davatron5000](https://github.com/davatron5000)?

if not…how can I help :)

[2018-01-05 13:03] svinkle commented on #513
@webuxr All valid thoughts. This thread is still up in the air of what exactly the plan is on presenting the findings here. Will it be a section, sub-section, or a brand new page? Not sure.

Before we make any final decision on how to present, the initial plan was to ensure usability and accessibility standards _before_ official recommendation. As we've seen in the past, sometimes a component will

[2018-01-05 16:13] davatron5000 commented on #513
👋 Howdy. Chiming in. Hopefully its helpful.

I think I'd personally love some dependency badging system on the Patterns page. We already have quite a few `(jQuery)` ones. Maybe something like Labels in GitHub Issues.

It seems like there's value/demand in providing React/Angular components as well, the key difference being that these tend to be pre-packaged solutions. Just like the difference betw

[2018-01-06 13:22] svinkle commented on #513
I like the separation of concerns:

- Patterns: simple demos with code readily available to study and learn from
- Components: pre-packaged, a11yProject approved code modules ready for dropping into a project

And the badging system is underway via #531. These will be applied to both pages eventually.

[2018-01-06 13:50] #544 closed

[2018-01-06 13:59] svinkle commented on #425
This issue has become "[stale](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#stale-issues)" — @jpdevries, feel free to open a [new issue](https://github.com/a11yproject/a11yproject.com/issues/new) if you'd like to continue.

[2018-01-06 13:59] #425 closed

[2018-01-06 14:03] svinkle commented on #511
@pkra This is awesome! Unfortunately we still need to come up with a solution to handle translated articles. Once that's solved, we'll be able to publish. Vielen Dank! 🙂

[2018-01-06 14:05] svinkle commented on #516
@chrisdemars Any update on this? Would like to publish. 🙂

[2018-01-06 14:08] #522 closed

[2018-01-06 20:33] pkra commented on #511
@svinkle no worries at all. This was just a test run. Perhaps it's simpler to grab a11yprojekt.de
etc?

[2018-01-08 15:31] ljgoslin opened #571 "Webinar: Automated Accessibility Testing with WorldSpace for iOS"
On Tuesday, January 23rd at 2:00PM EST, join our live webinar hosted by Deque's mobile accessibility expert, Chris McMeeking. Chris will teach developers how they can now trial WorldSpace for iOS for free and utilize the limited functionality framework in their own build.

By downloading this free trial, developers will be able to:
- Run WorldSpace for iOS on their application.
- View WCAG 2.0 AA

[2018-01-08 15:54] chrisdemars commented on #516
Hey @svinkle, I am def going to work on it. Just have been crazy busy these past few months. I am going to have to make a separate one as to not rewrite the original.

[2018-01-09 05:18] stefanjudis commented on #516
Hey hey. 👋🏻

Just came across and I'm also digging `:focus-ring` just wanted to mention that there was a spec change and renaming to `:focus-indicator`. that's probably worth mentioning. :)

👉🏻 https://github.com/w3c/csswg-drafts/issues/2036

[2018-01-09 19:59] joe-watkins commented on #516
Good find @stefanjudis I wasn't aware they had changed the name. Wonder what this means for `-moz-focusring`.

[2018-01-10 18:43] ericwbailey commented on #571
Addd in https://github.com/a11yproject/a11yproject.com/pull/573.

[2018-01-10 18:43] #571 closed

[2018-01-10 18:50] chrisdemars commented on #516
I saw Marcy talking about that couple weeks ago so I will be sure to change
it. I also have to change that in my conference talk as well.

On Tue, Jan 9, 2018 at 12:19 AM, Stefan Judis <notifications@github.com>
wrote:

[2018-01-17 13:54] ljgoslin opened #576 "aXe-hackathon 2018"
[Contribute to making the web accessible to people with disabilities](https://www.eventbrite.com/e/axe-hackathon-2018-tickets-42248468306?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing) at the 3rd Annual aXe-Hackathon on March 24th, 2018. The Hackathon will be lead by Marcy Sutton and Wilco Fiers. We will be...

- Testing open source comp

[2018-01-18 01:32] ericwbailey commented on #576
Hi @ljgoslin, this sounds like a really cool event, wish I could be there!

I know it's not posted anywhere yet, but we're trying to keep the descriptions of the events short—about one paragraph in length—so as to provide equal priority to each event.

Would you mind rephrasing it?

[2018-01-18 13:17] ljgoslin commented on #576
Hi Eric,

Sure thing, please find below the updated description:

Contribute to making the web accessible to people with disabilities
<https://www.eventbrite.com/e/axe-hackathon-2018-tickets-42248468306?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing>
at the 3rd Annual aXe-Hackathon on March 24th, 2018. The Hackathon will be
lead by Marcy

[2018-01-18 17:00] ericwbailey commented on #576
Thanks! Added in https://github.com/a11yproject/a11yproject.com/pull/577.

[2018-01-18 17:00] #576 closed

[2018-01-23 20:20] accesstosuccess opened #578 "Conference: Accessibility, Inclusion and Universal Design"
Join Access to Success at the Rotman School of Management on Feb 10 and hear from experts representing Microsoft, IBM and Slack about the necessity for universal design. Event details available in the attachment. Register at accesstosuccess.ca!
[Access to Success Conference.pdf](https://github.com/a11yproject/a11yproject.com/files/1657430/Access.to.Success.Conference.pdf)

[2018-01-24 16:04] #578 closed

[2018-01-28 16:55] svinkle opened #579 "Accessible sub-navigation pattern"
Been doing _a lot_ of a11y assessment recently. Feels good to do some development. 💻

Here's something I've been working on on-and-off recently and looking for feedback on the concept. 🙏

♿️ Accessible sub-navigation pattern: https://codepen.io/svinkle/pen/ypmVpr/

[2018-01-29 15:05] jeryj commented on #579
Thanks for thinking about and building useful a11y scripts! Quick thoughts on this one:

- Should tabbing off of the sub-nav collapse it? Currently it stays open and you can have multiple sub-navs open at the same time. I'm not sure if this is better or worse, but as a sighted user on keyboard it felt off. I'm 100% sure you thought about this a lot more than I have, so I'm curious to learn your th

[2018-01-29 22:48] ljgoslin opened #580 "Live Webinar: Using Personas as an Inclusive Design Tool"
[Join us on February 27th at 1PM EST](https://accessibility.deque.com/creating-ux-design-personas-webinar), Denis Boudreau and Caitlin Geier, two of our UX accessibility experts, will talk about creating personas which you can use to promote inclusive design in your workplace and to design websites and applications which work for a broad variety of people. This is the first part of our new UX and

[2018-01-30 04:37] ericwbailey commented on #580
All set, thanks! https://github.com/a11yproject/a11yproject.com/pull/581

[2018-01-30 04:37] #580 closed

[2018-01-30 05:17] nschonni opened #582 "Events don't show up in RSS/Atom feed when storing as a collection"
This is an upstream issue https://github.com/jekyll/jekyll-feed/issues/124, but I'm not sure if it makes sense to move them into the posts section with an `event` tag till it's addressed.

[2018-01-30 05:31] scottaohara commented on #508
@roelvangils one more ping to see if this worked out ok?

[2018-01-30 16:06] svinkle commented on #579
Thanks for the feedback, @jeryj!

For the tabbing away, I was thinking in the same way as the main premise of the concept itself; let the user decide when they want to close the nav. But, I think this would be quite an irritant. It probably should close on its own for the sake of saving some extra keystrokes for the user.

As far as the pattern itself, I was chatting about it with @scottaohara. We

[2018-02-27 02:18] ericwbailey commented on #508
Closing due to inactivity.

[2018-02-27 02:18] #508 closed

[2018-03-02 00:03] clarksara opened #587 "Web Accessibility Summit"
A one-day conference about all things website accessibility for higher education web professionals in Missouri. Join us May 30 at the University of Missouri.

[2018-03-02 00:05] clarksara commented on #587
http://webaccessibilitysummit.org

[2018-03-02 00:22] #587 closed

[2018-03-04 13:52] anqaka opened #589 "More web accessibility conferences in aApril 2018"
I'm not hosting the conferences but I've done some research in web and I found two really interesting:
1. Funka Accessibility Days 2018

- event link: https://www.funka.com/en/we-offer/funka-accessibility-days/
- 17-18.04 in Stockholm
- Description from their website: 'During the 10th anniversary of the Funka Accessibility Days 17-18 April, much will of course revolve around the Web Accessibility

[2018-03-04 15:04] #579 closed

[2018-03-04 15:08] svinkle commented on #582
Good point. Reading the thread it looks like this might not get fixed anytime soon.

Want to create a PR for your idea? If you've got some sort of fix in mind, I say go for it.

[2018-03-04 15:19] svinkle commented on #589
@anqaka Thanks for the info and links! 👍

[2018-03-04 15:19] #589 closed

[2018-03-08 15:39] wbobe opened #590 "Accessible by Design Conference"
Accessible by Design: Creating more inclusive digital experiences

May 8, 2018
Bloomington, IN

The one-day Accessibility conference offers software designers, programmers, and higher-ed leaders a chance to hear from professionals in the field and get some hands-on experience in a tactic-oriented workshop format. [Read more about the line-up and register at accessiblebydesign.org](https://accessib

[2018-03-09 02:54] ericwbailey commented on #590
Thanks for the submission, looks like a cool event 👍

[2018-03-09 02:54] #590 closed

[2018-03-15 20:15] ljgoslin opened #592 "Live Webinar: Intro to Accessibility Heuristics"
[Join us on Tuesday, April 10th from 1:00-2:00PM EST](http://bit.ly/2FYT8QI), to learn the fundamentals of heuristics as a design evaluation tool. Our UX accessibility experts, Denis Boudreau and Caitlin Geier will introduce a set of accessibility-focused heuristics which can help you assess accessibility during the design phase.

In this webinar you will:

- Understand what usability heuristics a

[2018-03-15 21:14] ericwbailey commented on #592
Thanks! You're all set! https://github.com/a11yproject/a11yproject.com/pull/593

[2018-03-15 21:14] #592 closed

[2018-03-15 22:11] scottaohara commented on #503
@sgregson just want to follow up on if this is still something you want to work on?

[2018-04-05 02:24] scottaohara opened #594 "update landmark quick tips"
I'm going to be doing some revisions to the 2013 quick tip Aria Landmark Roles and HTML5 Implicit Mapping article, as some of the information in there is slightly inaccurate due to changes from the last 5 years.

[2018-04-17 17:13] ljgoslin opened #595 "Live Webinar: An Introduction to Screen Readers"
[Join our live webinar on Thursday, May 17th from 1:00-2:00PM EST](https://accessibility.deque.com/live-webinar-introduction-to-screen-readers)
In this webinar, Steve Sawczyn, Solutions Architect at Deque Systems, will demonstrate how he uses a screen reader to navigate the web. In celebration of Global Accessibility Awareness Day (GAAD), this fundamentals-based webinar will provide developers, de

[2018-04-17 17:16] ljgoslin opened #596 "Seattle Meetup: Global Accessibility Awareness Day 2018"
To celebrate Global Accessibility Awareness Day 2018 (http://globalaccessibilityawarenessday.org/), we're coming together as a community to share ideas and get inspired. [Come learn about web accessibility perspectives ](https://www.meetup.com/a11ysea/events/249275750/)and techniques from other Meetup members and make new friends.

We're so excited to see everyone! If your schedule changes closer

[2018-04-18 14:13] ericwbailey commented on #596
All set, thanks! https://github.com/a11yproject/a11yproject.com/pull/597

[2018-04-18 14:13] #596 closed

[2018-04-18 14:13] ericwbailey commented on #595
All set, thanks! https://github.com/a11yproject/a11yproject.com/pull/597

[2018-04-18 14:13] #595 closed

[2018-05-11 20:49] Watso196 commented on #12
Hi all!
I work with ARIA during most days of the week and was wondering if the ARIA states article was still up for grabs? I'd love to contribute to a project that myself and my team of developers could use on a regular basis!

[2018-05-11 20:52] svinkle commented on #12
@Watso196 Awesome idea! It's great when you write something then reference later. It could also be a mini series if you're keen; ARIA roles and properties could also use an article.

Either way, I say go for it! 👍

[2018-05-18 09:45] nellyk opened #599 "Link to W3 site on this page not resolving to correct page https://a11yproject.com/posts/getting-started-aria/"
The links  found on this page are not working and are resolving to an error page.

Roles - http://www.w3.org/TR/wai-aria/roles
States and Properties - http://www.w3.org/TR/wai-aria/states_and_properties

Can i create a pull request to update them to the correct links?

Roles - https://www.w3.org/WAI/PF/aria/roles
States and Properties - https://www.w3.org/WAI/PF/aria/states_and_properties

[2018-05-29 12:05] Martin-Pitt opened #600 "Hover and Active states for any interactive element"
Could we please add `:hover` and `:active` states consistently throughout for all interactive elements?

I was surprised to find that the website hardly features any hover and active states.

I often heavily rely on these visual markers when using a website or application for understanding without a doubt what is navigable.

Additionally the active state often acts as a confirmation. In the rare m

[2018-05-29 12:16] Martin-Pitt commented on #434
I'd like to chime in as a dyslexic myself and things I learned:

Monotonous walls of text are no good for anybody.

*Rich text* is fantastic. That is: Add legibility to paragraphs of copy by sprinkling different font weights (e.g. bold), italics and colour.

Underlines can be bad for legibility – if they do not skip ink (e.g. broken up from glyph descenders), otherwise if used sparingly as part of

[2018-05-29 13:49] ericwbailey commented on #600
Thanks for bringing this to our attention, Martin. I'll jump on this ASAP.

[2018-05-29 13:59] svinkle commented on #600
@Martin-Pitt Thanks for the notice! Would you be interested in writing a post regarding why `:hover`, `:focus`, and `:active` styles are so helpful? It would be a great addition to the site and an interesting read in general. 🙂

[2018-05-30 08:40] OlivierNourry commented on #600
Hi there,
I wrote a short piece on this subject here:
http://accessiblog.fr/2017/11/dont-style-checked-and-focus-states-identically-heres-why/
It doesn’t cover the whole aspects of it, but if you find it’s a useful
addition then I would happily let you reuse its contents for a more
developed article.

Le mer. 30 mai 2018 à 02:23, Eric Bailey <notifications@github.com> a
écrit :

--

[image: --]
Ol

[2018-05-30 16:57] ptrin commented on #599
Checked the issues to see whether anyone had reported this. The system works!

[2018-06-08 17:37] ericwbailey commented on #600
Hi @Martin-Pitt, we merged a potential fix to address the issue. How is it looking to you?

[2018-06-13 19:15] ValorNaram commented on #511
Well, it doesn't seem a problem to me to make it to work without using external software.

You just have to create a folder `lang` in the root of this repo and you place all subfolders with their translated articles inside. Since you have defined a _standard_, linking to them should be not the problem.

Folder structure can be the following:

    ./
    ../
    _data
    _layouts
    _posts
    _s

[2018-06-13 19:46] ValorNaram opened #603 "Article: MYTHBUSTED: Accessibility is just turning off CSS"
The post on https://github.com/a11yproject/a11yproject.com/issues/12 inspired me to write a short article for you to publish on your site.

Note: I am not good at writing articles and this is probably my first one, so I am open for better ones, corrections, additions etc.

You can check out my gist at https://gist.github.com/ValorNaram/161d5afdc5db1212ae81fb3531ab56d2

[2018-06-14 01:43] ajsaucier opened #605 "Accessible <nav> with dropdowns"
[Codepen](https://codepen.io/ajsaucier/pen/OZOQox)

[2018-06-14 01:58] ericwbailey commented on #605
Could you please provide more context for this issue? Is this a pattern you'd like to add to the site? Or something else?

[2018-06-14 02:07] ajsaucier commented on #605
Sure, sorry about that. I read the Contributor Docs wrong.

There's a post idea for "HOWTO: Make an accessible <nav> with dropdowns". This Codepen has an accessible nav that I made and would like to add to the site, if appropriate. I also posted an article about it on my own site, but for a11yproject I'd add to the actual steps for a how-to if you guys think the code and result in the Codepen are

[2018-06-14 02:13] svinkle commented on #511
Would there be a way to set the URL structure as `https://a11yproject.com/de/ueber`?

[2018-06-14 08:53] ValorNaram commented on #511
# First part

Well yes, if you look into this repo you see the file `about.md`, click on it to view its content. You see its content is the same as the content at https://a11yproject.com/about, because its the same resource and the same page. If you edit `about.md` in the repo, you will edit the site on https://a11yproject.com/about too. **This repo is the website at https://a11yproject.com/ itsel

[2018-06-14 12:42] ljgoslin opened #606 "Change is hard, automating web accessibility isn't."
## Learning how to integrate accessibility testing into your existing processes is easier than ever with new features from WorldSpace Attest.

[Join us on July 12th, from 1:30-2:00PM EST](https://accessibility.deque.com/change-is-hard-automating-web-accessibility-isnt), as Noah Mashni, Solutions Architect at Deque, walks you through an introduction to Attest, Deque’s enterprise, automated accessib

[2018-06-14 14:36] scottaohara commented on #605
from what i recall in reviewing the markup prior to the link being taken down, it seemed like you had the following structure:
[code]
which is incorrect as the `menuitem` is meant to be the focusable / actionable element in the sort of pattern you were looking to produce.

If I misremembered your markup, then apologies / never mind :)

[2018-06-14 14:53] ajsaucier commented on #605
You're absolutely correct, thanks. I had them on three of the `<li>`s (not sure how I just skipped the others) but I fixed that. Thank you!

[2018-06-14 17:06] ValorNaram commented on #428
Anything new here? Would like to add Linux/Ubuntu to list/how-to

[2018-06-14 17:58] ValorNaram commented on #603
I updated my gist, please review the updated version and give feedback. In my article I also cover the problem we frontend web developers have with accessibility.

[2018-06-14 18:28] ValorNaram commented on #511
I looked over your code and I see its possible to set navigation and with js it is possible to change language urls with an algorithm, but we have to keep the english urls e.g. https://a11yproject.com/de/about instead of https://a11yproject.com/de/ueber.

I can look at your code and can make a pull request, when I have written language support. But we have to discuss about where to position the la

[2018-06-14 20:34] ValorNaram opened #607 "role 'navigation' set on nav tag"
I took a look over your website code and I saw this

    <nav role="navigation"

The spec https://www.w3.org/TR/html51/sections.html#elementdef-nav tells me not to set role `navigation` on `nav` tags.

Citation:

    Allowed ARIA role attribute values:
        'navigation' role (default - do not set) or presentation.

**Sorry for being so active**

[2018-06-14 20:43] ericwbailey commented on #606
All set, thank  you!

[2018-06-14 20:43] #606 closed

[2018-06-14 20:54] scottaohara commented on #607
Thanks @ValorNaram

You're correct that this should not be needed, and as a general rule to authors, they shouldn't need to add default roles to an element.

Landmarks like `nav`, `main`, and `banner` can be exceptions though, as legacy browsers don't communicate the role information of these HTML elements to screen readers, so adding the default `role` can be beneficial.

I think it'd be useful t

[2018-06-14 20:54] #607 closed

[2018-06-14 21:06] #599 closed

[2018-06-15 12:35] ValorNaram commented on #605
I have written a accessible navigation as part of my _control website via keyboard only_ sub project from project _isl_. My question is: Should I show my code, because @ajsaucier is working on an accessible navigation too and authored this issue. I don't want to fool persons by showing my stuff while knowing there is another, who work on the same thing.

That's why I ask before I show.

[2018-06-15 13:43] svinkle commented on #605
@ajsaucier

By applying BEM style classes you only need to select the class in question for both your CSS and JS. Sure, the structure of a menu is likely not going to change, but who knows down the road. It's good practice to separate these things out.

[2018-06-15 14:59] ajsaucier commented on #605
Okay, I think I updated it correctly(?). I added the BEM in the pattern of the article you linked to, revised the CSS and JS for the selectors and classes added/removed.

[2018-06-15 16:03] scottaohara commented on #605
Hi @ajsaucier
Thanks for the updates.

Looking through this some more though, I've come across a few issues when using it with VoiceOver and JAWS.  Rather than giving you a punch list, I'd suggest referencing [the ARIA menubar pattern](http://w3c.github.io/aria-practices/examples/menubar/menubar-1/menubar-1.html), as this seems to be the pattern/interaction you're looking to produce.

If you have

[2018-06-15 18:16] ajsaucier commented on #605
Oh...wow. That’s really great. Thanks for that link, I’ll be using that in the future. Beats mine by a mile.

[2018-06-15 19:22] scottaohara commented on #605
it depends on what your end goal is, honestly.

that could be a very good example, or it might be wildly inappropriate.  it completely depends on the project and if a navigation should be populated with links, or menu items.

[2018-06-22 13:32] ericwbailey commented on #600
It's been 2 weeks. Closing this issue.

[2018-06-22 13:32] #600 closed

[2018-07-20 08:03] ljgoslin opened #610 "Section 508, WCAG, and Digital Accessibility in the Federal Government: What You Need to Know"
On August 21st from 1:30-2:00PM EST, Karina Boycheva, Web Accessibility Instructional Writer and Designer, and Lora Budzier, Senior Accessibility Consultant, will walk you through what Section 508 compliance really means and how your agency or organization can achieve it.

U.S. federal government entities must comply with the disability accessibility guidelines in Section 508 when creating or purc

[2018-07-20 08:05] ljgoslin opened #611 "Empathy Driven Development"
Accessibility is often forgotten by web developers, even today. [Join us on August 9th, from 1:0-2:00PM EST.](https://accessibility.deque.com/empathy-driven-development)

It’s not a surprise: without a focus on accessibility throughout the web development process, people with disabilities are often left behind. Fortunately, there are techniques and tools that can help kickstart the process. In thi

[2018-07-20 19:01] svinkle commented on #611
Thanks! :)

[2018-07-20 19:01] #611 closed

[2018-07-20 19:05] #610 closed

[2018-07-22 19:04] mbozz opened #613 "Cleveland Accessibility - A11yCLE Brand, Mission, and Vision Meetup"
August 8, 2018

Please join us as Melanie Bozzelli and Kate Penrod lead us through an exercise to develop a brand, mission, and vision for our [Cleveland Accessibility Meetup](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/252287250/). These essential elements will provide the foundation upon which we build our long-term success. [Visit our Meetup link to sign up for this meeting](ht

[2018-07-22 20:14] scottaohara opened #614 "Review posts to update links"
Various articles on the site reference links that have gone stale, or have been upgraded from http to https.

I will be reviewing all files in the _post folder and updating links and pruning links that no longer resolve.

[2018-07-22 21:05] ericwbailey commented on #613
Addressed in https://github.com/a11yproject/a11yproject.com/pull/616

Thank you for your submission and best of luck with the event!

[2018-07-22 21:05] #613 closed

[2018-07-22 22:08] scottaohara opened #617 "Add authors & updaters to all applicable posts"
There are a bunch of posts on the site that do not have authors, or attribution to those who have updated an article, who were not the original author.

We should review previous posts and
1. Note the author (may require reviewing commit history)
2. Note the updater (if different from the original author)

Question:
Should we add a link to an author's name to have a link back to their websites / s

[2018-07-23 14:32] ericwbailey commented on #617
I'm always a fan of attribution, so I'm a fan of this.

I know this balloons the effort involved, but we might want to reach out and confirm with the author/editor if they want that info added.

[2018-07-25 14:49] #614 closed

[2018-07-25 15:18] alexroseb commented on #12
@Watso196 Are you still taking the ARIA states/properties? If not, I'd like to write the article about properties at least then potentially expand to articles about states and roles.

[2018-07-25 15:23] scottaohara commented on #12
I think there's enough there that the work could be split up :)

[2018-07-25 16:22] alexroseb opened #620 "Article: ARIA properties"
I started with a basic list of the properties with categories and descriptions. Idea from #12.
The Gist is at https://gist.github.com/alexroseb/89cc026cc34786160404dcefaa9262e5 - please review and give feedback! I'm not sure how to go from the Gist to getting it on the site.

[2018-07-26 14:36] ericwbailey commented on #620
This is looking great!

Could I trouble you to link each property back to the specification? That way there's always a reference to the canonical documentation, in case things are updated at a later date.

[2018-07-26 19:51] alexroseb commented on #620
@ericwbailey Done!

[2018-07-26 19:55] alexroseb opened #621 "Article: ARIA states"
I wrote a brief introduction to ARIA states, using the same format as #620 and discussed in #12. Feedback greatly appreciated!
Gist: https://gist.github.com/alexroseb/17145ea9233f0c8b5b2b2e20d71a3c15

[2018-07-26 20:19] scottaohara commented on #620
Another bit of feedback, but would you mind creating a different example for your intro?

The example you provided, adding a "label" to a `table` element, can and should be done with the `caption` element, rather than using ARIA.

It'd be good to demonstrate an example of a situation where HTML needs ARIA.  e.g. expressing a pressed or expanded state for a `button` is not something that can be don

[2018-07-27 15:01] alexroseb commented on #620
@scottaohara Oh, very good point - changed to `aria-haspopup` for a button.

[2018-07-29 12:13] mathalete opened #622 "Please add link to Accessibility Scotland 2018"
Hello there.

We're running Accessibility Scotland again this year.

It's on the 9th of November here in Edinburgh.

More information can be found on our website > https://accessibility.scot/

Thanks!

[2018-07-29 13:59] ericwbailey commented on #622
All set, thank you! https://a11yproject.com/events#accessibility-scotland

[2018-07-29 13:59] #622 closed

[2018-07-29 17:16] mathalete commented on #622
Cheers Eric.

[2018-07-29 18:15] ericwbailey commented on #622
Ah, sorry about that. It should be all set now;

[2018-07-30 15:17] #594 closed

[2018-08-05 05:28] svinkle commented on #603
This is quite difficult to read. I would suggest running the content through https://hemingwayapp.com/ as a starting point.

[2018-08-05 05:30] svinkle commented on #617
Wasn't this a recent PR?

[2018-08-05 13:42] scottaohara commented on #617
No, but I spoke to you about it in the context of another PR.

[2018-08-06 02:42] ronsman opened #626 "A11y Camp Melbourne"
A11y Camp is about creating a digital world with no barriers, and is Australia’s largest event for professionals interested in digital accessibility and inclusive design. This year it takes place in Melbourne from 17-19 October 2018, comprising two days of workshops with leading international and Australian accessibility practitioners, plus a one-day conference with two streams of talks on impleme

[2018-08-06 12:14] #626 closed

[2018-08-10 13:42] msapega opened #627 "Including People with Disabilities in Design Webinar on August 30 @12pm EST"
The Paciello Group is hosting a webinar on Including People with Disabilities in Design on August 30 at 12pm EST. In this webinar, David Swallow, an Accessibility Engineer at The Paciello Group, will explore how to include people with disabilities in user-centered design. Drawing on academic research as well as real-world experiences, David will examine different approaches for ensuring people wit

[2018-08-10 17:07] #627 closed

[2018-08-11 16:39] ptrin opened #628 "Question: Is the order of the categories intentional?"
Hi,

The order of categories in the navigation and on the homepage is:

**Categories**

- How-tos
- Myths
- Quick tests
- Quick tips
- Assistive technology
- Basics

Is there a reason for this order? Should we consider starting with Basics for people who are new to accessibility?

[2018-08-13 13:37] jeryj commented on #628
The original intention (right or wrong) of the homepage was to have a dev or designer be able to learn something they could put into practice within the first minute of being on the site. I think the Basics section would be a better fit for getting someone in for the long haul of learning web accessibility, and Quick Tips and How-Tos would be better for getting someone to implement _something_ and

[2018-08-14 02:33] ericwbailey commented on #628
Ah, that makes sense! I don't think we'd be risking breaking too much if we renamed, considering the URLs for that section are `/posts/`.

[2018-08-14 03:11] svinkle commented on #628
Reading over the topics of what's under this section, I feel like these posts are more "advanced" or a "deep-dive" into a very specific topic. I'm on board with a rename as I wouldn't consider these "basic" concepts.

[2018-08-14 03:33] scottaohara commented on #628
Yeh, looking at each, i'm in the middle.  they're more intermediate topics, but I don't think i'd call them that?  Each is more than a quick tip, but none of them provide a full narrative on the topic.

[2018-08-18 21:17] missmatsuko opened #629 "Add a style guide for content"
I think it would be helpful to have a style guide for content contributions to keep content nice and consistent.

I noticed that color/colour is spelled different ways on the website, and even within the same article:
https://a11yproject.com/posts/understanding-colourblindness/

I also read this comment on a PR that mentions some conventions that I couldn't find formally recorded in a single file:

[2018-08-18 21:49] missmatsuko opened #630 "Question: What does the 'Estimated Time' in Quick Test articles even mean?"
I think it's supposed to be the time it takes to run the tests in the article, but wouldn't that be entirely dependant on the size of the site that's being tested? For example a short one-page landing page would take a lot less time to test than a 100+ page corporate website.

I also thought maybe it's the time it takes to read through the article and its references, but then why isn't that on all

[2018-08-18 22:02] missmatsuko opened #631 "Inaccuracy: Quick Test: Navigate using just your keyboard"
https://a11yproject.com/posts/navigate-using-just-your-keyboard/

- As with other Quick Tests, I have no idea what 'Estimated Time' means (issue #630). Furthermore the amount of time to run this test would entirely depend on how much content there is to go through and how interactive it is. 5 seconds of tabbing is probably enough to go through a small amount of content.
- Step 1, "Un-plug/turn off

[2018-08-19 04:01] missmatsuko commented on #631
Made a gist here for review/feedback:
https://gist.github.com/missmatsuko/7548490d2fe040cc4fd0309b708fcfc3

[2018-08-20 14:50] ericwbailey commented on #629
I also think this is a good idea, thank you! If you get an initial PR ready, say a Markdown file in the repo's root, we can have a discussion about it there.

[2018-08-20 14:59] ericwbailey opened #633 "Allow other options for Follow"
It seems like a lot of the a11y community is migrating away from Twitter, or at least testing out other options like Mastodon.

It might be worth updating the Follow page to indicate their preferred form of social media.

[2018-08-20 15:04] KharVarsha commented on #633
Thanks for your message.
Will check it tomorrow.

On Mon 20 Aug, 2018, 8:29 PM Eric Bailey, <notifications@github.com> wrote:

[2018-08-20 15:09] scottaohara commented on #631
I think this is a good start on revising this article to make it more informative.

In how to navigate a site with keyboard, when talking about macOS defaults for tabbing, it probably makes sense to link to the post you mentioned in this issue (https://a11yproject.com/posts/safari-keyboard-navigation/)

I have a couple of other small comments, but probably it'd be great if you wanted to revise the

[2018-08-20 15:14] #630 closed

[2018-08-20 20:04] missmatsuko commented on #631
Cool, I can make a PR later today with the added link.

As an aside, I thought that issues were used for discussions based on this part of the contrib: https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#plain-text-workflow-for-article-submission

Is that still accurate?

[2018-08-20 20:46] ericwbailey commented on #631
This was written before Github rolled our better review tools. Might be worth revisiting this, too.

[2018-08-20 21:05] ericwbailey commented on #628
Closed via #634

[2018-08-20 21:05] #628 closed

[2018-08-20 21:34] ericwbailey commented on #617
Asked for permission for some people whose contact info they made available. I figure I'll start adding it in if I get replies.

[2018-08-20 22:11] missmatsuko commented on #631
Ah, that makes sense. I thought it was to reduce the number of commits added to include one new article or something.

[2018-08-21 01:26] missmatsuko opened #636 "Update CONTRIBUTING.md"
- [Set up Locally](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#set-up-locally) instructions differ from [Local Development](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/README.md#local-development) instructions in the README. I think the README's instructions are more up-to-date, but I haven't tried either yet.
- Update processes involving Gists and

[2018-08-21 13:53] ericwbailey commented on #629
Yeah. I think it'd be better to point to CONTENT_STYLE_GUIDE.md from CONTRIBUTING.md. I'd prefer to segment it into "here's how to behave when you want to work with us," and "here's what to know when you write for us." It'd also make for a shorter contributing doc, which I think would help people actually reading it!

As for the guide, I think that's a great starting point! I'm also a big fan of [

[2018-08-21 13:55] ericwbailey commented on #636
I'm working on this as we speak 🙂

[2018-08-22 14:00] ericwbailey commented on #633
Closing this because I realize we sort of allow this with an arbitrary URL. If and when we redesign it might be good to include a little service icon.

[2018-08-22 14:00] #633 closed

[2018-08-23 00:01] ericwbailey commented on #617
Here's the first pass: https://github.com/a11yproject/a11yproject.com/pull/638

[2018-08-23 15:17] ljgoslin opened #639 "Intro to Talkback and Android Accessibility"
**[September 18th, 1:00pm - 2:00pm EST](https://accessibility.deque.com/intro-to-talkback-and-native-android-accessibility)**

Our Mobile Developer and A11y Expert, Chris McMeeking, will walk you through how to navigate and test for accessibility with Talkback.

Chris has 5+ years of mobile application development experience and has worked with the Android Open Source Project. Currently, he is the

[2018-08-23 15:52] ericwbailey commented on #639
Closed via https://github.com/a11yproject/a11yproject.com/commit/2f4595e0cf0f0a8352bf4981812c735836fe03e4.

[2018-08-23 15:52] #639 closed

[2018-08-24 13:14] ericwbailey commented on #631
Addressed in https://github.com/a11yproject/a11yproject.com/pull/635

`CONTRIBUTING.MD` issues will be addressed shortly.

[2018-08-24 13:14] #631 closed

[2018-09-04 21:51] #617 closed

[2018-09-12 14:45] msapega opened #644 "What you need to know about WCAG 2.1 webinar"
Date: September 26
Time: 12pm EST

In this 30-minute webinar, Léonie Watson from The Paciello Group will look at the business case for adopting the Web Content Accessibility Guidelines (WCAG) 2.1. In this compact briefing, she will consider the following key questions:

What are the differences between WCAG 2.0 and WCAG 2.1?
What are the legal considerations of adopting WCAG 2.1?
What are the bene

[2018-09-12 18:01] ericwbailey commented on #644
Closed via https://github.com/a11yproject/a11yproject.com/commit/584c47b8a0e1e7c80e552764a2ced098e8abaa81

[2018-09-12 18:01] #644 closed

[2018-09-12 19:10] ericwbailey commented on #620
Closed via https://github.com/a11yproject/a11yproject.com/pull/623

[2018-09-12 19:10] #620 closed

[2018-09-21 19:44] ericwbailey commented on #636
Closed via https://github.com/a11yproject/a11yproject.com/pull/640

[2018-09-21 19:44] #636 closed

[2018-09-21 19:44] ericwbailey commented on #629
Closed via https://github.com/a11yproject/a11yproject.com/pull/640

[2018-09-21 19:44] #629 closed

[2018-09-24 14:11] #621 closed

[2018-10-02 03:29] RyanAaronGreen opened #647 "Projects & the Future of a11yproject.com"
Hey all!

Just wanted to suggest to the maintainers about maybe coming up with a projects tab or some more `help-wanted` posts to help keep people like me knowing how I can best be helping keep this project fresh. I'd love to hear the maintainers thoughts about where they want a11yproject.com to go and if there are any milestones that we can fight to reach as a community.

**Note:** I know that th

[2018-10-08 19:42] ljgoslin opened #648 "Applying Accessibility Heuristics to a Wireframe: Part 1"
[Join part one of our live webinar](https://accessibility.deque.com/applying-accessibility-heuristics-to-a-wireframe) as our experts apply three accessibility heuristics to an example wireframe.

Join Denis Boudreau and Aparna Pasi, two of our UX accessibility experts for a live webinar on November 8th at 1PM EST. They will walk you through the fundamentals of a design review process for accessibi

[2018-10-08 20:07] ericwbailey commented on #648
Closed via https://github.com/a11yproject/a11yproject.com/issues/648

[2018-10-08 20:07] #648 closed

[2018-10-08 20:11] alexroseb commented on #647
I'm in a similar position! I'd love to do more work on this, whatever is as helpful as possible.

[2018-10-22 11:58] svinkle commented on #647
Hey @RyanAaronGreen and @alexroseb! Thanks for reaching out.

The list of post ideas in #12 is always a good place to start. Also, if you see events being announced in the community, feel free to add to [_data/events.yml](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_data/events.yml).

Or, if you have an idea and there's something specific you'd like to contribute, feel free to [cr

[2018-10-24 08:04] nuriapenya opened #652 "Munich Accessibility Meetup"
Hey there!

We just organised an **Accessibility Meetup group here in Munich**. The idea is to provide a welcoming place for people to learn, share experiences, ideas and best practices, and to collaborate on building a more inclusive web.

Here's the link to the group: https://www.meetup.com/Munich-Accessibility-Meetup/

And this is going to be our first event: https://www.meetup.com/Munich-Acces

[2018-10-24 14:06] ericwbailey commented on #652
Closed via https://github.com/a11yproject/a11yproject.com/pull/653

Thanks for adding the event to the site, it looks like it'll be a lot of fun! Congratulations, and best of luck for your inaugural event 🎉

[2018-10-24 14:06] #652 closed

[2018-10-30 21:34] ljgoslin opened #656 "Applying Accessibility Heuristics to a Wireframe: Part 2"
[Join part two of our live webinar](https://accessibility.deque.com/applying-accessibility-heuristics-to-a-wireframe-0) as our experts apply four accessibility heuristics to an example wireframe.

Join Denis Boudreau and Aparna Pasi, two of our UX accessibility experts for a live webinar on **Tuesday, November 20th at 1PM EST**. They will walk you through the fundamentals of a design review proces

[2018-10-31 01:49] ericwbailey commented on #656
All set! https://a11yproject.com/events#applying-accessibility-heuristics-to-a-wireframe3a-part-2

[2018-10-31 01:49] #656 closed

[2018-10-31 18:22] ljgoslin opened #657 "Automated Accessibility Testing with Attest for Android"
This webinar is intended to teach developers how they can now trial Attest for Android for free and utilize the limited functionality framework in their own build. Our mobile accessibility expert, Chris McMeeking, will demonstrate how developers will now be able to trial Attest for Android simulator right on their desktops without having to request a demo.

[Join this webinar](https://accessibilit

[2018-10-31 20:41] ericwbailey commented on #657
Closed via https://github.com/a11yproject/a11yproject.com/commit/dc7f5ea65b1d0998f95be45b7aa152dab71fb5ab

[2018-10-31 20:41] #657 closed

[2018-11-12 17:48] SeanMcP opened #658 "Bug: Incorrect HTML comment for checklist"
https://github.com/a11yproject/a11yproject.com/blob/7fdb41ba8febf310d1674b3b2db90ee0db5be1da/checklist.html#L112

This is minor, but the comment on line 112 should read ``.

[2018-11-12 18:17] #658 closed

[2018-11-12 18:17] scottaohara commented on #658
thx

[2018-11-14 20:41] ljgoslin opened #659 "Accessibility and Compliance: Current Legal Landscape"
[Join part one of our live webinar series on accessibility and compliance](https://accessibility.deque.com/accessibility-and-compliance-current-legal-landscape).
**November 27th, 1:00-2:00PM EST**

**Teresa L. Jakubowski**, partner at Barnes & Thornburg LLP, will discuss the current litigation landscape for website accessibility. Teresa chairs the firm’s Accessibility and Disability Law Practice.

[2018-11-14 21:17] ericwbailey commented on #659
Closed via https://github.com/a11yproject/a11yproject.com/commit/a3e899b3a2aaafc6a6aef9bad556c4634a0209d4.

[2018-11-14 21:17] #659 closed

[2018-11-16 17:06] alexroseb commented on #647
@svinkle The main problem with #12 is that quite a few of those articles have been written but the post hasn't been updated. Also, there are a whole bunch of comments going back many years. Perhaps a place to start would be creating a new issue that clears the slate and only includes posts that haven't been written? I think that would help reduce the barrier to entry for others.
I'll keep brainsto

[2018-11-16 19:37] ericwbailey commented on #647
Seems in poor taste to close that issue and hide the historical record.

[2018-11-16 21:58] RyanAaronGreen commented on #647
I agree - I don't think we'd want to be rid of it.

My initial post was initially looking for some conversation on some of the higher level ideas of where the maintainers of a11yproject wanted to go. I was hoping to have more discussion on some goals for maybe the those interested in pushing things forward to focus on for the future.

**Things such as the following:**
- We'd love the site to have

[2018-11-16 23:09] davatron5000 commented on #647
👋 Feel free to close #12. Or maybe se could even break up some of the most-wanted articles into `good-first-issue` (https://github.com/bnb/good-first-issue) type issues.

[2018-11-17 00:05] scottaohara opened #660 "Article Audit: "Getting started with ARIA""
The article [Getting started with ARIA](https://a11yproject.com/posts/getting-started-aria/) was originally written back in 2014.

As time has gone on and specifications have been updated, this article could use an audit to ensure it is providing up to date information.

For instance, the final code snippet about Tab Widgets is invalid under the current accepted pattern for `tablist`s.  Example:`l

[2018-11-17 22:17] ericwbailey commented on #647
Thanks, @scottaohara!

And that'd be great, @alexroseb!

@RyanAaronGreen: Those suggestions also sound really cool. We actually just started undertaking a visual refresh with @tatianamac, so hopefully that'll help drum up some more interest. Right now we're thinking a documented living styleguide would be a great way to demonstrate how to build attractive and accessible UI. If that's something you

[2018-11-18 16:16] alexroseb opened #663 "Create YouTube series on testing for a11y"
As discussed in #647, I'd like to start some informational YouTube videos that can appear on a11yproject.com and be fall under this umbrella. I'm proposing that the first series address how to test a website for accessibility.
I'm imagining each video being only a few minutes long and composed of a screencast and voiceover to describe what I'm doing. Of course, I'd include captions as well as a tr

[2018-11-19 16:55] svinkle commented on #647
![Captain Picard: "Make it so."](https://media.giphy.com/media/bKnEnd65zqxfq/giphy.gif)

[2018-11-19 16:57] svinkle commented on #663
@alexroseb This sounds pretty great! I'd suggest making some videos and adding to your YouTube channel in order for us to review. That would be a good start.

[2018-11-19 23:47] ljgoslin opened #664 "Applying Accessibility Heuristics to a Wireframe: Part 3"
[Join part three of our final UX heuristics webinar](https://accessibility.deque.com/applying-accessibility-heuristics-to-a-wireframe-part-3), as our experts apply three accessibility heuristics to an example wireframe.

Join Denis Boudreau and Aparna Pasi, two of our UX accessibility experts for a live webinar on **Thursday, December 6th at 1PM EST**. They will walk you through the fundamentals o

[2018-11-20 00:36] ljgoslin opened #665 "Virtual Panel: Inclusion and equality for people with disabilities in education and employment"
To commemorate International Persons with Disabilities Day, our panelists will discuss the experiences they've had in academic institutions and while seeking employment.

This webinar is intended to create awareness common barriers, opportunities, or resources for people with disabilities encounter at academic institutions or while seeking employment. This panel is a great introduction for people

[2018-11-20 01:07] ericwbailey commented on #665
Closed via https://github.com/a11yproject/a11yproject.com/commit/8ccadd0a494139667ec666ea25367e5625e96978.

[2018-11-20 01:07] #665 closed

[2018-11-20 01:08] ericwbailey commented on #664
Closed via https://github.com/a11yproject/a11yproject.com/commit/8ccadd0a494139667ec666ea25367e5625e96978.

[2018-11-20 01:08] #664 closed

[2018-11-21 12:53] hexproductionsben opened #667 "A11y Nottingham Event - 10/12/2018"
Do you want to learn how to make what you’re creating accessible and/or just keen to network with other like-minded people looking to make a difference to users with different abilities?

We will predominantly be covering digital topics to gain as much insight into the technology that is assisting people every day. This will include hints and tips on website accessibility from organisers, HeX Prod

[2018-11-21 17:08] ericwbailey commented on #667
@hexproductionsben Do you have a URL for the event? I'll use your Twitter if not.

[2018-11-22 15:21] scottaohara opened #668 "Create Issue Templates"
In an effort to request topic ideas from the community, we should create an issue template that would help call out their participation.

Ideas for the new article template:

* Topic idea
* Problems you (the person filing the issue) have faced concerning this topic.
* Are you posting this as a means to look for help on the topic or do you have a method you've developed/tested to solve the issue/to

[2018-11-22 16:33] scottaohara opened #669 "Review A11y Project's hosted content"
In an effort to ensure that The A11y Project's content is up-to-date, each hosted resource on the site should be reviewed to ensure code patterns are still relevant, links continue to work, and techniques are referencing the latest best practices.

If an article has been identified as needing an update, a new issue should be created and logged under the [Content Updates for 2019 Milestone](https:/

[2018-11-22 16:59] scottaohara commented on #669
Issue #660 was created to update Getting started with ARIA

Using Placeholder attributes was reviewed and updated in July.

ARIA Landmark roles and HTML5 implicit mapping was reviewed and updated in July.

[2018-11-22 18:20] scottaohara opened #670 "Article Audit: ARIA States & Properties"
While reviewing the ARIA States and Properties articles, I noticed that the linked resource of the different attributes doesn't match the ARIA 1.1 specification, which lists more attributes.  For instance, `aria-modal` and `aria-details` are missing from the linked resource (and the properties article), but are present in the published ARIA 1.1 spec.

These articles should be reviewed to make sure

[2018-11-23 03:50] ericwbailey commented on #668
I like this idea. How do you feel about the issue template pointing to sub-templates for these concerns? I'm thinking each sub-template could also point to the relevant section in [`CONTRIBUTING.md`](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md), to help people self-serve.

We do have [an example post](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_po

[2018-11-23 03:54] ericwbailey commented on #669
Big-picture question: do we want to host technical content that is liable to become quickly outdated? I think some technical content is evergreen in nature, but certain topics could become out of date—and therefore bad advice—potentially in a few month's time. In particular, I'm thinking of things like ARIA support tables, where we'd have to ensure they were always inline with the state of the spe

[2018-11-23 04:02] #667 closed

[2018-11-23 04:03] ericwbailey commented on #667
Thanks, Ben! All set: https://github.com/a11yproject/a11yproject.com/pull/671.

[2018-11-23 04:31] ericwbailey commented on #582
Closing this issue for inactivity, thank you to everyone for their contributions. We'll be replatforming soon, so hopefully this will help address the RSS issue.

[2018-11-23 04:31] #582 closed

[2018-11-23 04:33] ericwbailey commented on #428
Closing this issue for inactivity, thank you to everyone for their contributions. Please feel free to re-open the issue if you would like to see the article published.

[2018-11-23 04:33] #428 closed

[2018-11-23 04:33] ericwbailey commented on #434
Closing this issue for inactivity, thank you to everyone for their contributions. Please feel free to re-open the issue if you would like to see the article published.

[2018-11-23 04:33] #434 closed

[2018-11-23 04:35] ericwbailey commented on #511
Are there options for translation we should be investigating as a criteria for the replatforming?

[2018-11-23 04:37] ericwbailey commented on #531
Closing this issue for inactivity, thank you to everyone for their contributions. Please feel free to re-open the issue if you would like to continue working on this feature.

[2018-11-23 04:37] #531 closed

[2018-11-23 04:55] ericwbailey opened #672 "Skipped heading levels on article pages"
"Related Posts" and "Join us on GitHub" are `h3`s. They should be updated to use `h2`s to ensure heading levels aren't skipped on article pages.

While we're at it, we should update "Related Posts" to adhere to our new styleguide and lowercase "posts".

[2018-11-23 14:18] scottaohara commented on #669
I was thinking on similar lines yesterday.

But I think if we keep articles focused to provide high level understanding, with some technical bits, we can then link off to resources to provide deeper-level technical instructions. That way we can walk the line of providing useful content for a wider audience (high level knowledge with some design, ux, and dev bits to allow for everyone to get some u

[2018-11-23 15:53] ericwbailey commented on #669
I like that. I think we should also specifically name it in [`CONTRIBUTING.md`](https://github.com/a11yproject/a11yproject.com/issues/668) and/or the [proposed article issue template](https://github.com/a11yproject/a11yproject.com/issues/668). It'll help prevent people from taking the time and effort of writing these kinds of things.

[2018-11-23 16:44] ericwbailey commented on #668
Yeah. I don't think GitHub allows you to select from a range of issue templates, but what we could do is provide a list that points to other Markdown documents. So sorta like:

- Link to issue template for writing articles
- Link to issue template for site issues
- Link to issue template for feature requests
- etc.

With each doc having FAQs, pointing to relevant content areas, and the like.

[2018-11-23 17:29] nschonni commented on #668
Yup, you can now https://help.github.com/articles/creating-issue-templates-for-your-repository/

https://help.github.com/articles/using-templates-to-encourage-high-quality-issues-and-pull-requests-in-your-repository/ talks about the various types of templates that are supported

[2018-11-23 20:26] scottaohara opened #674 "Article Audit: NVDA + VoiceOver articles"
In reviewing the NVDA and VoiceOver articles for #669, there are some updates I think would be good to create a level of consistency between the two, as well as to provide a template to follow for future articles for JAWS and mobile screen readers.

The NVDA article (2015) is largely good as is, but adding in additional links to more in-depth usage articles/resources would be good here.

The Voice

[2018-11-24 05:44] ericwbailey commented on #669
@emilane, pinging you, since you did some really great writing work recently. I know it's the holiday season, but if you have some time, we'd really appreciate your talents here!

[2018-11-24 15:27] scottaohara opened #678 "Article Audit: Using alt text properly"
Taking on the task to review/update [Using alt text properly](https://a11yproject.com/posts/alt-text/), per #669.

[2018-11-24 17:47] scottaohara opened #680 "Article Audit: Safari Keyboard navigation"
The quick tip [Safari keyboard navigation](https://a11yproject.com/posts/safari-keyboard-navigation/) is a tip that is useful beyond just using a keyboard with Safari.

I will be adding minor updates (per #669) to this article to indicate this fact.

[2018-11-24 19:26] scottaohara opened #683 "Design: Update focus styles"
While we've begun the process of a site redesign for 2019, presently the focus indicators for the A11y Project website are the system defaults and not always the easiest to see.

If someone would like to take a stab at updating the focus styles for the current design, that'd be very much appreciated :)

![the current focus indicator around the CTA link on the home page. Barely noticable.](https://

[2018-11-24 19:31] petetalksweb opened #684 "Inaccuracy: Sentence case in md files"
The style guide calls for the use of sentence case in headings, but many of the markdown files (README.md, CONTRIBUTING.md, etc.) do not follow this pattern.

It is far from a big deal but does seem inconsistent.

Would you all be open to a pull request to address this?

[2018-11-24 19:34] ericwbailey commented on #684
Very much so! We recently added our content styleguide, so updating the site's content was a longer-term goal.

Please make sure to check https://github.com/a11yproject/a11yproject.com/issues/669 and the [Article Audit](https://github.com/a11yproject/a11yproject.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22Article+Audit%22) tag to make sure there's no overlapping efforts.

[2018-11-24 19:40] scottaohara opened #685 "Unannounced list semantics in VoiceOver"
Per the [VoiceOver and list-style-type: none](https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/) bug, the listing of content on the home page (and likely other areas of The A11y Project site) do not convey list semantics to VoiceOver due to their styling.

Modifying the site's CSS to account for this bug will allow the intended semantics to be conveyed by VoiceOver.

Hi

[2018-11-24 22:29] petetalksweb commented on #683
Is there documentation anywhere about the redesign? Or is it still in process?

[2018-11-24 22:32] ericwbailey commented on #683
It's still very much in the "very early in the process" phase 🙂

[2018-11-24 23:00] davidluhr commented on #683
I'd love to help out with this! Happy to put together a PR for the current website, as well as the redesigned site (if the color palette is changing).

I've always really admired the focus styles found in IBM's Carbon Design System buttons: https://www.carbondesignsystem.com/components/button/code

I'd recommend setting an explicit focus indicator with an `outline` that matches the color of the bu

[2018-11-24 23:14] scottaohara commented on #683
Hey @davidluhr

If you got something in mind you want to try out for the current site, go ahead and create a PR for us to review.

Thanks

[2018-11-25 03:00] davidluhr commented on #683
@scottaohara I have changes ready to open a PR for feedback, but it appears I do not have permissions to push to the repo. I didn't find instructions regarding permissions in `CONTRIBUTING.md`; is there something I need to do on my end? Thank you!

[2018-11-25 15:07] KempfCreative commented on #683
@davidluhr generally you want to fork the project, then issue a PR from your fork to this repo.

See more detailed instructions here: [https://help.github.com/articles/fork-a-repo/](https://help.github.com/articles/fork-a-repo/) and this [SO answer](https://stackoverflow.com/a/4384824)

[2018-11-25 17:31] scottaohara commented on #683
Thanks for responding @KempfCreative.

@davidluhr let us know if you have any other questions.  Looking forward to the PR.

[2018-11-25 17:52] #685 closed

[2018-11-26 00:07] davidluhr commented on #683
@scottaohara I have a PR open now for feedback. Let me know if there is anything else I can provide.

Sorry for the extra PR (688) that I closed. I had an odd situation where my feature branch wasn't detecting a diff with `gh-pages`, even though the code was different, thereby preventing me from rebasing/updating as needed. I fixed up the branch and now everything looks good in 689.

[2018-11-26 14:30] emilane commented on #669
Thanks for looping me in! Looks like a great way to spend a slow Monday :)

[2018-11-26 20:57] ljgoslin opened #690 "Inspirational stories of strength building and sustainable lifestyles for people with disabilities"
To commemorate International Persons with Disabilities Day, Deque is proud to partner with Adaptive Training Foundation and their athletes for this virtual panel.

[Join us on Monday, December 3rd, from 2:00PM-3:00PM EST](https://accessibility.deque.com/inspirational-stories-people-with-disabilities)

The theme for this year's International Persons With Disabilities Day (IDPD) is "Empowering perso

[2018-11-26 20:58] ljgoslin opened #691 "Accessibility and Compliance: How to measure digital accessibility"
Join part two of our live webinar series on accessibility and compliance.

[Join us on December 11th, 1:00-2:00PM EST
](https://accessibility.deque.com/accessibility-and-compliance-how-to-measure-digital-accessibility)
**Glenda Sims**, Director of Consulting at Deque Systems, will discuss how organizations can measure accessibility via the Web Content Accessibility Guidelines (WCAG) 2.0 A & AA in

[2018-11-26 23:53] ericwbailey commented on #690
@ljgoslin: Is this event in addition to [the other webinar](https://a11yproject.com/events#virtual-panel3a-inclusion-and-equality-for-people-with-disabilities-in-education-and-employment) hosted on the 3rd?

[2018-11-26 23:55] ericwbailey commented on #691
Closed via https://github.com/a11yproject/a11yproject.com/commit/129643fb993338f18c8c080db0f775ae85bea1a3.

[2018-11-26 23:55] #691 closed

[2018-11-27 02:59] #680 closed

[2018-11-27 03:00] #678 closed

[2018-11-27 13:35] ljgoslin commented on #690
Correct, thanks!

On Mon, Nov 26, 2018 at 6:53 PM Eric Bailey <notifications@github.com>
wrote:

--

Laura Goslin | Event Manager & Marketing Assistant | 989-600-5826

Deque Systems - Accessibility for Good

deque.com

[2018-11-27 16:46] ericwbailey commented on #690
Great, thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/06b3e3296461a0fd835b9b303af55f5ebc5a0f1e.

[2018-11-27 16:46] #690 closed

[2018-11-30 11:58] deconspray opened #693 "Digital Accessibility Lighting Talks"
The Chicago Digital Accessibility and Inclusive Design meetup presents a Lightning Talk event on Tuesday, December 11th at 6pm CT. If in the Chicago area, attend by RSVPing at https://www.meetup.com/a11ychi/events/256749111/

For all others, a live stream will be available with live captions (separately): https://www.youtube.com/watch?v=mQbPiv0dAZk

[2018-11-30 13:04] #693 closed

[2018-12-02 03:38] petetalksweb opened #697 "Different names for further reading section in different posts"
A lot of posts on the site have some kind of "Further reading" section... but they aren't all called that. I've seen:
- [Further reading](https://a11yproject.com/posts/myth-screen-readers-dont-use-javascript/#further-reading)
- [Additional reading](https://a11yproject.com/posts/understanding-vestibular-disorders/#additional-reading)
- [Additional references](https://a11yproject.com/posts/aria-land

[2018-12-02 03:58] scottaohara commented on #697
Please!  I think this is a great idea.

I'm good with "Further reading" as the heading to the listing of links.  The only con I see to that is if someone wants to link to a GitHub page or something that isn't really an article / more information.

Also, I really want to make sure the site is consistent with how the further reading links are marked up.  For instance...
Title of resource (link). Dat

[2018-12-02 04:11] petetalksweb commented on #697
and those definitely

There are a couple of articles that have something like an "Available tools" section or something similar, that link to GitHub projects/examples/etc. and those can/should definitely still stay in custom lists to give a reader more context.

I'm just talking about the large number of posts that exclusively provide links to other articles.

Title of resource (link). Date publis

[2018-12-02 05:44] scottaohara commented on #697
Yeh, I see your point about the ordering of the information.  Personally, I am more concerned with publish date than source. Since reputable sources can host stale content, I'd want that date out front.  But I'm not going to argue further than this on that subject.

Otherwise, I think the rest of this makes sense and would definitely help in the consistency / clean up efforts.

@ericwbailey though

[2018-12-02 17:31] ericwbailey commented on #697
This is great, thank you @petetalksweb! And +1 to using "Further reading".

Personally, I prefer the `title as a link` by `source name` on `date published` pattern. My thinking is info on an authoritative source will probably still be relevant, so it'd take priority.

But to both of your points, I think consistency is key, whatever form it ultimately takes.

[2018-12-02 18:18] petetalksweb commented on #697
Cool!

I'll work on a PR for this. Probably have it done sometime later this week.

[2018-12-05 02:23] motchie opened #700 "Localized websites in another URL?"
All,

I'm in the Japanese Community of Web A11y, and deeply impressed about community efforts for https://a11yproject.com/ make more better place.

Last day, I'm discussed in the Japanese a11y community about making web sites for a11y beginners, which consist of know-how about web a11y and Japanese-specific a11y contents.

Is it possible that we'll translate whole https://a11yproject.com/ and serv

[2018-12-05 15:19] ericwbailey commented on #700
A FQDNS sounds interesting, I hadn't thought of that.

Big-picture, I think localizing the site in as many languages as possible is great. Google translate only takes you so far, especially when it comes to technical content. My main concern would be maintaining content parity. We're currently performing [an article audit](https://github.com/a11yproject/a11yproject.com/milestone/3), so a lot of ou

[2018-12-06 03:52] RyanAaronGreen commented on #670
I've gone ahead and looked these two articles over! I've added a few of the new properties and updated all links to the documentation. (#702)

[2018-12-06 04:12] RyanAaronGreen commented on #503
Hey @scottaohara! Just wanted to round back on this, it looks like you've marked this as complete in #669 (at least checked). Do we still need someone to make this update?

[2018-12-06 04:49] scottaohara commented on #503
Hi @RyanAaronGreen
The checklist is to indicate that an audit was performed, but not that work was necessarily completed.  e.g. there are items checked off that now have, or in the case of this article, already had issues opened for them to update.  [See my next comment in 669](https://github.com/a11yproject/a11yproject.com/issues/669#issuecomment-441085121)

With that said, if you'd like to take

[2018-12-07 13:14] motchie commented on #700
@ericwbailey Thank you for yorr positive comment!
I'll inform you when site launched!

[2018-12-07 20:22] Sidhe-is-me opened #703 "Subscribe link is not working"
Please review our Contributing guidelines:
https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#reporting-issues

## Summary

### Expected result

### Actual result

### Additional Information

### Additional Information
Note anything else you think would be important to know that didn't fall into an above category.
<img width="1022" alt="subscribe link" src="https://user-i

[2018-12-07 20:53] scottaohara commented on #703
Thanks @Sidhe-is-me

Additional notes:
Firefox on macOS loads a screen with a subscribe button at the top.  Safari 12 produced a screen like the one in the provided screen shot.

[2018-12-07 21:11] alexroseb commented on #703
I can look into this!

[2018-12-07 21:19] alexroseb commented on #703
The easiest way to do this is to create a FeedBurner since some browsers (like Chrome) don't display RSS feeds correctly unless you have a plugin installed.
I created one with the URL http://feeds.feedburner.com/A11yProject and will replace the "Subscribe" link with the new one.

[2018-12-07 21:41] alexroseb commented on #703
OK, so there really aren't any good sites on our end to display the feed in a better way - it's mostly dependent on the user having a reader plugin of some kind installed or them copying the link into an external reader.
I'd suggest either changing the text to "RSS Feed" and/or adding a short statement explaining that the URL is just the feed, not a prettified view. @scottaohara, thoughts? @Sidhe-

[2018-12-07 22:02] Sidhe-is-me commented on #703
I would consider changing the wordage to rss feed from subscribe. I think
that would make it more clear.

On Fri, Dec 7, 2018, 4:41 PM Alex Brenon <notifications@github.com> wrote:

[2018-12-07 22:55] scottaohara commented on #703
Yup, i'm good with that solution.

[2018-12-07 23:10] alexroseb commented on #703
Fantastic, I’ll open a branch and PR.

[2018-12-08 00:59] #703 closed

[2018-12-09 17:50] #697 closed

[2018-12-09 19:44] petetalksweb opened #707 "Change "Who to follow" page to Twitter lists"
The "Who to follow" page seems a little unruly. I think it might be better to change it to a [Twitter list](https://help.twitter.com/en/using-twitter/twitter-lists) maintained by the [A11y Project Twitter account](https://twitter.com/A11YProject) or separate Twitter lists for people, companies, and Meetups.

This would have the added benefit of allowing users to follow/unfollow the whole list at o

[2018-12-09 19:50] scottaohara commented on #707
I don't disagree with this.

For context, the list was largely a port of [Joe Watkin's top people to follow in web accessibility](https://github.com/joe-watkins/top-people-to-follow-in-web-accessibility).

That list has also continued to receive updates that haven't flowed through to here.

I think we should noodle on this some more, as I agree with you that there's probably a more efficient way t

[2018-12-10 03:40] petetalksweb commented on #707
If the list is mostly a port of this other repo, should we just link to it?

Have the page just be 3 sections:
- Follow the official A11y Project twitter, and link to the RSS feed for the site
- List out the author info from authors.yml to encourage readers to follow them on the link they provide in authors.yml
- Say something like "for more great content checkout..." and link to the Joe Watkin's

[2018-12-10 04:02] scottaohara commented on #707
I think this makes sense / like the proposal, but want others to weigh in on the idea.

[2018-12-10 15:05] ericwbailey commented on #707
Yeah, this sounds like a more pragmatic solution. To me, the cons to this approach would be hiding the larger community behind a link we hope people click, but listing the authors might help with that.

Another thing I've been discussing for the [upcoming redesign](https://github.com/a11yproject/a11yproject.com/milestone/4) is a way to put a more human face on the project. I'd love to have a month

[2018-12-12 03:19] scottaohara opened #710 "Article Audit: How-to: Use title attributes"
Largely this article is in good shape, but could use a few additions / rewording.

Assigning to myself as I have a bit of history writing about this topic...

[2018-12-12 03:40] scottaohara opened #711 "Article Audit: How-to: Create accessible data tables"
This article could use some additional resources for tables.

Note articles such as:
http://adrianroselli.com/2018/02/tables-css-display-properties-and-aria.html

https://webaim.org/techniques/tables/data

And an article coming out soon from Steve Faulkner will be appropriate here as well and may well indicate a few minor changes to the prose.

[2018-12-12 03:57] scottaohara opened #712 "Article Audit: How-to: Hide content"
The how to hide content article could use some minor updates to the prose, and link to additional resources that have extended information on this subject matter.

[2018-12-12 05:07] scottaohara opened #713 "Article Audit: future proof your accessibility"
Review/revise the prose and provide updated links and reference materials

[2018-12-12 21:32] ljgoslin opened #715 "Tips for management: how accessibility testing actually impacts your development process"
[Join our live webinar](https://accessibility.deque.com/tips-for-management-how-accessibility-testing-actually-impacts-your-development-process) to learn what accessibility testing actually looks like in your organization and development.

Tuesday, January 17th from 1:00-2:00PM EST

This webinar is geared towards those who have been recently tasked with accessibility, are starting to think about h

[2018-12-14 00:14] ericwbailey commented on #715
Closed via https://github.com/a11yproject/a11yproject.com/commit/e45ee7f1e41959b933df0070a0c9d2e3b57dcbda.

[2018-12-14 02:32] scottaohara commented on #605
closing this for now as we've hit the 6 month mark of inactivity.
thank you to everyone involved :)

[2018-12-14 02:32] #605 closed

[2018-12-14 16:10] RyanAaronGreen commented on #712
@scottaohara - I'll take this one on if no one else is already working through it

[2018-12-14 16:21] scottaohara commented on #712
go for it @RyanAaronGreen

i wrote a bit about this stuff as well if you want to reference:
https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
https://www.scottohara.me/blog/2018/05/05/hidden-vs-none.html

webaim could be one of the further reading links:
https://webaim.org/techniques/css/invisiblecontent/

thank you

[2018-12-15 19:57] alexroseb opened #716 "Using caption services with HTML5 video"
Reviewed for #669.
We should add some further resources and update the content a bit.

[2018-12-17 03:58] ericwbailey opened #717 "Add new utility/info pages"
I think we should add a few new pages to the site for the redesign.

Inspired by [It’s Beginning to Look a Lot Like XSSmas](https://24ways.org/2018/its-beginning-to-look-a-lot-like-xssmas/)/[snyk's `SECURITY.md`](https://github.com/snyk/snyk/blob/master/SECURITY.md). We're a static site, but I still think proactively it'd be a good thing to have.

Checklist of desired pages:

- [x] An [accessibili

[2018-12-20 22:10] scottaohara commented on #660
Assigning to myself.  Going to try and take a stab at revising this over the next week or so.

[2018-12-29 19:35] scottaohara opened #718 "Article Audit: How-to: Use role='application'"
the how to use role=application article isn't much of a how-to, but more of a high level warning against its use.  It'd be good if we expanded on this a bit to call out some of the problems that role application could cause a user, rather than just saying it'll cause headaches.

Additionally, we could add an example of a good use for role=application.

[2018-12-30 02:37] ericwbailey commented on #707
I have initial work here that captures what we've been discussing: https://github.com/a11yproject/a11yproject.com/blob/2019-redesign/eleventy/follow/index.njk

The design and content aren't finalized, but I figured I'd update this thread with progress for those who are interested.

[2018-12-30 03:02] ericwbailey commented on #707
We should also make sure that we submit a PR to Joe's list that includes anyone we have that he dosen't. @alexroseb, could I tap you to review them when you have a moment?

[2018-12-30 03:52] alexroseb commented on #707
@ericwbailey will do! I’m on vacation now but will be able to get back online in the new year.

[2018-12-30 18:38] ericwbailey commented on #707
Totally, thank you! Enjoy your time off :)

[2018-12-30 19:42] ericwbailey opened #719 "Rethink the homepage's content"
Right now it feels a little strange to be just dumped into the post categories with little explanation. What I'd like to do is:

- Explain what "a11y" means and point to [this article](https://a11yproject.com/posts/a11y-and-other-numeronyms/). I think it's important to stress how "a11y" speaks _specifically_ to web accessibility concerns.
- Point to the checklist as a good place to get started if

[2019-01-01 19:04] ericwbailey opened #721 "Do we need Patterns?"
It's tough to know what the end context will be for an implemented pattern, so my question is does this page do more harm than good if people are just copy/pasting the content?

Maybe we could rework it to something like Dave's [a11y nutrition cards](https://davatron5000.github.io/a11y-nutrition-cards/), where we provide guidance for the expected behaviors for the major UI components.

If we do ke

[2019-01-01 22:43] scottaohara commented on #721
I could see us keeping a pattern page, or a version of it. But I think explaining potential usage would help in some cases. Why is this pattern accessible, how should it be used. How could misuse make for a poor ux?

Definitely a lot to work with here, but as you said, we should audit and think on this some more.

[2019-01-04 16:45] dengeist commented on #719
Wish I had something more useful to say than "I agree." I think explaining a11y is _critical_, because people in this community often assume it is understood. Sometimes it isn't, and I default to saying "web accessibility" wherever I can because of it.

[2019-01-04 16:48] RyanAaronGreen commented on #721
My two cents - I know that I've benefited greatly from having patterns to look at when learning how to go about making a section accessible. Especially in the beginning when I didn't even know how to go about using javascript very well.

With that being said, maybe we can switch the focus of what's more important? Perhaps we can merge the cards AND the patterns into one thing where the focus is on

[2019-01-07 15:41] ljgoslin opened #723 "role=drinks San Diego Accessibility Kickoff!"
`[Join us for our role=drinks San Diego kickoff event](https://www.meetup.com/role-drinks-SD/events/257721676/)`! Whether you're an accessibility guru or are just curious about what exactly web accessibility and inclusive design are, this meetup is for you. This group is for designers, developers, project managers, execs... really anyone involved in building web products. Let's get together, netwo

[2019-01-07 15:43] ljgoslin commented on #715
Hey Eric, this is on January 17th - looks like it is showing under past events. Could you please update? Thanks!

Cheers - Laura

[2019-01-07 16:51] ericwbailey commented on #715
My bad, sorry. I'll get to this and https://github.com/a11yproject/a11yproject.com/issues/723 now.

[2019-01-07 16:58] ericwbailey commented on #715
[All set](https://github.com/a11yproject/a11yproject.com/commit/774929c6f3864acc9bd1d19316d538c93a590532)!

[2019-01-07 16:58] #715 closed

[2019-01-07 16:58] ericwbailey commented on #723
Closed via https://github.com/a11yproject/a11yproject.com/commit/774929c6f3864acc9bd1d19316d538c93a590532. Thank you!

[2019-01-07 16:58] #723 closed

[2019-01-07 17:14] alexroseb commented on #707
Done! https://github.com/joe-watkins/top-people-to-follow-in-web-accessibility/pull/41

[2019-01-07 17:37] ericwbailey commented on #707
Awesome! Thanks!

[2019-01-08 18:48] ljgoslin opened #724 "What to look for in an accessibility vendor"
[Join our live webinar](https://accessibility.deque.com/what-to-look-for-in-an-accessibility-vendor?hsCtaTracking=4a4292ff-4750-4a51-875d-07870402e873%7C96b89eae-ef33-4abd-a691-8c355fd19695): Reference and apply these key business requirements when evaluating accessibility vendors. January 29th, 1:00-1:30PM EST.

Without accessibility expertise, evaluating accessibility vendors can be a difficult

[2019-01-08 18:49] ljgoslin commented on #723
This is showing up under 2018 instead of 2019 on the events page.

[2019-01-09 15:59] ericwbailey commented on #724
Closed via https://github.com/a11yproject/a11yproject.com/commit/429bd3070f9fed6d01ca80ed94882a844658790e.

[2019-01-09 15:59] #724 closed

[2019-01-09 16:00] ericwbailey commented on #723
Sorry about that, it should be fixed now. If it helps, I've already written 2 checks dated 2018 this year, and it's only January.

[2019-01-12 20:56] resource11 commented on #513
<raises hand to contribute a few component patterns>

[2019-01-15 14:57] ljgoslin opened #726 "Mobile Office Hours: Deque mobile updates with dedicated time for Q&A"
[Join our live, open office hours](https://accessibility.deque.com/mobile-office-hours-webinar) on February 12th from 1:00-2:00PM EST to stay up-to-date on all things Deque mobile (iOS & Android) and  come prepared with your outstanding mobile accessibility questions!

This session will be hosted by our mobile expert, **Chris McMeeking**. Chris has 5+ years of mobile application development experi

[2019-01-15 18:15] ericwbailey commented on #726
Closed via https://github.com/a11yproject/a11yproject.com/commit/9dc0721d7ce1b6373655e3381ff08d341569b79a.

[2019-01-15 18:15] #726 closed

[2019-01-16 14:21] deconspray opened #727 "Event: Nurturing a Neurodiverse Workplace"
Wednesday, January 23, 2019
6:30 PM to 7:30 PM
Nurturing a Neurodiverse Workplace
https://www.meetup.com/a11ychi/events/257913463/
Live stream: https://www.youtube.com/watch?v=BQMMDNLYTgk
Live captions: http://www.streamtext.net/player?event=CDA

Join us for a talk about growing a neurodiverse work team! Amy Johnson will share her experiences in using her self-awareness as a tool in her work and a

[2019-01-16 14:44] ericwbailey commented on #727
Thanks for the submission, Dennis!

Closed via https://github.com/a11yproject/a11yproject.com/commit/d56a6c424e00623287b2ec4fde995bf872bc1b91.

[2019-01-16 14:44] #727 closed

[2019-01-16 21:17] mbozz opened #728 "Cleveland Accessibility January Meetup Digital Accessibility 101"
[Digital Accessibility 101 - The Basics](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/257287270/)
Digital accessibility means that your website, mobile app, or electronic documents like PDF files can be navigated and understood by all users, including those with visual, auditory, motor, or cognitive disabilities. This presentation will cover the fundamentals of inclusive design and

[2019-01-16 21:18] mbozz opened #729 "Cleveland Accessibility February Meetup - Local Accessibility Projects and Assistive Technologies"
[Local Accessibility Projects and Assistive Technologies](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/258068572/)
Local accessibility experts discuss successful accessibility projects and introduce you to assistive technologies for people with vision loss.
https://www.meetup.com/Cleveland-Accessibility-Meetup/events/258068572/
#A11yCLE

[2019-01-16 21:40] ljgoslin opened #730 "4th Annual Axe-Hackathon"
[Join our in-person hackathon](https://www.eventbrite.com/e/axe-hackathon-2019-tickets-54988465982) that is post-CSUN at the Anaheim Marriott on Saturday, March 16th from 10:00AM-3:00PM PST.

Contribute to making the web accessible to people with disabilities at the 4th Annual axe-Hackathon on March 16th, 2019. The Hackathon will be led by [Wilco Fiers](https://twitter.com/wilcofiers) and other me

[2019-01-17 02:38] ericwbailey commented on #728
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/6ba663cdc2973344efb337b900b08423de463e7f and https://github.com/a11yproject/a11yproject.com/commit/3b0a2ada2090c6009faa13a2774a60bb70c5cebc.

[2019-01-17 02:38] #728 closed

[2019-01-17 02:38] ericwbailey commented on #729
Closed via https://github.com/a11yproject/a11yproject.com/commit/6ba663cdc2973344efb337b900b08423de463e7f and https://github.com/a11yproject/a11yproject.com/commit/3b0a2ada2090c6009faa13a2774a60bb70c5cebc.

[2019-01-17 02:38] #729 closed

[2019-01-17 02:38] ericwbailey commented on #730
Closed via https://github.com/a11yproject/a11yproject.com/commit/6ba663cdc2973344efb337b900b08423de463e7f and https://github.com/a11yproject/a11yproject.com/commit/3b0a2ada2090c6009faa13a2774a60bb70c5cebc.

[2019-01-17 02:38] #730 closed

[2019-01-22 03:42] accesstosuccess opened #731 "Conference & Demo: Business Built on Inclusive Design"
Join us on Feb 5th, 2019 in Toronto as we deep dive into how businesses, large and small, are being commercially successful using the concept of Inclusive Design. Inclusive design encourages designing for the 'excluded user' and thereby extending a product or service to many more. The event will feature 4 short talks, a hands-on demo and a case competition for MBA students. Learn more and register

[2019-01-22 13:20] ericwbailey commented on #731
Thanks for submitting an event. For regional events, [we require a location](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events). I was unable to locate one on [your website](http://accesstosuccess.ca/), would you mind providing us an address to list?

[2019-01-22 16:44] accesstosuccess commented on #731
The event is at the Rotman School of Management, University of Toronto.
105 St George St
Toronto, ON
M5S 3E6

[2019-01-22 23:48] ericwbailey commented on #731
Thank you! Closed via https://github.com/a11yproject/a11yproject.com/commit/d55de2f2cb0f887816d5b055616840a650ef6b45

[2019-01-22 23:48] #731 closed

[2019-01-31 23:23] nas5w opened #736 "Question: Comprehensiveness of Web Accessibility Checklist"
Hi all, fantastic work on the a11yproject.com site and I look forward to the redesign!

I was browsing the [Web Accessibility Checklist](https://a11yproject.com/checklist) and noted that, while everything on it seems really sound and in accordance with WCAG guidance, there are potentially missing items. For example, one item I would expect to see is in reference to ficker/flash/blink rate of any e

[2019-01-31 23:45] scottaohara commented on #736
Hey @nas5w, thanks for opening the issue!

The checklist has actually been a topic we've started talking about, and definitely will be getting some revising with the current website redesign project.  So this is definitely a good time to be raising ideas for improving it.

cc @svinkle @ericwbailey

[2019-02-01 00:03] nas5w commented on #736
Great, thank you! The WCAG 2.1 guideline is huge, so it's hard to envision a comprehensive checklist that isn't also huge. One ambitious idea I've had is to have a checklist generator of sorts: answer questions about your application and a checklist with only applicable items is generated. Not sure how that would work in practice!

[2019-02-01 16:33] sebacicltd commented on #736
I'm new to A11y, and I'm coming to it from a language perspective, but I'm
really keen on a checklist too, as I'll be building websites for local
government services.

I love the idea of the questionnaire to narrow down the need to check every
item (Any flashing? NO. Ignore Guideline 2.3 Seizures and Physical
Reactions)

Checking through this guideline, I've just learnt that parallax scrolling
is

[2019-02-01 17:41] ericwbailey commented on #736
Thank you for the feedback, @sebacicltd. That is definitely one of the bigger-picture goals of the redesign, one that we've been actively discussing.

The problem to beat is the unknown unknowns, as you illustrated with parallax scrolling. And as @nas5w pointed out WCAG is comprehensive to the point of being difficult to get a quick answer, too.

We want to make the checklist good enough that it c

[2019-02-01 20:12] ericwbailey opened #737 "Move off of Google Analytics"
I think there's value in discussing migrating away from Google to use a service that is more privacy conscious. I've been looking at [Simple Analytics](https://simpleanalytics.io/) as an alternative, especially now that we have a budget for it.

[2019-02-01 21:11] ericwbailey opened #738 "Make sure redirects work"
We want to ensure our content is still capable of being read if our URLs change with the redesign. This is to preserve links that exist on other sites.

[2019-02-02 00:09] nas5w commented on #736
Yes please! I would love to be involved in whatever way could help.

[2019-02-03 18:35] mbozz opened #739 "World IA Day 2019 - Kent, OH"
Get your tickets now for **[World IA Day in Kent, Ohio](https://www.eventbrite.com/e/world-ia-day-2019-kent-oh-tickets-54812055333)**. Saturday, February 23rd, this full-day event features amazing speakers from Northeast Ohio's top companies and surrounding states. Inclusive Design and A11y topics are on the agenda. Tickets are free for this event. **[Reserve your spot now](https://www.eventbrite.

[2019-02-04 15:13] ericwbailey commented on #739
Closed via https://github.com/a11yproject/a11yproject.com/commit/88817711acd69315c605708fdb17c34d206cc72d. Thank you!

[2019-02-04 15:13] #739 closed

[2019-02-06 16:06] ljgoslin opened #740 "How Accessibility Testing Actually Impacts Developers"
February, 26th from 1:00-1:30PM EST

[Join our live webinar](https://accessibility.deque.com/how-accessibility-testing-actually-impacts-developers) to learn about the scope of accessibility and its potential impact on your day to day job as a developer.

Developers are often told to make their websites accessible like it is an easy light switch you turn on or off. Accessibility is necessary to mak

[2019-02-07 01:24] ericwbailey commented on #740
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/547b5bc90504ff2a38688561126955907ffe27c9.

[2019-02-07 01:24] #740 closed

[2019-02-15 10:01] emmasax opened #741 "Article: Quick tip: Creating valid and accessible links"
Been wanting to write an article about links for a long time. They are seemingly so simple but are just as simple to mess up for accessibility.

[2019-02-15 10:07] emmasax commented on #741
I don't seem to have access rights to push my branch. `ERROR: Permission to a11yproject/a11yproject.com.git denied to emmasax.` 😢

[2019-02-22 19:32] scottaohara commented on #741
closed via #742

[2019-02-22 19:32] #741 closed

[2019-02-22 23:57] scottaohara commented on #721
been thinking of this some more lately and i do like Ryan's take here.

the patterns by themselves are neat...but problematic in that there is little in the way of reasoning or indication if the pattern is still appropriate with the ever changing technology landscape.

I think we should be mindful about the patterns we choose to showcase and how we present them in the redesign.

[2019-02-25 19:05] ljgoslin opened #743 "How to convince your boss to care about accessibility"
March, 7th from 1:00-1:30PM EST

[Join our live webinar](https://accessibility.deque.com/how-to-convince-boss-care-about-accessibility) to learn about best practices and real-life examples of how to convince your boss to care and prioritize accessibility at your organization.

Before accessibility is prioritized at an organization, there is oftentimes a lone developer or small group that cares abo

[2019-02-25 19:55] ericwbailey commented on #743
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/051a318246e8e52f18e3fcd07866f32c3423475e.

[2019-02-25 19:55] #743 closed

[2019-02-27 17:58] tmcw opened #745 "maximum-scale advice is not entirely true"
## Summary

On a device with iOS >= 10

- Focus the input on this page, which includes maximum-scale=1 https://max-scale-test-2lgyfhbw3.now.sh/
- Focus the input on this page, which does not https://max-scale-test-2lgyfhbw3.now.sh/index-no.html

### Expected result

Reading the page about [maximum-scale](https://a11yproject.com/posts/never-use-maximum-scale/), I'd expect that maximum-scale does no

[2019-02-28 00:33] mbozz opened #746 "Cleveland Accessibility March Get-Together... and Book Club!"
**[Cleveland Accessibility March 21, 2019 Meetup](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/259335332/)** will be a social/networking gathering to discuss the Book "A Web for Everyone" by Sarah Horton & Whitney Quesenbery.

This book gives practical advice and examples of how to create sites that everyone can use, and uses individual personas to focus attention on the essential

[2019-02-28 00:56] ericwbailey commented on #745
Thanks for this, @tmcw. If you'd like to submit a PR to the article to clarify, we'd be happy to incorporate your findings. Have you tested with other mobile browsers such as Android?

[2019-02-28 03:54] ericwbailey commented on #746
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/df3d13b4c2f49f6c33f977348a2bc40ea29ff7a3.

[2019-02-28 03:54] #746 closed

[2019-03-06 08:43] erhinehalt opened #749 "Adding Equidox to resources"
Equidox is a big supporter of the a11y movement. I propose adding Equidox under the resources tab in the professional help category as well as a link to PDF remediation tools in the PDFs category. Here are the links, respectively:

https://equidox.co/
https://equidox.co/equidox-briefs/

[2019-03-06 23:18] ericwbailey commented on #749
Thank you for the submission of https://github.com/a11yproject/a11yproject.com/pull/748. Unfortunately, as noted in the [contributing guidelines](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#submitting-content), we try not to feature content that has a high cost of entry.

If you have public resources such as blog posts that feature advice, we'd love to add that ins

[2019-03-06 23:29] erhinehalt commented on #749
would I be able to list the PDF remediation tools and not the professional services? or vice versa? I'm just curious which part is of concern here as Equidox has lower-cost options than the resources that are already listed and the PDF remediation tools I posted are free and informative

[2019-03-07 02:52] ljgoslin opened #752 "What to expect from an accessibility audit"
April 9th from 1:00-2:00PM EST

[Join our live webinar](https://accessibility.deque.com/what-to-expect-from-an-accessibility-audit) to learn the scope of an accessibility audit and how it can jumpstart your organization’s accessibility journey.

If your organization is just starting to learn about accessibility, it can be difficult to know where to start. Free automated testing tools, such as axe,

[2019-03-07 20:20] dennisgaebel commented on #749
Hi @erhinehalt. Thanks for filing this issue as I suggested when you first sent me your e-mail request.

In response to your comment:

This is the mention in the [guidelines](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#submitting-content) that Eric is referencing…

Forgive me if I'm missing something, but I don't see anything that lets someone execute these PDF tas

[2019-03-07 21:41] erhinehalt commented on #749
I totally understand that it's not an instantaneous process and my apologies for submitting a pull request before this issue. I'm still pretty new to github etiquette at this point, go easy on me! The blog is informative and getting better and better content as it progresses if I do say so myself. I suppose the website does not reflect that Equidox has developed a brand new tool, that we are using

[2019-03-09 15:07] ericwbailey commented on #752
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/f07881bf11855b0f939973ae28b50fd58a715ef3.

[2019-03-09 15:07] #752 closed

[2019-03-12 14:22] dennisgaebel commented on #749
Hi @erhinehalt we appreciate your interest, but after reviewing your blog with our team we don't feel it is the best fit for our resources page as much of your content is duplicated on other resources we currently have listed. Finally, please feel free to file another issue regarding your PDF tool once you have it available to the public. We wish you luck and appreciate your continued support of t

[2019-03-12 14:22] #749 closed

[2019-03-14 14:37] michaelspellacy commented on #716
In addition to new resources, I would love to see some guidance on implementing audio descriptions.

[2019-03-14 14:39] michaelspellacy commented on #12
HOWTO: Implementing Audio Descriptions

[2019-03-16 23:27] WayneEDick commented on #710
You do know that titles are very useful for people with impaired sight who do not use screen readers.  Also, the title attribute is part of the accessible name algorithm.

Frustration with screen reader use of the title attribute is more likely improper default cases for screen readers. Remember, screen readers have to stretch their assumptions beyond WCAG and ARIA because most sites have many fai

[2019-03-16 23:39] ericwbailey commented on #710
Thanks for your feedback, @WayneEDick. We're currently redesigning, and this is a concern of mine. Are there any areas in particular that stand out to you to focus efforts on? Namely, I would love first-hand info to work from.

[2019-03-17 17:41] WayneEDick commented on #710
Let me see if I can dig up some examples. A lot comes down to verbosity
parameters. I turn mine to the bottom to avoid too much chatter, but other
people need greater verbosity. Let me talk to a few friends that use other
screen readers.

One very difficult problem has been to establish guidelines for assistive
technology. It took a very long time for ARIA adoption. We would teach
developers how t

[2019-03-19 01:55] ljgoslin opened #754 "Mobile Office Hours: Axe for Android Open Source Announcement and Q&A"
**Monday, March 25th from 1:00-2:00PM EST**

[Join our live webinar](https://accessibility.deque.com/mobile-office-hours-axe-for-android-and-qa) to learn about Deque’s newest announcement: Open sourcing axe for Android!

This session will be hosted by our mobile expert, Chris McMeeking. Chris has 5+ years of mobile application development experience and has worked with the Android Open Source Proj

[2019-03-19 22:43] ericwbailey commented on #754
Closed via https://github.com/a11yproject/a11yproject.com/commit/8ac4c233c2b7c1686d08aa4318954995a7f2d7a1. Thank you!

[2019-03-19 22:43] #754 closed

[2019-03-21 20:21] clarksara opened #755 "Add Web Accessibility Summit"
## Title

### Description

### URL

### Date

### Type

### Address (if Regional)

### Map (optional)

### Hashtag (optional)

[2019-03-21 22:34] tiffanytse opened #756 "Add Pixel Pioneers A11Y workshop"
## Title
Web Accessibility for Developers: Essential Tools for Inclusive Coding (Pixel Pioneers Workshop)

### Description
In this one-day workshop, led by Tiffany Tse and Scott Vinkle of Shopify, you will explore the core concepts of web accessibility, what it is and why writing inclusive code is so important. Throughout the workshop, you’ll learn best practices, how to use and test with a screen

[2019-03-21 22:49] #755 closed

[2019-03-21 22:52] #756 closed

[2019-04-02 14:17] mbozz opened #759 "Cleveland Accessibility April Meetup: CSUN Assistive Technology Conference Recap 2019"
A11yCLE April 29 Meetup: **[CSUN Assistive Technology Conference Recap 2019](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/260263110/)**

The CSUN Assistive Technology Conference is the largest conference in the world to focus on the field of assistive technology. The conference was held in Anaheim, California, March 11 to March 15, 2019. Over 350 presentations were on the agenda, a

[2019-04-05 15:12] Kolombiken opened #760 "T12t meetup - Global Accessibility Awareness Day"
## Description
Spotify will host us for our Global Accessibility Awareness Day (GAAD) meetup in their new headquarters in Stockholm. We have a great lineup of speakers – including international keynote [speaker Molly Watt](https://twitter.com/mollywatttalks), flying in from the UK.

## Info and Sign Up
More info [at meetup.com/t12t-stockholm](https://www.meetup.com/t12t-Stockholm/events/260048922/

[2019-04-06 05:19] ericwbailey commented on #759
Closed via https://github.com/a11yproject/a11yproject.com/commit/27cdeb6269bdf2a095a7f9ec3a1aaba703a6e938. Thank you!

[2019-04-06 05:19] #759 closed

[2019-04-06 05:19] ericwbailey commented on #760
Closed via https://github.com/a11yproject/a11yproject.com/commit/27cdeb6269bdf2a095a7f9ec3a1aaba703a6e938. Thank you!

[2019-04-06 05:19] #760 closed

[2019-04-09 21:00] ljgoslin opened #761 "2018 Accessibility Trends"
2018 was a big year in Accessibility, join us in a recap of the major trends!

[This session](https://accessibility.deque.com/2018-accessibility-trends) is hosted by Deque's CEO, Preety Kumar, on **Thursday, April 25th** from **2:00-3:00PM EST**

Major tech and retail companies are showing up to (and sponsoring) accessibility conferences. More and more companies seem to have an interest in accessi

[2019-04-12 14:32] ericwbailey commented on #761
Thanks! Closed via https://github.com/a11yproject/a11yproject.com/commit/9d72b0b97ad5b8287b9e26e33b92c086e95e2d39.

[2019-04-12 14:32] #761 closed

[2019-04-12 20:26] PantsStatusZero opened #763 "A complaint for the children: what about learning disabilities?"
## Summary
There is a recurring issue in list and attempts to make software available to people with disabilities, which sadly a11y also falls victim to. Which is that learning disabilities are a class of disability and people with learning disabilities use computers and therefore the internet.

### Major Follies

Screen readers are designed with visually impaired people in mind. The default setti

[2019-04-13 01:05] ericwbailey commented on #763
Hi @PantsStatusZero, is this intended to be a post?

[2019-04-13 01:11] PantsStatusZero commented on #763
Yes, I think it's a valid bug. You could consider it has a further question about the completeness of the web accessibility checklist.  

    On Friday, April 12, 2019, 8:05:22 PM CDT, Eric Bailey <notifications@github.com> wrote:

Hi @PantsStatusZero, is this intended to be a post?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the t

[2019-04-13 16:18] ericwbailey commented on #763
Got it. What sources are you quoting for those blockquotes, and how would you intend these observations being worked into the checklist?

I agree that cognitive concerns are an important part, and one that we're trying to incorporate into the redesign.

[2019-04-14 00:53] asciidan opened #764 "Resources: Accessibility Developer Tools is deprecated"
As stated by Google in the extension overview, Accessibility Developer Tools is no longer supported and will become inaccessible in the near future. I suggest we remove it from the resources and instead add Axe Accessibility Testing by Deque (recommended by Google Accessibility).

[2019-04-15 13:25] #764 closed

[2019-04-15 13:26] ericwbailey commented on #764
I agree completely. Closed via https://github.com/a11yproject/a11yproject.com/commit/c2178a68b2f3ad26c563aeee68ed5fd0ec467076, thank you very much!

[2019-04-16 18:24] ljgoslin opened #766 "Mobile Office Hours: Accessible Carousels"
**Monday, April 29th from 2:00-3:00PM EST**

[Join this technical discussion](https://accessibility.deque.com/mobile-office-hours-accessible-carousels) about our learnings from implementing an Accessible Android Carousel and why user empathy was our biggest challenge.

This session is hosted by our mobile expert, **Chris McMeeking**. Chris has 5+ years of mobile application development experience

[2019-04-17 07:35] marcbiemer opened #767 "Munich Accessibility Meetup - GAAD Event & Group Listing"
### GAAD Event
Hello a11yproject, our Meetup group in Munich is organising an event for the GAAD 2019, hosted at Microsoft Munich. We would be very happy, if you could list our event.
[See our GAAD event page](http://bit.ly/gaad-muc-19)

**Description:**
Together with Microsoft, A11y MUC will be celebrating the eighth Global Accessibility Awareness Day (GAAD) in Munich! The purpose of the GAAD is

[2019-04-18 14:59] #766 closed

[2019-04-18 15:03] #767 closed

[2019-04-18 17:13] PantsStatusZero commented on #763
The quotes are mostly a first hand account, being a tech savvy person with a learning disability who has used text-to-speech and speech-to-text software on the internet. That said I could find supporting documentation on which disabilities, typical accommodations those relate to, and a couple real world examples of where those things have been an issue; if needed.

On how to in corporate them into

[2019-04-18 20:51] ericwbailey commented on #763
That would be fantastic! I think firsthand experience is a great thing to have, as well as cited sources.

Cognitive disability is something that I personally think is incredibly important to make people aware of, but I'm not too familiar with the space. So apologies if the tone seemed dismissive, I just wanted to make sure where you were coming from and that we'd be doing our due diligence by poi

[2019-04-18 20:55] sebacicltd commented on #763
Can I point you here...

Readability wiki

https://readabilityguidelines.myxwiki.org/xwiki/bin/view/Main/

On Thu, 18 Apr 2019, 22:51 Eric Bailey, <notifications@github.com> wrote:

[2019-04-19 08:00] robinmetral commented on #737
I can also recommend a self-hosted [Matomo](https://matomo.org/) instance, if you want to fully own analytics data (Simple Analytics is privacy-friendly, but it still collects some)

[2019-04-19 08:17] robinmetral opened #768 "Move off of Google Translate"
#511 and #700 already mention that translations are currently done via a Google Translate widget in the footer.

But if your browser is in another language, it's much more than just the footer:

![google-translate](https://user-images.githubusercontent.com/35560568/56414467-e34d1780-628a-11e9-973a-07cb95477936.png)

This raises a few issues:
 - Google scripts = tracking. In the same idea as #737,

[2019-04-19 08:28] Toyrone commented on #737
Hi! I realize this might not be the right place to say this. But I’m quite interested in contributing here, just not sure where my input would be needed. Thanks ☺️

[2019-04-19 14:42] ericwbailey commented on #768
No argument here. Could I trouble you for a PR, @robinmetral?

[2019-04-20 06:25] robinmetral commented on #768
Will do, you can assign me :slightly_smiling_face:

[2019-04-21 07:07] robinmetral commented on #737
One more option to consider is [Fathom](https://usefathom.com/).

Contributor @davatron5000 wrote about it in his blog: https://daverupert.com/2019/04/goodbye-google-analytics-hello-fathom/ :slightly_smiling_face:

[2019-04-21 12:05] #768 closed

[2019-04-21 14:49] alexroseb opened #771 "How to credit article editors"
This may have been addressed somewhere but I can't find it in contributing resources. Is there a standardized way to give credit to article editors? Also, should the publishing date be updated to reflect that the information is more recent/current? My main worry with that would be breaking links.

[2019-04-21 15:16] alexroseb commented on #716
@michaelspellacy That sounds like a great idea but I don't think it would fit with this one - you should absolutely create an issue for someone to add a new article!

[2019-04-21 15:20] alexroseb opened #773 "Article Audit: Use skip navigation links"
Reviewed as per #669. This article should be a little more fleshed out and some of the information seems a bit outdated (specifically the section about the JavaScript polyfill).

[2019-04-21 15:21] alexroseb commented on #669
Just reviewed the skipnav article, so I think all have been looked at and have issues created if they still need to be updated. I'm also going through and doing some of those updates!

[2019-04-21 15:22] alexroseb commented on #712
@RyanAaronGreen, are you still working on this?

[2019-04-21 15:30] RyanAaronGreen commented on #712
@alexroseb - unfortunately, shortly after I started I ended up putting it on the backburner and I  haven’t been actively working on it. But I’m still interested!

Is this something that you’re interested in writing?

[2019-04-21 15:31] alexroseb commented on #712
@RyanAaronGreen, no worries! Just going through and checking the status of old issues. Shall I assign it to you or open it up to others?

[2019-04-21 23:01] scottaohara commented on #669
thanks @alexroseb

going to close this since that's the last of the content that needed an audit.  thanks!

[2019-04-21 23:01] #669 closed

[2019-04-21 23:04] scottaohara commented on #771
original publish date stays the same as does author.

example of updated info that goes into the head of the markdown file:

[code]

dunno if this is going to be addressed further as part of the redesign.  but for now, that's how it's been handled.

[2019-04-21 23:19] alexroseb commented on #771
Thanks @scottaohara! I added a new section to the contrib guidelines to make this clear to all.

[2019-04-21 23:19] #771 closed

[2019-04-22 00:06] #716 closed

[2019-04-23 20:36] ljgoslin opened #777 "How Accessibility Testing Actually Impacts Quality Assurance (QA)"
**Tuesday, May 14th from 1:00-1:45PM EST**

[In this live webinar](https://accessibility.deque.com/how-accessibility-testing-actually-impacts-quality-assurance), you'll learn about the scope of accessibility and its potential impact on your day to day job as a QA tester or manager.

QA teams that are tasked with accessibility may be unfamiliar with the topic and unsure where to start. To achieve c

[2019-04-24 23:46] ericwbailey commented on #777
Closed via https://github.com/a11yproject/a11yproject.com/commit/50023f2d7f67279b10ada309634608829e5cf053. Thank you!

[2019-04-24 23:46] #777 closed

[2019-04-24 23:51] ericwbailey commented on #707
So, it's been a bit, and the PR has yet to be merged.

So here's a question: should we create that Twitter list on our A11Y Project Twitter account and use Joe's as a starting point? We can credit him on the site as the list's originator.

[2019-04-24 23:56] ericwbailey commented on #718
@scottaohara Should we close this now that the article audit is done?

[2019-04-25 00:00] ericwbailey commented on #668
@scottaohara: Do you think @alexroseb's recent work closes this issue?

[2019-04-25 00:01] #603 closed

[2019-04-25 00:19] scottaohara commented on #668
Yup.  missed closing this when we merged the PR.

closed by #774

[2019-04-25 00:19] #668 closed

[2019-04-25 07:26] szantaikaroly opened #778 "Budapest Accessibility Meetup"
## Title

### Description

### URL

### Date

### Type

### Address (if Regional)

### Map (optional)

### Hashtag (optional)

[2019-04-25 07:30] szantaikaroly commented on #778
Please include our meetup in the list of Meetup groups. Here is the link to the group: https://www.meetup.com/Budapest-Accessibility-Meetup/
Thanks!

[2019-04-29 12:24] mbozz opened #780 "Cleveland Accessibility #GAAD May 16, 2019 Meetup"
Join us on May 16th as we celebrate Global Accessibility Awareness Day! This is a co-hosted Meetup with **[Cleveland Accessibility](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/260995280/)** and UX Akron. The purpose of #GAAD is to encourage people to talk, think, and learn more about digital accessibility and inclusion.

RSVP: https://www.meetup.com/Cleveland-Accessibility-Meetup/

[2019-04-30 02:10] ericwbailey commented on #778
Thanks! Added via https://github.com/a11yproject/a11yproject.com/pull/781.

[2019-04-30 02:10] #778 closed

[2019-04-30 02:11] ericwbailey commented on #780
Closed via https://github.com/a11yproject/a11yproject.com/pull/781.

[2019-04-30 02:11] #780 closed

[2019-04-30 02:13] #745 closed

[2019-04-30 02:14] ericwbailey commented on #745
Closed via https://github.com/a11yproject/a11yproject.com/pull/751. Thank you, @tmcw!

[2019-05-06 15:19] #683 closed

[2019-05-09 17:24] virenv opened #785 "Incorrect title of the post-> myth-screen-readers-dont-use-javascript/"
Please review our Contributing guidelines:
https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#reporting-issues

## Summary
The title of the post **_["Myth screen reader dont use Javascript" is](https://a11yproject.com/posts/myth-screen-readers-dont-use-javascript/)_** not correct. Technically screen readers are don't communicate or use JavaScript. Also, JavaScript on webp

[2019-05-09 17:30] ericwbailey commented on #785
Assistive technology reads from the Accessibility Tree, which is modified by things like JavaScript. Screen readers can take action on items that are generated via JS, and that also triggers JS behavior.

Additionally, some AT can read and operate non-semantic HTML that has had its behavior modified by ARIA, and oftentimes this ARIA is applied by JS. It's not ideal, but providing this ability to p

[2019-05-09 17:54] virenv commented on #785
@ericwbailey : I do understand what the technical details are. I am a developer working on the Accessibility on Edge and Chromium browser.

`Assistive technology reads from the Accessibility Tree, which is modified by things like JavaScript. Screen readers can take action on items that are generated via JS, and that also triggers JS behavior.`

As far as I know, Javascript cannot modify the Access

[2019-05-09 17:58] ericwbailey commented on #785
What I am driving at is that your title suggests an unnecessary extra degree of complexity to the purpose of the article, which is to address the myth that AT users need an HTML-only experience. This stems from the old ([but still existing](http://www.mondaq.com/unitedstates/x/766354/IT+internet/DOT+Fines+Scandinavian+Airline+System+For+Violating+DOTs+Website+Accessibility+Requirements)) practice

[2019-05-09 18:04] virenv commented on #785
I am worried about the term "Screen Reader **_dont use_** JavaScript".  To best of my knowledge it is not correct and it is not representing what the article is about.

[2019-05-09 18:29] scottaohara commented on #785
Suggestion:
"Myth screen reader users don't use Javascript"

based on the short prose of the article, this revised title aligns with the intent of the original piece (specifically noting the WebAIM stat that indicates 98% of users have JS enabled).  This will still serve to debunk the myth that while in the past screen readers didn't work well with pages that were dynamically updated with JavaScri

[2019-05-10 02:38] virenv commented on #785
@scottaohara : Sounds good to me.

[2019-05-10 12:43] scottaohara commented on #785
closed by #786

thank you

[2019-05-10 12:43] #785 closed

[2019-05-11 18:12] ericwbailey opened #788 "Checklist enhancements"
See: https://github.com/a11yproject/a11yproject.com/pull/779#issuecomment-491527673

- [ ] Consider adding a dos and don'ts section to each checklist item.
- [ ] Consider adding a "further reading" section to each checklist item.
- [ ] Consider referencing each checklist item in a longer, more detailed post explaining why it's important.
- [ ] Provide a toggle to expand every item in checklist sec

[2019-05-17 11:48] Malvoz opened #792 "Article: "A primer to vestibular disorders" should mention `prefers-reduced-motion` MQ"
IMO, the section on [What should you consider](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/_posts/2013-05-15-understanding-vestibular-disorders.md#what-should-you-consider) should mention the `prefers-reduced-motion` media-query:

- https://developers.google.com/web/updates/2019/03/prefers-reduced-motion
- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-mot

[2019-05-17 14:23] scottaohara commented on #718
@ericwbailey totally missed this.

No.  The original article audit was to go through everything at a high level and to make sure everything was reviewed.  This, and many of the other issues that came out of that, are articles that need to be updated.

[2019-05-17 14:24] scottaohara commented on #792
Agreed @Malvoz.  Would you like to contribute to updating this piece?  I think that'd be a good addition.

[2019-05-17 14:33] ericwbailey commented on #718
Cool cool. Just trying to make sure we keep a tidy house.

[2019-05-17 15:55] scottaohara opened #793 "Setting up redirects for current website"
There be some issues with URLs not redirecting as expected which are likely tied to the site's very old jekyll build / gem files.

Investigating this a bit in a separate clone of the site, I was able to make redirects work and have files ending in .html correctly redirect to their file extension-less counter parts.

Going to attempt at creating a branch of the current site and do some careful dele

[2019-05-18 18:08] mbozz opened #795 "Cleveland Accessibility June Meetup: Digital Accessibility for Business, Developers, and Designers"
**June 5th** - **[Digital Accessibility for Business, Developers, and Designers](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/261028665/)**.
Presented by Level Access and hosted by Progressive Insurance and **[Cleveland Accessibility Group](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/261028665/)**. **RSVP:** https://www.meetup.com/Cleveland-Accessibility-Meetup/eve

[2019-05-19 15:59] #792 closed

[2019-05-19 16:07] ericwbailey commented on #795
@mbozz We're happy to include the event, but please provide a description that adhere's to [our issue template](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/.github/ISSUE_TEMPLATE/request-to-add-an-event.md#description).

[2019-05-26 14:59] #503 closed

[2019-05-29 19:13] amgolden opened #803 "Dropdown is not very accessible"
The first item on the home page, under "Menus" is "Dropdown."  The way this is currently coded, it is not very good for accessibility as there is no ability at all to interact with menu items using the arrow keys.  Once I activate a drop-down, the only way I can get past it is to tab through every single menu item and this can be quite cumbersome if the menu is very substantial.  (I once experienc

[2019-05-29 19:38] ericwbailey commented on #721
More ammo for distancing ourselves from actual implementations: https://github.com/a11yproject/a11yproject.com/issues/803

[2019-05-29 21:28] ericwbailey commented on #803
Thanks for the report, @amgolden. We're currently discussing what to do about [Patterns](https://github.com/a11yproject/a11yproject.com/issues/721), and this kind of info provides valuable context.

We'll take this into consideration as we move forward with the redesign, and see if we can make some shorter-term updates about these issues for that pattern as well.

[2019-05-31 16:36] webuxr opened #804 "TechDebt: Clean-up Footer Styling"
This ticket involves 4, very small, code-level issues I found in the a11yproject.com site footer that I feel can be fixed quickly, carries near zero risk for the site, and reduces tech debt.

After completing the work detailed below, a typical site user should not notice a thing while a developer/contributor might appreciate these small issues being cleaned-up.

## Summary
1. Remove inline `margin

[2019-05-31 16:45] webuxr commented on #804
I'm not quite sure how this relates to the [2019 Redesign](https://github.com/a11yproject/a11yproject.com/projects/1) project but I'm fixing these little things now will only help the effort.

[2019-06-01 20:58] golgistudio commented on #721
Just stumbled upon this site.  Very helpful!

I like the idea of the patterns, but agree that the current implementation could be improved.

The Salesforce patterns is along the lines of the nutrition cards mentioned above, but includes examples.
https://lightningdesignsystem.com/accessibility/patterns/accordion/

Here's another example
https://www.accessibility-developer-guide.com/examples/hiding

[2019-06-02 15:21] ericwbailey commented on #804
Hey @webuxr! This all sounds great to me—definitely feel free to get that PR submitted.

[2019-06-03 18:31] webuxr commented on #719
For @ericwbailey's first point, what about doing something as simple as adding an abbreviation element to the H1?
[code]

I mean, it might seem a tad hypocritical, since the numeronyms primer article states that A11Y is not an abbreviation (nor an acronym) but a numeronym instead. Regardless, the `<acronym>` element is discontinued and I'm not aware of a `<nuronym>` element that would suffice :)

[2019-06-03 22:58] #804 closed

[2019-06-03 23:03] ericwbailey commented on #719
@webuxr It's a nice idea, but I try to [follow Steve Faulkner's advice](https://developer.paciellogroup.com/blog/2019/03/short-note-the-abbreviation-appreciation-society/) when it comes to using `abbr`.

Here's a little sneak peek of how we're going to handle it with the redesign 🙂

<img width="556" alt="a11y stands for accessibility." src="https://user-images.githubusercontent.com/634191/58840026

[2019-06-04 02:02] scottaohara opened #808 "a11yproject needs a 404 page"
it just has the stock github pages 404, which is not helpful.

[creating a 404 page](https://help.github.com/en/articles/creating-a-custom-404-page-for-your-github-pages-site)

what's the content that goes here?

[2019-06-04 02:09] ericwbailey commented on #808
I like 404s that tell the user what happened, what they can do about it, and who they can contact about it. Not so much a fan of it being a place for a nerd joke with no other actionable information.

[2019-06-04 19:55] webuxr commented on #719
@ericwbailey That looks sweet, thanks for sharing. And I agree with Faulkner's thoughts about `abbr` and the not-so-accessible `title=""` attribute.

Anyhow, I'm looking forward to helping more and seeing things in the [redesign project](https://github.com/a11yproject/a11yproject.com/projects/1) gain momentum.

Keep me in mind for any front-end/UI dev tasks and I'll do my best to make myself avail

[2019-06-05 17:14] derek3play opened #809 "New Event Request: ACCESS 2019"
Hi there,
I would like to submit an accessibility event in Boston on October 3rd that many people might be interested in attending!

**Here is the event for free tickets to the event:**
https://eventbrite.com/e/access-2019-tickets-56415471193?discount=darkmatter

**Here is the description for the event:**
ACCESS is for the accessibility enthusiast. Attendees can hear from industry leaders on a11y

[2019-06-05 20:36] ericwbailey commented on #809
All set! https://github.com/a11yproject/a11yproject.com/commit/ef7cdfc1ae5a08294658f16c349cb5859ddd8e34

Maybe I'll see you there :)

[2019-06-05 20:36] #809 closed

[2019-06-05 21:10] derek3play commented on #809
Hey Eric,

Hope to see you there as well!
Can you make a quick change for us? I realized we added the wrong link for this and ended up getting too many responses for the free tickets. Can you change the Eventbrite URL to https://www.eventbrite.com/e/access-2019-tickets-56415471193?discount=astronaut?

Thanks,
Derek

[2019-06-05 21:10] derek3play commented on #809
Feel free to use the free ticket link for yourself :)

[2019-06-05 21:30] ericwbailey commented on #809
All set!

[2019-06-07 20:01] danseo-reisys opened #810 "install issue gemfile not found"
following the install steps.
git clone https://github.com/a11yproject/a11yproject.com.git
cd a11yproject.com
bundle install
Could not locate Gemfile

please advise.

[2019-06-07 20:41] scottaohara commented on #810
Hi @danseo-reisys,
You can do an `npm install jekyll` in the a11yproject directory.

There may be some redirect issues occurring when running the site locally due to some work we had to do to get redirects to work for the live site.  These are known issues that we're looking to get solved asap

[2019-06-07 21:12] danseo-reisys commented on #810
do you have any reference for running a11y on kubernetes or openshift?

[2019-06-07 21:17] danseo-reisys commented on #810
when i run npm, i get following.

npm WARN enoent ENOENT: no such file or directory, open '/root/gitrepos/setup-tools/A11y/a11yproject.com/package.json'
npm WARN a11yproject.com No description
npm WARN a11yproject.com No repository field.
npm WARN a11yproject.com No README data
npm WARN a11yproject.com No license field.

[2019-06-08 02:27] scottaohara commented on #810
yeh, those are also known, but shouldn't be a problem to actually loading the site itself.

the only issues you should actually run into are trying to navigate to the top level nav items.  the index and posts should load fine locally.

also if you comment out `- jekyll-redirect-from` prior to running `jekyll serve` in the command line, even the top level links will work locally.

believe it or not

[2019-06-18 01:25] ericwbailey commented on #795
Closed as the event has passed.

[2019-06-18 01:25] #795 closed

[2019-06-27 09:32] SebacicA11y commented on #808
And a Search bar too??

[2019-06-27 10:04] SebacicA11y commented on #721
I'm currently playing with Accordions, and the patterns available on The A11y Project are very helpful. But there are links to Scott O'Hara's GitHub, and he then links to ARIA authoring practices. These have different models and "requirements".  Reading the actual WCAG guidelines shows that Accordions require implementation across all four POUR principles.

As mentioned above, cut and paste from p

[2019-06-27 15:49] scottaohara commented on #721
@SebacicA11y this is exactly one of the issues with having these patterns here. There are different patterns which may be appropriate based on the content and desired ux of a document. Also, depending on which accordion pattern you are referring to, there are patterns which may be dated, in that they were appropriate patterns at the time they were created, but have fallen out of favor.

Taking Dav

[2019-06-27 16:05] SebacicA11y commented on #721
Interesting. So do Jaws and the other screen readers have suggested
patterns? I would have thought that it would be in their best interests to
clearly explain what works best with them.

On Thu, 27 Jun 2019, 17:50 scottaohara, <notifications@github.com> wrote:

[2019-06-27 16:49] scottaohara commented on #721
Screen readers and browsers implement support for ARIA based on the ARIA spec.

ARIA authoring practice guidelines (apg) document suggested methods to implement certain widgets / common components, but APG is not a specification and deviations can be made from these patterns if testing / feedback prove alternate configurations may work better.

In regards to `aria-controls`, there is no language i

[2019-06-27 17:38] SebacicA11y commented on #721
OK.
So, to my mind we need to "leverage a worldwide community of developer knowledge" and make patterns available from that community. Sure things will change, and people will add to the knowledge. But without the patterns I wouldn't be able to start to learn to read them.
For example, none of the patterns I have seen signposted on here are "copy and pasteable" but by looking at them I have learnt

[2019-06-28 03:06] ericwbailey commented on #808
Search would be nice. It's [a little tricky on a JAMstack](https://www.hawksworx.com/blog/adding-search-to-a-jamstack-site/) site, but I'd like to eventually have it.

[2019-06-30 13:51] scottaohara commented on #793
closed by work in #787 and #796

Any other redirect issues should be resolved via #738

[2019-06-30 13:51] #793 closed

[2019-07-01 18:06] elmnt commented on #810
I'm seeing the exact same thing. Tried running 'npm install jekyll' in the a11yproject directory, but that didn't seem to change anything. Any hints would be appreciated, thanks!

[2019-07-03 02:58] webuxr commented on #717
@ericwbailey I know things with the redesign are likely still in flux but I’m curious... are these loosely defined tasks more about seeking content creation (i.e.: copywriting, imagery, iconography, and/or art direction) ...or... more towards the brainstorming and ideation phase (if you will) and are seeking help with wireframes, rough page layout concepts, and/or even code-level page build-out?

[2019-07-03 23:57] ericwbailey commented on #717
Tagging @tatianamac, as this is relevant to her work.

We have overall aesthetics/art direction pinned down from Tatiana's work, but iconography is still a bit in flux as she continues to work. Layout is mostly reflective of the current site, a single main column of text with an accompanying sidebar or subdivision of content when it's capable of being supported.

For secondary-level pages, we've s

[2019-07-04 00:00] ericwbailey commented on #717
Somewhat unrelated to this issue's topic, but for code-level, we could also use help improving the gulp setup. I have a barebones runner right now, but I'd love it if we could get more mature features like better error handling.

[2019-07-04 00:08] ericwbailey commented on #719
I think we have addressed these concerns with @tatianamac's redesign work. Closing this.

[2019-07-04 00:08] #719 closed

[2019-07-04 00:10] ericwbailey commented on #721
Just want to keep the ball rolling here. What should we do in the near-term about issues like https://github.com/a11yproject/a11yproject.com/issues/803?

[2019-07-04 00:27] scottaohara commented on #721
We could do another pass of cleanup...

[2019-07-04 00:52] ericwbailey commented on #810
Just added a `Gemfile` and `.ruby-version` via https://github.com/a11yproject/a11yproject.com/pull/815, that should hopefully address the issue.

As for Kubernetes/Openshift, we have no plans to support containerization.

[2019-07-04 00:52] #810 closed

[2019-07-04 01:05] #803 closed

[2019-07-04 04:41] SebacicA11y commented on #717
I'm a better editor than writer, and some of these topics I would have no
idea what the content is. If we can open a Google doc for each page to
throw ideas into, I'll happily ask questions, ask for verification,
re-write etc so that I can understand it. Then I'll write it again so
anyone can understand it.

On Thu, 4 Jul 2019, 02:00 Eric Bailey, <notifications@github.com> wrote:

[2019-07-04 18:21] jeryj commented on #717
@ericwbailey, what kind of error handling did you have in mind? I might be able to help with that.

[2019-07-04 21:12] ericwbailey commented on #717
@jeryj Ooh, yes! We have a coversation going on here for a 404: https://github.com/a11yproject/a11yproject.com/issues/808

[2019-07-05 19:23] tatianamac commented on #717
Happy for the help anywhere! Frankly right now I'm not to the space where I feel like we can dole out GitHub-issue-level tasks quite yet. Once I get the infrastructure for a couple more pages and their child components, there will be work to do that I can more easily assign out.

[2019-07-10 17:16] ljgoslin opened #819 "The ROI of Digital Accessibility"
[Join our live webinar](https://accessibility.deque.com/roi-digital-accessibility-webinar) on August 20th from 1:00-2:00PM EST to learn more.

By making your website accessible, your organization can capture a huge, overlooked market share, reduce your legal risk, lower call-center costs, and boost brand value.

Building accessibility into your development process and reaching your compliance goal

[2019-07-10 20:26] ljgoslin opened #820 "What you need to report for the 21st Century Integrated Digital Experience Act (IDEA)"
[Join our live webinar](https://accessibility.deque.com/idea-act-webinar) on August 6th from 1:00-2:00PM EST to learn more.

The 21st Century IDEA Act requires that public service agencies report their state of Section 508 compliance to Congress by December 20, 2019.

While Section 508 was recently refreshed and the requirements have been around for a couple of decades, this brings a renewed focus

[2019-07-11 03:28] ericwbailey commented on #819
Closed via https://github.com/a11yproject/a11yproject.com/commit/0dd049d7383e73af370850cdd7370dfabb09faf4.

[2019-07-11 03:28] #819 closed

[2019-07-11 03:31] ericwbailey commented on #820
Closed via https://github.com/a11yproject/a11yproject.com/commit/0dd049d7383e73af370850cdd7370dfabb09faf4.

@ljgoslin: In the future, it would be great if you could adhere to [the Event issue template](https://github.com/a11yproject/a11yproject.com/issues/new?template=request-to-add-an-event.md). The time it takes to convert these issues into a format we can use adds up.

[2019-07-11 03:31] #820 closed

[2019-07-26 18:10] eschafer commented on #736
I like how the [WCAG Quick Reference](https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_customize) includes filters to narrow things down a bit. The way it's presented is still too much info at once for me, but I'd love if it was somehow simplified so that I could get a better overview of what's most relevant to what I'm working on.

I just realized that the A11y Project's checklist is

[2019-07-27 18:54] ericwbailey commented on #736
I don't believe it covers the full WCAG AA, but it is far more comprehensive in its current state than it was before. I'm unfamiliar with the Accessibility Insights checklist tool, but there typically is a lot of overlap with a lot of checklist-style tools as they try to address common inaccessible code and design patterns.

I would argue that any amount of checklist work on either tool would leav

[2019-07-28 02:57] matyus opened #825 "Code blocks in Posts"
## Summary

There seems to be inconsistency in how code blocks are formatted between various posts.

### Expected result

Code blocks should use the same syntax and the output should have syntax highlighting.

### Actual result

Some code blocks are syntax highlighted and some aren't.

- Markdown style indent: https://github.com/a11yproject/a11yproject.com/blob/00d814701f2559afbb8f764ab9fbb84cd020

[2019-07-28 03:07] scottaohara commented on #825
The reason for this variance is largely due to different authors over a span of many years.

If you'd like to clean this up, I say go for it, and thank you :)

[2019-07-28 13:17] #825 closed

[2019-07-28 14:00] scottaohara commented on #712
Closed by [this update](https://github.com/a11yproject/a11yproject.com/commit/f2b7649e2ec28e6a5ac9c0efc960363ca635fb0c)

[2019-07-28 14:00] #712 closed

[2019-07-28 15:11] #660 closed

[2019-08-01 13:48] kwiniarski97 opened #827 "Dialog labels not read using chrome + talkback in Incredible Accessible Modal Window"
## Summary
When you open _The Incredible Accessible Modal Window, Version 4_ in the Android with talkback it doesn't read dialog label. It reads that you focused first name field and nothing more.

### Expected result
Dialog label should be read announcing user that a dialog has been opened.

### Actual result
Dialog label wasn't read. Talkback read that you are editing field with no indication th

[2019-08-01 15:16] scottaohara commented on #827
Hi @kwiniarski97

This is an issue with TalkBack and/or Android Chrome, not with the dialog example.

Might you please file this bug with them?  Thanks.

[2019-08-01 15:16] #827 closed

[2019-08-02 16:58] mbozz opened #828 "Cleveland Accessibility August 2019 Meetup: Using Mockups to Find A11y Issues"
Nothing can take the place of user research and usability testing, but you don't have to put something in front of users to find many common accessibility issues. In this hands on activity, we'll guide you through how you can review a mockup to identify the usual suspects when it comes to accessibility. RSVP for our **[August 14th event in Cleveland:](https://www.meetup.com/Cleveland-Accessibility

[2019-08-19 20:15] ljgoslin opened #830 "IAAP & Deque Webinar: The Real Cost of Accessibility Complaints & Lawsuits"
Thursday, September 12th from 11:00AM-12:00PM ET - [REGISTER NOW](https://accessibilityassociation.formstack.com/forms/registration_real_cost_webinar)

Has your company received an accessibility complaint or lawsuit? Awareness of the true dollar costs associated with inaccessible content is critical.  Using this data you can build a case for sustained investment.

Providing accessible content is t

[2019-08-20 21:48] ericwbailey commented on #830
Closed via https://github.com/a11yproject/a11yproject.com/commit/be5d72a02703cbc37d571d4e5f9727eea4c14920.

@ljgoslin Again, we ask you adhere to [the contributing guidelines](https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events) and to [use the issue template](https://github.com/a11yproject/a11yproject.com/issues/new?template=request-to-add-an-event.md) when submitt

[2019-08-20 21:48] #830 closed

[2019-08-23 16:09] ljgoslin opened #831 "UX Virtual Panel: Inclusive Design vs. Universal Design vs. Accessibility"
[Join our live panel](https://accessibility.deque.com/accessibility-universal-design-inclusive-design-webinar) on September 24th from 2:00-3:00PM ET.

Is there a difference between the terms universal design, inclusive design and accessibility? In this virtual panel, our panelists will discuss the differences and similarities between these terms and what they ultimately mean in the context of mode

[2019-09-02 15:06] knagurski opened #833 "Bug: `localhost` link in Checklist"
The link to _"Non-text contrast"_ under _"Check the contrast for all icons"_ on the [Checklist page](https://a11yproject.com/checklist/#section-color-contrast) points to a `localhost` URL.

## Summary
1. Navigate to the [Checklist page](https://a11yproject.com/checklist/)
2. Scroll to the [_"Color contrast"_](https://a11yproject.com/checklist/#section-color-contrast) section
3. Expand the _"Check

[2019-09-02 15:26] #833 closed

[2019-09-02 15:26] scottaohara commented on #833
thank you @knagurski

[2019-09-03 21:25] Erioldoesdesign commented on #831
Ohh! this sounds awesome I'll be there :)

[2019-09-03 21:27] knagurski opened #835 "Add offline support"
## Summary
Currently a11yproject.com does not have offline support and does not pass Lighthouse PWA audits.

1. Open https://a11yproject.com
2. Click around site
3. Disconnect from network
4. Click around site

### Expected result
Pages and assets previously displayed should be retrieved from cache

### Actual result
Pages fail to load

[2019-09-04 18:42] suzannehillman opened #837 "Bug: Contribute link on https://a11yproject.com/ sends you somewhere confusing."
## Summary
Brief description of the issue. Please identify specific steps.

1. Go to https://a11yproject.com/
2. Click on the "Contribute on Github" button.
3. Be utterly confused as to what to do next.

### Expected result
I would have expected it to either have opened up "https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md" or (probably a better place to start) "https://

[2019-09-06 18:17] mbozz opened #838 "Cleveland Accessibility October Meetup: JAWS Inspect Tool and Manual Testing"
Cleveland Accessibility Oct 9th Meetup is **[JAWS Inspect: An Inclusive Approach To Manual Accessibility Testing](https://www.meetup.com/Cleveland-Accessibility-Meetup/events/264002876/)**. Larry Lewis of The Paciello Group will discuss manually testing content for screen reader performance and issues, and give a demo of the **[JAWS Inspect tool](https://www.meetup.com/Cleveland-Accessibility-Meet

[2019-09-07 02:15] ericwbailey commented on #838
Closed via https://github.com/a11yproject/a11yproject.com/commit/571fdc3be173234c74c32dfbf050e23bed81b7c3.

@mbozz In the future can you [use the issue template](https://github.com/a11yproject/a11yproject.com/issues/new?template=request-to-add-an-event.md) when submitting events? While we're happy to help promote the meetup, the time it takes to format them to work with our site adds up.

[2019-09-07 02:15] #838 closed

[2019-09-07 02:23] ericwbailey commented on #837
Thank you for submitting this issue, @suzannehillman. It's a really insightful observation.

To provide some background, the contributing documentation was only recently updated, while the contribute link has been a longtime part of the site.

Would you be interested in submitting a PR to address the issue, or would you prefer we make the update? We more than welcome community contributions!

[2019-09-09 18:53] suzannehillman commented on #837
Hi @ericwbailey,

I'm currently working on setting up the website on my machine so that I can do a PR - hopefully the instructions are sufficient. If not, I shall clearly need to update those, as well! (and find out where to get additional help)

[2019-09-09 18:57] ericwbailey commented on #837
That'd be great! Feel free to post in this issue if you run into anything, I'm happy to help if I can 🙂

[2019-09-09 19:09] suzannehillman commented on #837
First problem: "git@github.com:a11yproject/a11yproject.com.git" doesn't actually do anything useful (at least not in debian on windows). I had to use "git clone https://github.com/a11yproject/a11yproject.com" instead.

I was wondering why that would work, so wasn't shocked that it did not. I am curious, however, why that's what was put in the readme?

[2019-09-09 19:22] suzannehillman commented on #837
Ok, I've gotten the site up and running locally, but I cannot figure out which markdown files to edit to adjust that link. A grep on "ontribute" only shows me html files with the appropriate text, no others.

[2019-09-09 20:25] ericwbailey commented on #837
For the first part, that's on me for forgetting the `git clone` portion of the command (I wrote that section). I think you also raised a good point in that using https may be a lower barrier of entry than setting up SSH keys and all that. I'll make an update to that documentation soon.

For the second part: In Jekyll, anything that isn't a blog post is sourced from HTML templates and data from the

[2019-09-09 20:27] ericwbailey commented on #837
Another thing that's on my radar is moving our contributing content off GitHub and onto the site, so we don't have that jolt of jumping off the site onto GitHub, which can be very intimidating. That fix is a little down the line, however.

[2019-09-13 16:19] suzannehillman commented on #837
Right, ok. So I've edited the _layouts/archives.html file, and realized that I hadn't made my own branch. I've since done that and told it to push that branch to origin, and it's complaining that I don't have access (error 403). Do I need to update my ssh key somehow? (I ended up using the Fork GUI for git because I always forget how annoying it is to remember all the steps - I already have an ssh

[2019-09-13 17:26] #835 closed

[2019-09-13 17:27] ericwbailey commented on #835
Closed via https://github.com/a11yproject/a11yproject.com/issues/835.

[2019-09-13 17:36] alexroseb commented on #837
Hi Suzanne,
Since you’re not a member of the repository, you need to push your changes to your own fork (not just branch, your whole own fork) and open a pull request from that to a11yproject. Here’s a GitHub help link on that: https://help.github.com/en/articles/fork-a-repo.

[2019-09-13 18:05] suzannehillman commented on #837
@alexroseb Ah, thank you! It might be good to update the docs at https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md then - it talks about branches, but not forks. I couldn't remember what forks were for. :)

[2019-09-17 22:25] #837 closed

[2019-09-19 23:42] #828 closed

[2019-09-25 19:35] erinoerin commented on #674
@scottaohara Is this Issue open for other people to address?

[2019-09-25 21:10] scottaohara commented on #674
sure!  i assigned it to myself as a reminder.  anyone can pick it up though :)

[2019-10-02 00:55] b3u opened #844 "Bug: favicon not visible on light-themed browser"
## Summary
The favicon is completely white, which makes it invisible on a light ui.

Example:
  1. Go to a11yproject.com
  2. Look at favicon

### Expected result
My solution would be a dark favicon with a white border, making it visible on either a dark or a light background.

[2019-10-03 11:48] PhilipKrook opened #846 "Typo in checklist > controls"
### Finding the issue

### Actual result
There is a typo on line 2:
"Visible focus styles help people determine **_wihch_** interactive element has"

### Additional Information

Thank you all for a great and very helpful site!